<div keep-visible>
    <div class="box-fixed" ng-controller="EditEventCtrl">
        <div class="box form">
            <h2><i class="icon-pencil"></i>{{'visit.visit' | translate}}</h2>
            <div class="notes">
                <form name="visitForm" novalidate>
                    <div class="left">
                        <ul>
                            <li ng-show="editedEvent.cancelled != undefined">
                                <div translate>
                                    visit.visit-cancelled
                                </div>
                            </li>
                            <li>
                                <label>
                                    {{'visit.title' | translate}}:
                                </label>
                                <fieldset>
                                    <input type="text" id="titleinput" name="titleinput"
                                           placeholder="{{'visit.title' | translate}}"
                                           ng-show="isOwner"
                                           ng-model="editedEvent.title"
                                           ng-required="true"
                                           ng-minlength="3"
                                           typeahead="template.name for template in templates"
                                           ng-disabled="canEdit==false"
                                           ng-maxlength="255">
                                    <small class="error" ng-show="visitForm.titleinput.$error.minlength" translate>
                                        generic.validation.3-chars
                                    </small>
                                    <div class="btn-group" dropdown is-open="dropdown.isTileOpen" ng-hide="isOwner">
                                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                            {{editedEvent.title}}
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="template in templates"
                                                ng-click="editedEvent.title=template.name;onTemplateChange()">
                                                {{template.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'visit.visit-length' | translate}}:</label>
                                <fieldset>
                                    <input type="text" id="durationinput" name="durationinput"
                                           placeholder="{{'visit.minutes-length' | translate}}"
                                           ng-show="isOwner"
                                           ng-model="editedEvent.duration"
                                           ng-required="true"
                                           typeahead="duration for duration in durations"
                                           ng-minlength="2"
                                           ng-maxlength="3"
                                           ng-disabled="canEdit==false"
                                           ng-pattern="/^[1-9]+[0-9]+$/">
                                    <small class="error" ng-show="visitForm.durationinput.$error.pattern" translate>
                                        visit.validation.wrong-length
                                    </small>
                                    <div class="btn-group" dropdown is-open="dropdown.isDurationOpen" ng-hide="isOwner">
                                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                            {{editedEvent.duration}}
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="duration in durations"
                                                ng-click="editedEvent.duration=duration">
                                                {{duration}}
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'visit.visit-date' | translate}}:</label>
                                <fieldset ng-class="{'no-margin': !isOwner}">
                                    <timepicker
                                            ng-show="isOwner"
                                            ng-model="editedEvent.start"
                                            hour-step="1"
                                            minute-step="15"
                                            ng-disabled="canEdit==false"
                                            show-meridian="false"/>
                                    <div class="date-event">{{editedEvent.start | date: "dd-MM-yyyy"}}</div>
                                    <div ng-hide="isOwner">{{editedEvent.start | date: "HH:mm"}}</div>
                                    <small class="error" ng-hide="isDateValid" translate>
                                        visit.validation.date-in-future
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'visit.doctor' | translate}}:</label>
                                <fieldset>
                                    <div>
                                        {{editedEvent.doctor | userInfo:'withDegree'}}
                                    </div>
                                    <span><i class="icon-phone"></i> {{editedEvent.doctor.phone}}</span><br/>
									<span>
										<a href="mailto:mail@gmail.com">
                                            <i class="icon-mail"></i>{{editedEvent.doctor.email}}
                                        </a>
									</span>
                                </fieldset>
                                <div class="data-address">

                                </div>
                            </li>
                            <li>
                                <label>{{'visit.patient' | translate}}:</label>
                                <fieldset>
                                    <input type="text"
                                           placeholder="{{'visit.patient' | translate}}"
                                           typeahead="user for user in findUsers($viewValue)"
                                           typeahead-loading="loadingUsers"
                                           typeahead-min-length="1"
                                           typeahead-editable="false"
                                           typeahead-on-select="onPatientSelected($item, $model, $label)"
                                           ng-model="editedEvent.patient"
                                           ng-show="isOwner"
                                           ng-disabled="canEdit==false"
                                           required>
                                    <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh">loading</i>

                                    <div ng-hide="isOwner">{{editedEvent.patient | userInfo}}</div>

                                    <span><i class="icon-phone"></i>{{editedEvent.patient.phone}}</span><br/>
									<span>
										<a href="mailto:mail@gmail.com">
                                            <i class="icon-mail"></i>{{editedEvent.patient.email}}
                                        </a>
									</span>
                                </fieldset>
                            </li>
                            <li>
                                <label class="full top">{{'generic.description' | translate}}:</label>
                                <fieldset>
                                    <textarea
                                            ng-model="editedEvent.description"
                                            placeholder="{{'generic.description' | translate}}"
                                            ng-disabled="canEdit==false"/>
                                </fieldset>
                            </li>
                            <li>
                                <label></label>
                                <fieldset>
                                    <button class="btn click" ng-click="cancelVisit()" ng-show="canCancel">
                                        {{'visit.cancel-visit' | translate}}
                                    </button>
                                    <button class="btn click" ng-click="save()" ng-disabled="visitForm.$invalid || editedEvent.location.id==undefined"
                                            ng-show="canEdit">{{'generic.save' | translate}}
                                    </button>
                                    <button class="btn click" ng-click="cancel()">{{'generic.cancel' | translate}}
                                    </button>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="box maps-address" ng-show="editedEvent.location.id==undefined">
                            {{'visit.no-location' | translate}}
                        </div>
                        <ul>
                            <li ng-show="isOwner">

                                <label>{{'visit.location' | translate}}:</label>
                                <fieldset>
                                    <div class="btn-group" dropdown is-open="dropdown.isLocationOpen">
                                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                            {{editedEvent.location.name}}
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="location in doctor.locations"
                                                ng-click="editedEvent.location=location">
                                                {{location.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>

                            </li>
                        </ul>
                        <div class="address">
                            <h2>{{editedEvent.location.name}}</h2>
                            {{editedEvent.location.address | addressInfo}}
                            <div class="row hour">
                                <h2>{{'visit.open-hours' | translate}}:</h2>

								<div class="box">
									<div ng-repeat="working in editedEvent.location.working_hours">
										<span>{{'days.' + working.day | toLowerCase | translate}}:</span>
										{{working.start | toLocalHours:working.tzOffset}} - {{working.end | toLocalHours:working.tzOffset}}<br/>
									</div>
								</div>
                            </div>
                        </div>

                        <div class="box maps-address">
                            <div class="maps" ng-hide="editedEvent.location.id==undefined">
                                <google-map address="editedEvent.location.address" title="editedEvent.location.name"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>