<section id="slider">
    <div class="content">

    </div>
</section>
<section id="about-us">
    <div class="content">
        <div class="row">
            <h2>Hevicado</h2>

            <h3>
                Ułatwia kontakt pomiędzy pacjentami i lekarzami. <br/>
            </h3>
        </div>
        <div class="row">
            <div class="wrapper-lt">
                <div><b style="color: red">HE</b>alth</div>

                <p>
                    Dbanie o zdrowie pacjentów.
                </p>
            </div>
            <div class="wrapper-lt">
                <div><b style="color: blue">VI</b>sit</div>

                <p>
                    Najważniejszy sposób komunikacji pomiędzy pacjentem a lekarzem.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="wrapper-lt">
                &nbsp;
            </div>
            <div class="wrapper-lt">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="wrapper-lt">
                <div><b style="color: green">CA</b>binet</div>

                <p>
                    Usprawnienie zarządzania gabinetem i terminarzem.
                </p>
            </div>
            <div class="wrapper-lt">
                <div><b style="color: red">DO</b>ctor</div>

                <p>
                    Łatwość odszukania odpowiedniego lekarza w dogodnym terminie i wybranym miejscu.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="offer">
    <div class="content">
        <div class="row">
            <div class="wrapper">
                <h2><span>Nasza oferta</span> & Nasz Produkt</h2>

                <p>
                    Quisque in nibh tellus. Ut facilisis massa scelerisque purus placerat bibendum. Aenean vel magna non
                    nunc rhoncus consectetur eu nec libero. Curabitur elementum libero eget dui auctor lacinia. Aenean
                    efficitur, tortor vel porta scelerisque, ex metus semper justo, vitae aliquet ex nisi non augue.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus
                    fermentum tellus lorem, sit amet ultricies magna vehicula a. Integer ultrices leo ut turpis
                    porttitor varius. Vivamus feugiat urna turpis, et pharetra diam fringilla sed. Ut venenatis nec mi
                    et consequat.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <h3><span>Jak to działa</span></h3>

                <p>
                    Quisque in nibh tellus. Ut facilisis massa scelerisque purus placerat bibendum. Aenean vel magna non
                    nunc rhoncus
                    consectetur eu nec libero. Curabitur elementum libero eget dui auctor lacinia. Aenean efficitur,
                    tortor vel porta scelerisque,
                    ex metus semper justo, vitae aliquet ex nisi non augue. Vestibulum ante ipsum primis in faucibus
                    orci
                </p>
            </div>
        </div>
        <div class="row icons">
            <div class="box">
                <div class="icon">
                    <div class="people"></div>
                </div>
                <p>
                    Zarejestruj się w serwisie

                <p>
            </div>
            <div class="box">
                <div class="icon">
                    <div class="loup"></div>
                </div>
                <p>
                    Zarejestruj się w serwisie

                <p>
            </div>
            <div class="box">
                <div class="icon">
                    <div class="doctor"></div>
                </div>
                <p>
                    Zarejestruj się w serwisie

                <p>
            </div>
            <div class="box">
                <div class="icon">
                    <div class="calendar"></div>
                </div>
                <p>
                    Zarejestruj się w serwisie

                <p>
            </div>
            <div class="box">
                <div class="icon">
                    <div class="list"></div>
                </div>
                <p>
                    Zarejestruj się w serwisie

                <p>
            </div>
            <div class="box">
                <div class="icon">
                    <div class="happy"></div>
                </div>
                <p>
                    Zarejestruj się w serwisie

                <p>
            </div>
        </div>
    </div>
</section>
<section id="benefits">
    <div class="content">
        <div class="row">
            <div class="wrapper-lt">
                <h2><span>Korzyści</span><br/> Twojego biznesu</h2>

                <p>
                    Cras diam turpis, convallis nec iaculis vel, fringilla sed quam. Morbi nibh tortor, ultrices vitae
                    aliquet aliquet, condimentum ac mi. Vivamus nec arcu tempus, cursus lorem et, venenatis est. Duis
                    consequat sapien eu semper varius. Nunc magna mi, semper nec laoreet eu, volutpat ut quam. Aliquam
                    vitae felis ullamcorper, pharetra ex ut, viverra neque.
                </p>

                <p>
                    Quisque in nibh tellus. Ut facilisis massa scelerisque purus placerat bibendum. Aenean vel magna non
                    nunc rhoncus consectetur eu nec libero. Curabitur elementum libero eget dui auctor lacinia. Aenean
                    efficitur, tortor vel porta scelerisque, ex metus semper justo, vitae aliquet ex nisi non augue.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus
                    fermentum tellus lorem, sit amet ultricies magna vehicula a. Integer ultrices leo ut turpis
                    porttitor varius. Vivamus feugiat urna turpis, et pharetra diam fringilla sed. Ut venenatis nec mi
                    et consequat.
                </p>
            </div>
            <div class="wrapper-rt">
                <div class="box">
                    <div class="graph-1" data-percent="70"></div>
                    <div class="describe">
                        Vivamus feugiat urna turpis, et pharetra diam fringilla sed.
                    </div>
                </div>
                <div class="box">
                    <div class="graph-1" data-percent="30"></div>
                    <div class="describe">
                        Vivamus feugiat urna turpis, et pharetra diam fringilla sed.
                    </div>
                </div>
                <div class="box">
                    <div class="graph-1" data-percent="50"></div>
                    <div class="describe">
                        Vivamus feugiat urna turpis, et pharetra diam fringilla sed.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="payment">
    <div class="content">
        <div class="row">
            <div class="title">
                <h2>
                    <span>Plany & </span> cennik
                </h2>

                <p>
                    Jesteś lekarzem? Chcesz prowadzić swój gabinet? Wybierz plan i zacznij działalność. <br/>
                    Plan może być anulowany w każdej chwili. Podane ceny są cennami <b>brutto</b>.
                </p>
            </div>
        </div>
        <div class="row boxes">
            <div class="box red">
                <div class="number">
                    1
                </div>
                <div class="name">
                    Darmowy
                </div>
                <div class="price">
                    0 zł
                </div>
                <div class="time">
                    miesięcznie
                </div>
                <div class="describe">
                    <ul>
                        <li>
                            Strona lekarza
                        </li>
                        <li>
                            Kalendarz lekarza
                        </li>
                        <li>
                            Dowolna ilość gabinetów
                        </li>
                        <li>
                            Ilość wizyt: 10
                        </li>
                    </ul>
                    <a href="#">
                        Wybierz pakiet <span></span>
                    </a>
                </div>
            </div>
            <div class="box violet">
                <div class="number">
                    2
                </div>
                <div class="name">
                    Mały
                </div>
                <div class="price">
                    50 zł
                </div>
                <div class="time">
                    miesięcznie
                </div>
                <div class="describe">
                    <ul>
                        <li>
                            Strona lekarza
                        </li>
                        <li>
                            Kalendarz lekarza
                        </li>
                        <li>
                            Dowolna ilość gabinetów
                        </li>
                        <li>
                            Ilość wizyt: 50
                        </li>
                    </ul>
                    <a href="#">
                        Wybierz pakiet <span></span>
                    </a>
                </div>
            </div>
            <div class="box blue">
                <div class="number">
                    3
                </div>
                <div class="name">
                    Średni
                </div>
                <div class="price">
                    100 zł
                </div>
                <div class="time">
                    miesięcznie
                </div>
                <div class="describe">
                    <ul>
                        <li>
                            Strona lekarza
                        </li>
                        <li>
                            Kalendarz lekarza
                        </li>
                        <li>
                            Dowolna ilość gabinetów
                        </li>
                        <li>
                            Ilość wizyt: 150
                        </li>
                    </ul>
                    <a href="#">
                        Wybierz pakiet <span></span>
                    </a>
                </div>
            </div>
            <div class="box green">
                <div class="number">
                    4
                </div>
                <div class="name">
                    Premium
                </div>
                <div class="price">
                    150 zł
                </div>
                <div class="time">
                    miesięcznie
                </div>
                <div class="describe">
                    <ul>
                        <li>
                            Strona lekarza
                        </li>
                        <li>
                            Kalendarz lekarza
                        </li>
                        <li>
                            Dowolna ilość gabinetów
                        </li>
                        <li>
                            Ilość wizyt: bez limitów
                        </li>
                    </ul>
                    <a href="#">
                        Wybierz pakiet <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news">
    <div class="content">
        <h2>
            <span>Aktualności & </span> Blog
        </h2>

        <div class="row lt">
            <div class="author">
                <img src="images/temp/author.jpg" alt="Autor">

                <p>
                    Bumblebee
                </p>
            </div>
            <div class="describe">
                <div class="date">
                    20.10.2013 r.
                </div>
                <div class="subject">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed purus sed urna interdum ultrices.
                    Aliquam varius mauris a laoreet vulputate. Maecenas vitae lectus sit amet metus vehicula rhoncus non
                    eget felis. Pellentesque in nisl sed eros varius lobortis vitae eu enim. Fusce at neque a turpis
                    pharetra volutpat non sed lacus. Nullam at tellus vel dolor tempor iaculis at sed enim. Duis sit
                    amet eleifend turpis.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed purus sed urna interdum ultrices.
                    Aliquam varius mauris a laoreet vulputate. Maecenas vitae lectus sit amet metus vehicula rhoncus non
                    eget felis. Pellentesque in nisl sed eros varius lobortis vitae eu enim. Fusce at neque a turpis
                    pharetra volutpat non sed lacus. Nullam at tellus vel dolor tempor iaculis at sed enim. Duis sit
                    amet eleifend turpis.
                </p>
            </div>
        </div>
        <div class="row rt">
            <div class="author">
                <img src="images/temp/author.jpg" alt="Autor">

                <p>
                    Optimus Prmie
                </p>
            </div>
            <div class="describe">
                <div class="date">
                    20.10.2013 r.
                </div>
                <div class="subject">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed purus sed urna interdum ultrices.
                    Aliquam varius mauris a laoreet vulputate. Maecenas vitae lectus sit amet metus vehicula rhoncus non
                    eget felis. Pellentesque in nisl sed eros varius lobortis vitae eu enim. Fusce at neque a turpis
                    pharetra volutpat non sed lacus. Nullam at tellus vel dolor tempor iaculis at sed enim. Duis sit
                    amet eleifend turpis.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed purus sed urna interdum ultrices.
                    Aliquam varius mauris a laoreet vulputate. Maecenas vitae lectus sit amet metus vehicula rhoncus non
                    eget felis. Pellentesque in nisl sed eros varius lobortis vitae eu enim. Fusce at neque a turpis
                    pharetra volutpat non sed lacus. Nullam at tellus vel dolor tempor iaculis at sed enim. Duis sit
                    amet eleifend turpis.
                </p>
            </div>
        </div>
        <div class="row more">
            <a href="#">
                Czytaj więcej
            </a>
        </div>
        <div class="social">
            <p>
                Odwiedź nasz profil na
            </p>

            <div class="icon">
                <a href="#" class="facebook"></a>
                <a href="#" class="twitter"></a>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="content">
        <h2>
            Masz pytania? Wątpliwości?
				<span>
					Skontaktuj się z nami
				</span>
        </h2>

        <div class="form">
            <form>
                <div class="row">
                    <input type="text" placeholder="Imię i nazwisko">
                    <input type="text" placeholder="Adres E-mail">
                    <input type="text" placeholder="Telefon">
                </div>
                <div class="row">
                    <textarea placeholder="Wiadomość"></textarea>
                </div>
                <div class="row">
                    <button>
                        Wyślij wiadomość
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>