<div id="wrapper-page" main-page animate-scroll>
	<section id="product-page">
		<section class="slider section" id="top">
			<ul class="bxslider">
				<li style="background:#00d6ab">
					<div class="content">
						<div class="middle">
							<h2>
								Wypróbuj nasz system za darmo do 1 sierpnia 2015
							</h2>
						</div>
					</div>
				</li>	
				<li style="background:#008dd6">
					<div class="content">
						<div class="middle">
							<h2>
								Zarządzaj efektywniej swoim gabintem
							</h2>
						</div>
					</div>
				</li>
				<li style="background:#ea5412">
					<div class="content">
						<div class="middle">
							<h2>
								Zwiększ w prosty sposób zadowolenie swoich pacjentów
							</h2>
						</div>
					</div>
				</li>						
			</ul>
		</section>
		<section class="about-us section" id="-about-us">
			<div class="content">
				<div class="middle">
					<div class="box health">
						Zdrowie i dobro pacjenta
					</div>
					<div class="box visit">
						Zarządzanie wizytami
					</div>
					<div class="box cabinet">
						Zarządzanie gabinetem
					</div>
					<div class="box doctor">
						Znajdź swojego lekarza
					</div>					
				</div>
			</div>
		</section>
		<section class="offer section" id="-offer">
			<div class="content">
				<div class="middle">
					<div class="row">
						<div class="wrapper">
							<h2><span>Gabinet</span> lekarza</h2>
						</div>
					</div>
					<div class="row">
						<div class="wrapper">
							<h3><span>Jak to działa?</span></h3>
							<p>
								Rejestrując się w naszym serwisie, dajemy Ci możliwość założenia elektronicznego gabinetu.
								Ilość gabinetów zależy tylko od Ciebie.
								<br/>
								Po rejestracji uzupełnij dane gabinetu, lokalizację, godziny pracy oraz specjalizację.
								Umożliwi to pacjentom odnalezienię Cię w prosty sposób i umówienie się w dogodnym dla nich terminie,
								ale na Twoich zasadamch.
								<br/>
								Ustal świadczone usługi i czas ich trwania.
								Dzięki temu Twój teminarz będzie bardziej dokładny, a pacjenci nie będą musieli czekać w kolejce.
							</p>
						</div>
						<div class="row icons">
							<div class="box">
								<div class="icon">
									<div class="people"></div>
								</div>
								<p>
									Załóż<br> konto
								</p>
							</div>
							<div class="box">
								<div class="icon">
									<div class="doctor"></div>
								</div>
								<p>
									Uzupełnij profil
								</p>
							</div>
							<div class="box">
								<div class="icon">
									<div class="list"></div>
								</div>
								<p>
									Uzupełnij dane gabinetu

								</p>
							</div>
							<div class="box">
								<div class="icon">
									<div class="calendar"></div>
								</div>
								<p>
									Zarządzaj terminarzem
								</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<section class="benefits section" id="-benefits">
			<div class="content">
				<div class="middle">
					<div class="row">
						<div class="wrapper-lt">
							<h2><span>Korzyści</span><br> Twojego gabinetu</h2>
							<p>
								Hevicado to nowoczesny gabinet dostępny z każdego miejsca w Polsce i na Świecie.<br/><br/>
								Nie trać czasu na odbieranie telefonów od pacjentów. Pozwól im na samodzielną rejestrację w Twoim gabinecie.<br/><br/>
								Zarządzaj swoim gabinetem i terminarzem jeszcze efektywniej dzięki wygodnemu i przejrzystemu interfejsowi serwisu.<br/><br/>
								Zapomnij o informowaniu pacjentów o wizycie lub o odwołaniu wizyty. Nasz serwis wyśle stosowną wiadomość do pacjentów za Ciebie.<br/><br/>
								Hevicado pozwali Ci skupić się na pracy, ograniczając sprawy administracyjne do minimum.
							</p>

						</div>
						 <div class="wrapper-rt">
							<div class="box">
								<div class="icon">
									<img src="images/icon-1.png" alt="24/7">
								</div>
								<div class="describe">
									Dostępnosć serwisu o każdej porze dnia i nocy
								</div>
							</div>
							<div class="box">
								<div class="icon">
									<img src="images/icon-2.png" alt="Time">
								</div>
								<div class="describe">
									Zredukuj czas oczekiwania do minimum. Szanuj czas pacjentów
								</div>
							</div>
							<div class="box">
								<div class="icon">
									<img src="images/icon-3.png" alt="Graph">
								</div>
								<div class="describe">
									Zwiększ satysfakcje i zadowolenie pacjentenów
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="payment section" id="-payment">
			<div class="content">
				<div class="middle">
					<div class="row">
						<div class="title">
							<h2>
								<span>Plany &amp; </span> cennik
							</h2>
							<p>
								Wybierz plan i zarejestruj konto w mniej niż minutę. <br/>
								Pamiętaj, konto można anulować w dowolnej chwili.							
							</p>
						</div>
					</div>
					<div class="row boxes ng-scope" ng-controller="UserPaymentPlanCtrl">
						<div class="box blue">
							<div class="number">
								1
							</div>
							<div class="name">
								Pacjent
							</div>
							<div class="price">
								0 zł
							</div>
							<div class="time">
								miesięcznie
							</div>
							<div class="describe">
								<ul>
									<li>
										Terminarz pacjenta
									</li>
									<li>
										Wyszukiwanie lekarzy
									</li>
									<li>
										Umawianie wizyt
									</li>
									<li>
										Dane kontaktowe
									</li>
								</ul>
								<a ng-show="user.id &amp;&amp; !isFreePlan()" ng-click="freePlan()" class="">
									Wybierz pakiet <span></span>
								</a>
							</div>
						</div>
						<div class="box green">
							<div class="free">
								Za darmo
								<span>do 1 sierpnia 2015</span>
							</div>
							<div class="number">
								2
							</div>
							<div class="name">
								Lekarz
							</div>
							<div class="price">
								50 zł <span>66,50 zł<br> (netto)</span> 
							</div>
							<div class="time">
								miesięcznie
							</div>
							<div class="describe">
								<ul>
									<li>
										Strona lekarza
									</li>
									<li>
										Kalendarz lekarza
									</li>
									<li>
										Dowolna ilość gabinetów
									</li>
									<li>
										Dowolna ilość wizyt
									</li>
								</ul>
								<a ng-show="user.id &amp;&amp; !isDoctorPlan()" ng-click="doctorPlan()" class="ng-hide">
									Wybierz pakiet <span></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="news section" id="-news">
			<div class="content">
				<div class="middle">
					<h2>
						<span>Aktualności </span>
					</h2>

					<div class="row lt">
						<div class="author">
							<img src="images/temp/hevicado.png" alt="Hevicado">
							<p>
							hevicado
							</p>
						</div>
						<div class="describe">
							<div class="date">
								01.05.2015 r.
							</div>
							<div class="subject">
								Zaczynamy
							</div>
							<p>
								Rozpoczynamy naszą działalność i wielką przygodę.
								Zachęcamy wszystkich do rejestracji w naszym serwisie. Rejestrując się dziś do 1 sierpnia będziesz korzystać z Hevicado za darmo.
								Nasze oprogramowanie jest w wersji beta (produkcyjnej). Nie oznacza to że nie działa poprawnie. W dalszym ciągu je rozwijamy i testujemy, po to aby było jak najlepsze.
								Dlatego czekamy na Wasze opinie i sugestie. Podziel się z nami swoimi spostrzeżeniami. Przyczyń się do rozwoju naszej aplikacji!
								<br/><br/>
								Z wyrazami szacunku<br/>
								Zespół Hevicado.
							</p>
						</div>
					</div>
					<!-- <div class="row more">
						<a>
							Czytaj więcej
						</a>
					</div> -->
					<div class="social">
						<p>
							Odwiedź nasz profil na
						</p>
						<div class="icon">
							<a href="https://www.facebook.com/hevicado" class="facebook"></a>
							<a href="https://twitter.com/Hevicado" class="twitter"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contact section" id="-contact">
			<div class="content">
				<div class="middle">
					<h2>
						Masz pytania?
						<span>
							Skontaktuj się z nami
						</span>
					</h2>
					<div class="form">
						<form action="mailto:hevicado@gmail.com" method="post" enctype="text/plain" class="ng-pristine ng-valid">
							<div class="row">
								<input type="text" name="Name" placeholder="Imię i nazwisko">
								<input type="text" name="Email" placeholder="Adres e-mail">
								<input type="text" name="Phone" placeholder="Telefon">
							</div>
							<div class="row">
								<textarea placeholder="Wiadomość"></textarea>
							</div>
							<div class="row">
								<input type="submit" name="submit" value="Wyślij wiadomość">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>