<section id="product-page">
	<section id="slider">
		<div class="content">

		</div>
	</section>
	<section id="about-us">
		<div class="content">
			<div class="row">
				<h2>Hevicado</h2>
			</div>
			<div class="row">
				<div class="wrapper-lt">
					<div><b style="color: red">HE</b>alth</div>

					<p>
						Zdrowie i dobro pacjenta.
					</p>
				</div>
				<div class="wrapper-lt">
					<div><b style="color: blue">VI</b>sit</div>

					<p>
						Zarządzanie wizytami.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="wrapper-lt">
					&nbsp;
				</div>
				<div class="wrapper-lt">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<div class="wrapper-lt">
					<div><b style="color: green">CA</b>binet</div>

					<p>
						Zarządzanie gabinetem.
					</p>
				</div>
				<div class="wrapper-lt">
					<div><b style="color: red">DO</b>ctor</div>

					<p>
						Szukanie lekarzy w dogodnym terminie i wybranym miejscu.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section id="offer">
		<div class="content">
			<div class="row">
				<div class="wrapper">
					<h2><span>Gabinet</span> lekarza</h2>
				</div>
			</div>
			<div class="row">
				<div class="wrapper">
					<h3><span>Jak to działa?</span></h3>

					<p>
						Dane gabinetu zawierają dane o lokalizacji, godzinach pracy oraz specjalizacjach. <br/>
						Dzięki temu pacjencji mogą odnaleźć Cię <br/>
						i umówić się w dogodnym dla nich terminie, ale na Twoich zasadach. <br/>
						Lekarz ustala dostępne typy zabiegów, na które pacjencji mogą się sami zapisywać.
					</p>
				</div>
				<div class="row icons">
					<div class="box">
						<div class="icon">
							<div class="people"></div>
						</div>
						<p>
							Załórz<br/> konto

						<p>
					</div>
					<div class="box">
						<div class="icon">
							<div class="doctor"></div>
						</div>
						<p>
							Uzupełnij profil

						<p>
					</div>
					<div class="box">
						<div class="icon">
							<div class="list"></div>
						</div>
						<p>
							Uzupełnij dane gabinetu

						<p>
					</div>
					<div class="box">
						<div class="icon">
							<div class="calendar"></div>
						</div>
						<p>
							Zarządzaj terminarzem

						<p>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<section id="benefits">
		<div class="content">
			<div class="row">
				<div class="wrapper-lt">
					<h2><span>Korzyści</span><br/> Twojego gabinetu</h2>

					<p>
						Nowoczesny gabinet bez rejestracji telefonicznej.<br/>
					</p>

					<p>
						Pacjencji mogą umówić się z Tobą z dowolnego urządzenia i o każdej porze.
					</p>

					<p>
						Zarządzanie gabientem i terminarzem w prosty i przejrzysty sposób.<br/>
					</p>

					<p>
						Pierwszy kontakt z pacjentem jeszcze nigdy nie był taki łatwy. <br/>
						Nie myśl o przypominaniu pacjentom o ich wizytach. <br/>
						Zapomnij o informowaniu pacjentów o odwołanych wizytach. <br/>
						Po prostu skup się na leczeniu.
					</p>

				</div>
				<div class="wrapper-rt">
					<div class="box">
						<div class="graph-1" data-percent="70"></div>
						<div class="describe">
							Dostępność 24/7.
						</div>
					</div>
					<div class="box">
						<div class="graph-1" data-percent="30"></div>
						<div class="describe">
							Zero kolejek.
						</div>
					</div>
					<div class="box">
						<div class="graph-1" data-percent="50"></div>
						<div class="describe">
							Satysfakcja pacjentów.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="payment">
		<div class="content">
			<div class="row">
				<div class="title">
					<h2>
						<span>Plany & </span> cennik
					</h2>

					<p>
						Wybierz plan i zacznij działalność w mniej niż minutę.<br/>
						Plan może być anulowany w każdej chwili. Wszystkie ceny są cennami <b>brutto</b>.
					</p>

					<p>
						Rejestrując się teraz, korzystasz za darmo do <b style="color: #ff0000">01.07.2015</b>. Wypróbuj!
					</p>
				</div>
			</div>
			<div class="row boxes" ng-controller="UserPaymentPlanCtrl">
				<div class="box blue">
					<div class="number">
						1
					</div>
					<div class="name">
						Pacjent
					</div>
					<div class="price">
						0 zł
					</div>
					<div class="time">
						miesięcznie
					</div>
					<div class="describe">
						<ul>
							<li>
								Terminarz pacjenta
							</li>
							<li>
								Wyszukiwanie lekarzy
							</li>
							<li>
								Umawianie wizyt
							</li>
							<li>
								Dane kontaktowe
							</li>
						</ul>
						<a ng-show="user.id && !isFreePlan()" ng-click="freePlan()">
							Wybierz pakiet <span></span>
						</a>
					</div>
				</div>
				<div class="box green">
					<div class="number">
						2
					</div>
					<div class="name">
						Lekarz
					</div>
					<div class="price">
						50 zł
					</div>
					<div class="time">
						miesięcznie
					</div>
					<div class="describe">
						<ul>
							<li>
								Strona lekarza
							</li>
							<li>
								Kalendarz lekarza
							</li>
							<li>
								Dowolna ilość gabinetów
							</li>
							<li>
								Dowolna ilość wizyt
							</li>
						</ul>
						<a ng-show="user.id && !isDoctorPlan()" ng-click="doctorPlan()">
							Wybierz pakiet <span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="news">
		<div class="content">
			<h2>
				<span>Aktualności </span>
			</h2>

			<div class="row lt">
				<div class="author">
					<img src="images/temp/author.jpg" alt="Autor">

					<p>

					</p>
				</div>
				<div class="describe">
					<div class="date">
						01.04.2015 r.
					</div>
					<div class="subject">
						Wystartowaliśmy
					</div>
					<p>
						Pierwsza wersja serwisu jest już dostępna. <br/>
						Zapraszamy do korzystania! <br/>
						Masz uwagę lub sugestię? Podziel się z nami Twoją opinią.
					</p>

				</div>
			</div>
			<div class="row more">
				<a>
					Czytaj więcej
				</a>
			</div>
			<div class="social">
				<p>
					Odwiedź nasz profil na
				</p>

				<div class="icon">
					<a href="#" class="facebook"></a>
					<a href="https://twitter.com/Hevicado" class="twitter"></a>
				</div>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="content">
			<h2>
				Masz pytania? Wątpliwości?
				<span>
					Skontaktuj się z nami
				</span>
			</h2>
			<div class="form">
				<form action="mailto:hevicado@gmail.com" method="post" enctype="text/plain">
					<div class="row">
						<input type="text" name="Name" placeholder="Imię i nazwisko">
						<input type="text" name="Email" placeholder="Adres e-mail">
						<input type="text" name="Phone" placeholder="Telefon">
					</div>
					<div class="row">
						<textarea placeholder="Wiadomość"></textarea>
					</div>
					<div class="row">
						<input type="submit" name="submit" value="Wyślij wiadomość">
					</div>
				</form>
			</div>
		</div>
	</section>
</section>