Regulamin Hevicado

Korzystając z Hevicado (“Serwis”, “Usługodawca”), użytkownik zgadza się przestrzegać zasad i warunków określonych w regulaminie. Naruszenie regulaminu może spowodować zablokowanie lub skasowanie konta i pociągnięcie do odpowiedzialności karnej.


Warunki ogólne

Serwis zastrzega sobie prawo do zmiany regulaminu po uprzednim poinformowaniu użytkowników
Regulamin wchodzi w życie z dniem publikacji i uchyla dotychczasowy regulamin
Serwis nie odpowiada za treści, aktywności użytkowników oraz za szkody powstałe w ich wyniku
Serwis nie odpowiada za usługi lekarskie oraz ich jakość
Serwis ma prawo usunąć treści i konta w przypadku złamania regulaminu bądź prawa
Serwis nie odpowiada za przerwy w świadczeniu usług, wynikające z przyczyn od niego niezależnych
Serwis zastrzega sobie prawo do przerw w świadczeniu usług w związku z uaktualnianiem Serwisu po uprzednim poinformowaniu użytkowników
Serwis nie udziela żadnej gwarancji prawidłowego działania usług (w całości lub ich części)
Serwis zastrzega sobie prawo do umieszczania treści reklamowych w dowolnym miejscu w Serwisie
Serwis wyraźnie zastrzega, iż użytkownicy korzystają z usług wyłącznie na własne ryzyko

Konto użytkownika

Użytkownik musi być pełnoletni
Konto może być wykorzystywane przez jedną osobę. Współdzielenie loginu z innymi jest zabronione.
Użytkownik może posiadać tylko jedno konto
Użytkownik jest odpowiedzialny za bezpieczeństwo swojego konta. Hasło do konta powinno być znane jedynie właścicielowi i nie ujawniane innym w żadnych okolicznościach.
Użytkownik jest odpowiedzialny za treści publikowanie w Serwisie oraz za każdą czynność wykonywaną w Serwisie.
Konto nie może być wykorzystywane w sposób zakazany przez prawo.
Użytkownik musi dostarczyć posiadany adres e-mail oraz inne dane potrzebne do rejestracji. Dostarczone dane muszą być prawdziwe.
Serwis nie odpowiada za rejestrację z wykorzystaniem adresów e-mail, nie należących do użytkownika.
W przypadku pojawienia się uzasadnionych wątpliwości co do autentyczności danych podanych w koncie użytkownika, Serwis może zażądać przedstawienia dokumentów potwierdzających te dane.
Użytkownik wyraża zgodę na otrzymywanie powiadomień z Serwisu
Użytkownik oraz Serwis mają prawo do skasowania konta, należącego do użytkownika, bez podania przyczyny i w trybie natychmiastowym
Użytkownik nie może umieszczać treści reklamowych

Usługi lekarskie

Serwis nie odpowiada za usługi dostarczane (bądź ich brak) przez lekarzy oraz jakość świadczonych usług
Użytkownik, rejestrując się jako lekarz, poświadcza prawo do wykonywania świadczonych usług (zabiegów) lekarskich
Serwis nie odpowiada za wizyty pomiędzy pacjentami (użytkownikami) oraz lekarzami
Profil lekarza jest publiczny i może być wyszukany w Serwisie przez każdego użytkownika
Lekarze mają wgląd do podstawowych informacji o użytkownikach (imię, nazwisko, e-mail itp.) w celach umawiania wizyty w imieniu pacjenta (użytkownika)

Reklamacje

Serwis dokłada wszelkich starań w celu zapewnienia wysokiej jakości usług elektronicznych
Serwis nie udziela żadnej gwarancji na świadczone usługi
Użytkownicy mogą zgłaszczać zastrzeżenia (po polsku lub po angielsku) poprzez Serwis lub bezpośrednio na adres hevicado@gmail.com
Serwis zastrzega sobie prawo do pozostawienia zgłoszonego zastrzeżenia bez rozpoznania, w szczególności gdy wynika ono z braku znajomości regulaminu bądź zasady działania Serwisu
Werbalne, fizyczne, pisemne nękanie pracowników Serwisu, wiąże się z natychmiastowym usunięciem konta użytkownika

Płatności

Serwis jest bezpłatny dla pacjentów (zwykłych użytkowników)
Serwis jest płatny dla lekarzy, placówek oraz innych jednostek świadczących usługi medyczne
Płatności są regulowane miesięcznie “z góry” zgodnie z cennikiem serwisu
Serwis nie refunduje żadnych kosztów użytkowników, tj.:
Serwis nie zwraca kosztów, gdy użytkownicy rezygnują z usług po rozpoczęciu nowego miesiąca
Serwis nie zwraca kosztów, gdy płatne konto nie jest wykorzystywane
Użytkownik może zrezygnować z konta płatnego w dowolnym momencie
Rezygnacja z konta płatnego (“downgrade”) może się wiązać z utratą danych na koncie użytkownika
Opłaty usług świadczonych przez Serwis nie obejmują podatków po stronie użytkownika narzuconych przez prawo
Serwis zastrzega sobie prawo do zmiany płatności po uprzednim poinformowaniu użytkowników. Nowy cennik wchodzi w życie z dniem kolejnego miesiąca rozliczeniowego.

Polityka cookies

Serwis wymaga cookies w celu poprawnej realizacji usług
Serwis nie odpowiada za bezpieczeństwo cookies przechowywanych na urządzeniach użytkowników (komputer, urządzenia mobilne itp.)
Serwis używa cookies, oraz informacji w nich zawartych, w celach:
autentykacji użytkowników
autoryzacji użytkowników
gromadzeniu statystyk o aktywności użytkowników
gromadzeniu informacji, które umożliwiają dostosowanie Serwisu do preferencji użytkowników
Użytkownik może zmienić ustawienia związane z cookies w przeglądarce. Opis ten może być znaleziony w Internecie i nie jest częścią regulaminu.
Serwis nie odpowiada za błędne funkcjonowanie w wyniku niestandardowych ustawień cookies.

Inne

Prawem właściwym regulującym stosunki pomiędzy stronami jest prawo polskie
W kwestiach nieujętych regulaminem stosuję się przepisy ustawy o świadczeniu usług drogą elektroniczną oraz Kodeksu Cywilnego.
Spory wynikające ze świadczonych usług mogą być rozwiązane przez sąd właściwy dla siedziby Serwisu
Serwis nie rości praw własności intelektualnej do materiałów opublikowanych w Serwisie przez użytkowników
Użytkownik zobowiązuje się nie upubliczniać oraz nie wykorzystywać błędów oraz luk, znalezionych w Serwisie
Użytkownik zobowiązuje się nie działać na szkodę Serwisu oraz innych użytkowników


TODO: DANE FIRMY + KONTAKT
