<section id="main-content">
		<div class="title-page">
			<h1>Visit</h1>
		</div> <!-- Page Title -->
		<div class="content">
			<section class="visit">
				<div class="top-info">
					Aby zrezygnować z wizyty możesz użyć przycisku kosza lub złapać i przeciągnąć na pole "Canceled Visit"
				</div>
				<div class="box-row">
					<div class="box active">
						<h2>
							Current visit
						</h2>
						<div class="visit-box">
							<div class="action">								
								<a href="#"><i class="icon-cog"></i></a>
								<a href="#"><i class="icon-export"></i></a>				
								<a href="#"><i class="icon-trash"></i></a>
							</div>
							<div class="address">
								<span class="date">
									20/10/2014 (monday)<br/>
									godzina: 9:00
								</span>
								<p>
									<a href="#" class="address">Niepubliczny Zakład Medycyny Sądowej</a> 									
									ul. Woronicza 17, 51-213 Warszawa
								</p>
								<p>
									<i class="icon-phone"></i> 503 112 331<br/>
									<a href="mailto:mail@gmail.com"><i class="icon-mail"></i> barak@gmail.com</a><br/>
									<a href="#"><i class="icon-map"></i> Jak dojechać</a>
								</p>								
							</div>
							<div class="user">
								<div class="img">
									<img src="images/temp/user-1.jpg" alt="User profile">
								</div>
								<div class="name">
									<a href="#">
										prof. dr. mgr. inż Barraak Ooobaama
									</a>
								</div>
							</div>						
						</div>
						
						<div class="visit-box archiv">		
							<div class="action">								
								<a href="#"><i class="icon-cog"></i></a>
								<a href="#"><i class="icon-export"></i></a>				
								<a href="#"><i class="icon-trash"></i></a>
							</div>
							<div class="address">
								<span class="date">
									20/10/2014 (monday)<br/>
									godzina: 9:00
								</span>
								<p>
									<a href="#" class="address">Niepubliczny Zakład Medycyny Sądowej</a> 									
									ul. Woronicza 17, 51-213 Warszawa
								</p>
								<p>
									<i class="icon-phone"></i> 503 112 331<br/>
									<a href="mailto:mail@gmail.com"><i class="icon-mail"></i> barak@gmail.com</a><br/>
									<a href="#"><i class="icon-map"></i> Jak dojechać</a>
								</p>								
							</div>
							<div class="user">
								<div class="img">
									<img src="images/temp/user-1.jpg" alt="User profile">
								</div>
								<div class="name">
									<a href="#">
										prof. dr. mgr. inż Barraak Ooobaama
									</a>
								</div>
							</div>						
						</div>						
					</div>
					
					<div class="box cancel">
						<h2>
							Odbyte / Odwołane wizyty
						</h2>
						
						<div class="visit-box disable">		
							<div class="action">								
								<a href="#"><i class="icon-cog"></i></a>
								<a href="#"><i class="icon-export"></i></a>				
								<a href="#"><i class="icon-trash"></i></a>
							</div>
							<div class="address">
								<span class="date">
									20/10/2014 (monday)<br/>
									godzina: 9:00
								</span>
								<p>
									<a href="#" class="address">Niepubliczny Zakład Medycyny Sądowej</a> 									
									ul. Woronicza 17, 51-213 Warszawa
								</p>	
								<p>
									<i class="icon-phone"></i> 503 112 331<br/>
									<a href="mailto:mail@gmail.com"><i class="icon-mail"></i> tomasz.cimicki@gmail.com</a><br/>
									<a href="#"><i class="icon-map"></i> Jak dojechać</a><br/>
								</p>							
							</div>
							<div class="user">
								<div class="img">
									<img src="images/temp/user-1.jpg" alt="User profile">
								</div>
								<div class="name">
									<a href="#">
										prof. dr. mgr. inż Barraak Ooobaama
									</a>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</section> <!-- Section Page (calendar, members, ...) -->
		</div>
	</section> <!--Main section -->