<section id="main-content">
    <div class="title-page">
        <h1>Registration</h1>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="registration">
            <div class="top-info">
                <p>
                    Zanim wypełnisz formularz rejestracji, zapoznaj się z <a href="#">korzyściami</a>
                    oraz z naszym <a href="#">regulaminem</a>.
                </p>

                <p>
                    Zarejestruj się a następnie uzupełnij swoje dane w swoim profilu
                </p>
            </div>
            <div class="box-row">
                <form name="userForm" ng-submit="save(user)" ng-controller="RegistrationCtrl" novalidate>
                    <div class="box none">
                        <h2><span>1</span>Account</h2>
                        <ul>
                            <li>
                                <fieldset>
                                    <input name="mail" type="email" placeholder="E-mail" ng-model="user.mail"
                                           ng-minlength="5" required>
                                </fieldset>
                                <small class="error" ng-show="userForm.mail.$error.minlength">
                                    Your e-mail is required to be at least 5 characters
                                </small>
                                <small class="error" ng-show="userForm.mail.$error.email">
                                    That is not a valid email. Please input a valid email.
                                </small>
                            </li>
                            <li>
                                <fieldset>
                                    <input name="mail2" type="email" placeholder="Confirm your e-mail"
                                           ng-model="userConf.mail"
                                           ng-minlength="5" match="user.mail" required>
                                    <small class="error" ng-show="userForm.mail2.$error.minlength">
                                        Your e-mail is required to be at least 5 characters
                                    </small>
                                    <small class="error" ng-show="userForm.mail2.$error.email">
                                        That is not a valid email. Please input a valid email.
                                    </small>
                                    <small class="error" ng-show="userForm.mail2.$error.match">
                                        Given e-mails are not the same
                                    </small>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2><span>2</span>Password:</h2>
                        <ul>
                            <li>
                                <fieldset>
                                    <input name="password" type="password" placeholder="Password"
                                           ng-model="user.password"
                                           ng-minlength="5" required>
                                    <small class="error" ng-show="userForm.password.$error.minlength">
                                        Your password is required to be at least 5 characters
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <fieldset>
                                    <input name="password2" type="password" placeholder="Confirm your password"
                                           ng-model="userConf.password" match="user.password"
                                           ng-minlength="5" required>
                                    <small class="error" ng-show="userForm.password2.$error.minlength">
                                        Your password is required to be at least 5 characters
                                    </small>
                                    <small class="error" ng-show="userForm.password2.$error.match">
                                        Given passwords are not the same
                                    </small>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2><span>3</span>Confirm:</h2>
                        <ul>
                            <li>
                                <button ng-disabled="userForm.$invalid">Register</button>
                            </li>
                            <li>
								<span class="checkbox">
									<input type="checkbox">
									Accept the rules
								</span>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section> 