<section id="main-content">
<div class="title-page">
    <h1>Search</h1>
</div>
<!-- Page Title -->
<div class="content">
<section class="search">
<div class="top-info">
    Wypełnij jedno z pól aby odnaleźć tego Jedynego :P
</div>
<div class="box-row">
    <div class="box">
        <h2><span>1</span>Person data</h2>
        <ul>
            <li>
                <label>Name / Address e-mail</label>
                <fieldset>
                    <input type="text">
                </fieldset>
            </li>
            <li>
                <label>Location</label>
                <fieldset>
                    <input type="text">
                </fieldset>
            </li>
        </ul>
    </div>
    <div class="box">
        <h2><span>2</span>Termin</h2>
        <ul>
            <li>
                <label>Termin od</label>
                <fieldset>
                    <input type="text">
                </fieldset>
            </li>
            <li>
                <label>Termin do</label>
                <fieldset>
                    <input type="text">
                </fieldset>
            </li>
            <li>
                <label></label>
                <fieldset>
                    <button>Search user</button>
                </fieldset>
            </li>
        </ul>
    </div>
    <div class="box">
        <h2><span>3</span>Wybierz specjalizację:</h2>
        <ul>
            <li>
                <label>Specjalization (wybierz spośród wielu)</label>
                <fieldset>
                    <select>
                        <option> - Wybierz -</option>
                        <option value="43">Alergologia</option>
                        <option value="71">Andrologia</option>
                        <option value="44">Angiologia</option>
                        <option value="4">Audiologia i foniatria</option>
                        <option value="5">Chirurgia dziecięca</option>
                        <option value="46">Chirurgia naczyniowa</option>
                        <option value="7">Chirurgia ogólna</option>
                        <option value="47">Chirurgia onkologiczna</option>
                        <option value="8">Chirurgia plastyczna</option>
                        <option value="48">Choroby płuc (Pulmonologia)</option>
                        <option value="10">Choroby wewnętrzne</option>
                        <option value="11">Choroby zakaźne</option>
                        <option value="12">Dermatologia i wenerologia</option>
                        <option value="49">Diabetologia</option>
                        <option value="76">Dietetyka</option>
                        <option value="50">Endokrynologia</option>
                        <option value="17">Kardiologia</option>
                        <option value="74">Logopedia</option>
                        <option value="19">Medycyna pracy</option>
                        <option value="21">Medycyna rodzinna</option>
                        <option value="60">Medycyna sportowa</option>
                        <option value="61">Nefrologia</option>
                        <option value="81">Nefrologia dziecięca</option>
                        <option value="26">Neurochirurgia</option>
                        <option value="27">Neurologia</option>
                        <option value="83">Neurologopeda</option>
                        <option value="28">Okulistyka</option>
                        <option value="64">Onkologia i hematologia dziecięca</option>
                        <option value="29">Onkologia kliniczna</option>
                        <option value="84">Onkologia kliniczna</option>
                        <option value="30">Ortopedia i traumatologia narządu ruchu</option>
                        <option value="31">Otolaryngologia</option>
                        <option value="65">Otorynolaryngologia dziecięca</option>
                        <option value="77">Parazytologia</option>
                        <option value="33">Pediatria</option>
                        <option value="34">Położnictwo i ginekologia</option>
                        <option value="72">Proktologia</option>
                        <option value="75">Protetyka słuchu</option>
                        <option value="85">Psychiatria</option>
                        <option value="73">Psychologia</option>
                        <option value="37">Radiologia i diagnostyka obrazowa</option>
                        <option value="38">Radioterapia onkologiczna</option>
                        <option value="39">Rehabilitacja medyczna</option>
                        <option value="66">Reumatologia</option>
                        <option value="78">Stomatologia</option>
                        <option value="41">Urologia</option>
                        <option value="70">Urologia dziecięca</option>
                    </select>
                </fieldset>
            </li>
            <li>
                <div class="tag">
                    <a href="#">Urologia dziecięca
                        <div class="delete"><i class="icon-minus-circled"></i></div>
                    </a>,
                    <a href="#">Reumatologia
                        <div class="delete"><i class="icon-minus-circled"></i></div>
                    </a>,
                    <a href="#">Psychologia
                        <div class="delete"><i class="icon-minus-circled"></i></div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Form -->
<div class="top-info">
    Wyniki wyszukiwania
</div>
<div class="box-row">
<div class="results">
<div class="box blue"> <!-- Color -->
    <div class="person">
        <div class="name">
            <h2>
                <p>prof. dr. hab</p>
                Mieczysław<br/> Kościuszko-Madej
            </h2>
									<span>
										specjalizacja: urologia, chirurgia ogólna
									</span>
        </div>
        <div class="images">
            <div class="user">
                <div class="img">
                    <img src="images/temp/user-1.jpg" alt="User profile">
                </div>
            </div>
        </div>
    </div>
    <div class="address">
        <h2><i class="icon-home"></i> Adres</h2>

        <p>
            <span class="color"></span>
            Wojewódzki Szpital Badań nad Dupą<br/>
            ul. Mariana Paździocha-Kiepskiego 43/2<br/>
            53-312 Wrocław
        </p>

        <p>
            <i class="icon-phone"></i> 503 112 331<br/>
            <a href="mailto:mail@gmail.com"><i class="icon-mail"></i> barak@gmail.com</a><br/>
            <a href="#"><i class="icon-map"></i> Jak dojechać</a>
        </p>
    </div>
    <div class="time-work">
        <h2><i class="icon-clock"></i> Godziny dyżurów</h2>

        <p>
            Poniedziałek: 7:30 - 12:00<br/>
            Wtorek: 7:30 - 12:00<br/>
            Środa: 7:30 - 12:00<br/>
            Czwartek: 7:30 - 12:00<br/>
            Piątek: 7:30 - 12:00<br/>
            Sobota: 7:30 - 12:00<br/>
            Niedziela:
        </p>
    </div>
    <div class="calendar">
        <h2><a href="#"><i class="icon-calendar"></i> Kalendarz</a></h2>

        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>11.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											1
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>12.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											19
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>13.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											34
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>14.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											12
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>15.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											2
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>16.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											16
											</span>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Person box -->

<div class="box orange second"> <!-- Color -->
    <div class="person">
        <div class="name">
            <h2>
                <p>prof. dr. hab</p>
                Mieczysław<br/> Kościuszko-Madej
            </h2>
									<span>
										specjalizacja: urologia, chirurgia ogólna
									</span>
        </div>
        <div class="images">
            <div class="user">
                <div class="img">
                    <img src="images/temp/user-1.jpg" alt="User profile">
                </div>
            </div>
        </div>
    </div>
    <div class="address">
        <h2>Adres</h2>

        <p>
            <span class="color c-1"></span>
            Wojewódzki Szpital Badań nad Dupą<br/>
            ul. Mariana Paździocha-Kiepskiego 43/2<br/>
            53-312 Wrocław
        </p>

        <p>
            <i class="icon-phone"></i> 503 112 331<br/>
            <a href="mailto:mail@gmail.com"><i class="icon-mail"></i> barak@gmail.com</a><br/>
            <a href="#"><i class="icon-map"></i> Jak dojechać</a>
        </p>
    </div>
    <div class="time-work">
        <h2>Godziny dyżurów</h2>

        <p>
            Poniedziałek: 7:30 - 12:00<br/>
            Wtorek: 7:30 - 12:00<br/>
            Środa: 7:30 - 12:00<br/>
            Czwartek: 7:30 - 12:00<br/>
            Piątek: 7:30 - 12:00<br/>
            Sobota: 7:30 - 12:00<br/>
            Niedziela:
        </p>
    </div>
    <div class="calendar">
        <h2><a href="#"><i class="icon-calendar"></i> Kalendarz</a></h2>

        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>11.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											1
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>12.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											19
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>13.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											34
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>14.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											12
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>15.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											2
											</span>
                </div>
            </div>
        </div>
        <div class="box-event">
            <div class="box-count">
                <a href="#"></a> <!-- Link Day -->
                <p>16.10.2013</p>

                <div class="count-event">
                    <p>Visit</p>
											<span>
											16
											</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Person box -->

</div>
<!-- Result -->

</div>
</section>
<!-- Section Page (calendar, members, ...) -->
</div>
</section> <!--Main section -->