<section id="main-content" ng-controller="UserProfileCtrl" ng-init="loadProfile()">
    <div class="title-page">
        <h1 translate>user-profile.user-account</h1>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="registration">
            <div class="box-row">
                <form name="credentials" novalidate>
                    <div class="box none">
                        <h2><span>1</span>{{'login.login' | translate}}</h2>
                        <ul>
                            <li>
                                <label translate>{{'generic.email' | translate}}:</label>
                                <fieldset>
                                    <input name="email"
                                           type="email"
                                           placeholder="{{'generic.email' | translate}}"
                                           ng-model="user.email"
                                           ng-minlength="5"
                                           required>
                                    <small class="error" ng-show="credentials.email.$error.minlength" translate>
                                        registration.validation.length-email
                                    </small>
                                    <small class="error" ng-show="credentials.email.$error.email" translate>
                                        registration.validation.wrong-email
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'login.password' | translate}}:</label>
                                <fieldset>
                                    <input name="password"
                                           type="password"
                                           placeholder="{{'login.password' | translate}}"
                                           ng-model="user.password"
                                           ng-minlength="5" required>
                                    <small class="error" ng-show="credentials.password.$error.minlength" translate>
                                        registration.validation.length-password
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'registration.repeat-password' | translate}}:</label>
                                <fieldset>
                                    <input name="password2"
                                           type="password"
                                           placeholder="{{'registration.repeat-password' | translate}}"
                                           ng-model="userConf.password"
                                           field-match="user.password"
                                           ng-minlength="5"
                                           required>
                                    <small class="error" ng-show="credentials.password2.$error.minlength" translate>
                                        registration.validation.length-password
                                    </small>
                                    <small class="error" ng-show="credentials.password2.$error.fieldMatch" translate>
                                        registration.validation.no-match-password
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <fieldset>
                                    <button class="btn blue rt"
                                            ng-disabled="credentials.$invalid"
                                            ng-click="changeCredentials(user)"
                                            translate>
                                        user-profile.change-credentials
                                    </button>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                </form>
                <form name="userProfile" novalidate>
                    <div class="box">
                        <h2><span>2</span>{{'user-profile.user-info' | translate}}</h2>
                        <ul>
                            <li>
                                <label>{{'user-profile.first-name' | translate}}:</label>
                                <fieldset>
                                    <input name="firstName"
                                           type="text"
                                           placeholder="{{'user-profile.first-name' | translate}}"
                                           ng-model="user.first_name"
                                           ng-minlength="2">
                                    <small class="error" ng-show="userProfile.firstName.$error.minlength" translate>
                                        generic.validation.2-chars
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'user-profile.last-name' | translate}}:</label>
                                <fieldset>
                                    <input name="lastName"
                                           type="text"
                                           placeholder="{{'user-profile.last-name' | translate}}"
                                           ng-model="user.last_name"
                                           ng-minlength="2">
                                    <small class="error" ng-show="userProfile.lastName.$error.minlength" translate>
                                        generic.validation.2-chars
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'user-profile.phone' | translate}}:</label>
                                <fieldset>
                                    <input name="phoneNumber"
                                           type="text"
                                           placeholder="{{'user-profile.phone' | translate}}"
                                           ng-model="user.phone"
                                           ng-minlength="6"
                                           ng-pattern="/^\+?(\s?-?[0-9]+)+$/">
                                    <small class="error" ng-show="userProfile.phoneNumber.$error.minlength" translate>
                                        generic.validation.6-chars
                                    </small>
                                    <small class="error" ng-show="userProfile.phoneNumber.$error.pattern">
                                        {{'user-profile.validation.wrong-phone' | translate}}
                                        {{'user-profile.validation.samples' | translate}}: <br/>
                                        +48 792 123 456, +48 792-123-456, 792 123 456, 792-123-456
                                    </small>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2><span>3</span>{{'user-profile.settings' | translate}}</h2>
                        <ul>
                            <li>
                                <label>{{'user-profile.lang' | translate}}:</label>
                                <fieldset>
                                    <select name="lang" ng-model="user.profile.lang" required>
                                        <option ng-repeat="lang in langs"
                                                ng-selected="{{user.profile.lang==lang}}"
                                                value="{{lang}}">
                                            {{'lang.' + lang | translate}}
                                        </option>
                                    </select>
                                </fieldset>
                            </li>
                            <li>
                                <label>{{'user-profile.theme' | translate}}:</label>
                                <fieldset>
                                    <select name="theme" ng-model="user.profile.theme" required>
                                        <option ng-repeat="theme in themes"
                                                ng-selected="{{user.profile.theme==theme}}"
                                                value="{{theme}}">
                                            {{'themes.' + theme | translate}}
                                        </option>
                                    </select>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="buttons">
                    <button class="btn blue rt"
                            ng-disabled="userProfile.$invalid"
                            ng-click="save(user)">
                        <i class="icon-upload-cloud"></i>{{'generic.save' | translate}}
                    </button>
                </div>
            </div>
        </section>
    </div>
</section>
