html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, fonts, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/* BORDER */ /* BORDER */ /* BORDER */ /* BORDER */
	
	.b (@bb:none) {
		border:@bb;
	}
	.bt (@bt:none) {
		border-top:@bt;
	}
	.bb (@bb:none) {
		border-bottom:@bb;
	}
	.bl (@bl:none) {
		border-left:@bl;
	}
	.br (@br:none) {
		border-right:@br;
	}
			
/* PADDING */ /* PADDING */ /* PADDING */ /* PADDING */
	
	.pp (@pp:10px 10px 10px 10px) {
		padding:@pp;
	}	
	.pt (@pt:10px) {
		padding-top:@pt
	}
	.pb (@pt:10px) {
		padding-bottom:@pt
	}
	.pl (@pt:10px) {
		padding-left:@pt
	}
	.pr (@pt:10px) {
		padding-right:@pt
	}	
	
/* MARGIN */ /* MARGIN */ /* MARGIN */ /* MARGIN */
	
	.m (@m:10px) {
		margin:@m;
	}	
	.mt (@mt:10px) {
		margin-top:@mt
	}
	.mb (@mb:10px) {
		margin-bottom:@mb
	}
	.ml (@ml:10px) {
		margin-left:@ml
	}
	.mr (@mr:10px) {
		margin-right:@mr
	}		
		
/* FLOAT */ /* FLOAT */ /* FLOAT */ /* FLOAT */
	
	.fl {
		float:left;
	}
	.fr {
		float:right;
	}
	.fn {
		float:none;
	}
	
/* FLOAT */ /* FLOAT */ /* FLOAT */ /* FLOAT */
	
	.clear {
		clear:both;
	}	
	.dib {
		display:inline-block;
	}	
	.di {
		display:inline;
	}	
	.db {
		display:block;
	}	
	.dn {
		display:none;
}

/* fonts */ /* fonts */ /* fonts */ /* fonts */
	.c(@color:#FFF){
		color:@color;
	}	
	.bold {
		font-weight:bold;	
	}	
	.lighter {
		font-weight:lighter;	
	}	
	.normal{
		font-weight:normal;	
	}	
	.italic {
		font-style:italic;
	}		
	.left {
		text-align:left;
	}	
	.right {
		text-align:right;
	}
	.tdn {
		text-decoration:none;
	}
	.tdu {
		text-decoration:underline;
	}
	.center {
		text-align:center;
	}
	.justify {
		text-align:justify;
	}
	.uppercase {
		text-transform: uppercase;	
	}	
	.lowercase {
		text-transform: lowercase;	
	}	
	.text-shadow (@shadow: 1px 1px 0 #e0e0e0) {
		text-shadow:@shadow;		
	}	
	.lh (@lh:23px) {
		line-height:@lh;
	}
	.size(@size:14px) {
		font-size:@size;
	}

/* OTHER */	/* OTHER */	/* OTHER */	/* OTHER */
	
	.pointer {
		cursor:pointer;
	}
	.relative {
		position:relative;
	}
	.absolute {
		position:absolute;
	}	
	.bg (@bg:#FFF) {
		background:@bg;
	}	
	.bp (@bp:0 0) {
		background-position:@bp;
	}	
	.list {
		list-style-type:none;
	}	
	.w (@w:100%) {
		width:@w;
	}	
	.minw (@minw:50%) {
		min-width:@minw;
	}
	.maxw (@maxw:938px) {
		max-width:@maxw;
	}
	.h (@h:100%) {
		height:@h;		
	}
	.minh (@minh:100%) {
		min-height:@minh;		
	}
	.maxh (@maxh:100%) {
		max-height:@maxh;		
	}
	.radius (@radius:10px) {
		border-radius: @radius;
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;
		-o-border-radius: @radius;
	}
	.box-sizing {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box; 
	}
	.box-shadow (@bs:0px 0px 2px #c6c6c6) {
		box-shadow:@bs;
	}	
	
/* CONTENT */ /* CONTENT */ /* CONTENT */ /* CONTENT */

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




html {
	.h(100%);
}	

body {	
	font-size:14px;	
	.c(#656565);
	.bg(#f5f6f7);
	.w;
	.h(100%);
	.relative;
	text-shadow:1px 1px 0 #FFF;
	font-family: 'Titillium Web', sans-serif;
}

button {
	cursor:pointer;
	font-family: 'Titillium Web', sans-serif;
}	

select {
	font-family: 'Titillium Web', sans-serif;
}

.visible {
	display:block!important;
}

input, textarea {
	font-family: 'Titillium Web', sans-serif;
	
	&:hover {
		-webkit-transition: all 250ms ease-in-out;
		-moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		-o-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;
	}
}

a {
	.tdn;
	.c(#656565);
	
	&:hover {
		-webkit-transition: all 250ms ease-in-out;
		-moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		-o-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;
		.c(#000);
	}
}

h1, h2, h3 {
	.normal;
}

h1 {
	.size(3.5em);
}

h2 {
	.size(1.875em);
}

h3 {
	.size(1.500em);
}

#page {
	.w;
	.h(auto);	
	.fl;
	.relative;
	.center;		
}

.content {
	.w(98%);
	.m(auto);
	.dib;
}

header {	
	.fl;
	.w;
	.bg(#FFF);
	.bb(1px solid #DDD);
	.pp(10px 0 5px);
	position:fixed;
	z-index:999;
	
	.logo {
		.fl;
		.w(200px);	
		.mt(15px);
		
		p {
			.size(2em);
		}
		
		span {
			.w;
			top:-5px;
			.relative;
		}
	}
	
	nav {
		.fl;
		.w(auto);
		.mt(10px);
		
		ul {
			.w(100%);
			.fl;
			
			li {
				.fl;
				.dib;
				.pp(0 15px);
				.bl(1px solid #a0a0a0);
				.center;
				.relative;
				.box-sizing;
				
				&:first-child {
					.bl(0);
				}
				
				a {
					.tdn;
					.c(#5c5c5c);
					.uppercase;
					text-shadow:1px 1px 0 #f5f5f5;
					.relative;
					
					i {
						.size(24px);
						.w;
						.dib;
						
						&:before {
							.mr(0);
						}
					}

					.messages {
						.absolute;
						top:-11px;
						left:24px;
						.bg(#f40000);
						.radius(100%);
						.w(20px);
						.h(20px);
						.center;
						.size(12px);
						.c(#FFF);
						text-shadow:none;
						z-index:1;
					}
				}
			}

			ul.subpage {
				.fl;
				.w;
				.absolute;
				left:0;
				.bg(#FFF);
				opacity:0;
				z-index:2;
				
				li {
					.dib;
					.w;
					.fl;
					.bl(0);
					.pp(0 10px);
					.mb(8px);					
				}
			}	
		}
	}
	
	
	
	.profile {
		.fr;
		.w(70px);
		.center;
		.mt(-5px);
		
		.pic-user {
			.dib;
			.w(60px);
			.h(60px);
			.radius(100%);
			.pp(3px);
			.bg(#f5f6f7);
			.m(auto);
			.relative;
			
			img {
				.w;
				.fl;
				.radius(100%);
			}
		}
		
		.action {
			.dib;
			.w;
			.center;
			.m(auto);
			top:-5px;
			.relative;
			
			a {
				.dib;
				.size(14px);
				.c(#373737);
				.m(auto);				
				.tdn;				
			}
		}		
	}
}

header.small {
	
	.logo {
		.mt(3px);
		
		p {
			.size(1em);
		}
		
		span {
			.w;
			.size(0.875em);
			top:-5px;
			.relative;
		}
	}
	
	nav {
		.mt(10px);
		
		ul {
			li {
				i {
					.dn;
				}
				
				.messages {
					.dn;
				}
			}
		}
	}
	
	.profile {
		.pic-user {
			.dn;
		}
		
		.action {
			top:15px;
		}
	}
	
}

section#main-content {
	.fl;
	.w;
}	

.title-page {
	.fl;
	.w;
	.center;
	.bb(1px solid #FFF);
	.m(103px 0 10px);
	z-index:1;
	
	h1 {
		.c(#FFF);
		.uppercase;
		text-shadow:1px 1px 0 rgba(0,0,0,0.4);
		.relative;
		.w;
	}
	
	span {
		text-transform:none;
		.size(1.125em);
		.fl;
		.w;
		.mt(-10px);
		.pb(5px);
		.center;
		.c(#FFF);
		text-shadow:1px 1px 0 rgba(0,0,0,0.4);
	}
}

.top-info {
	.fl;
	.w;		
	.m(40px 0);
	.size(1.5em);	
	
	a {
		font-weight:600;
	}	
}

section.calendar {
	.fl;
	.w;
	.relative;
	.center;
	
	.top-info {
		.fl;
		.w;
		.relative;
		z-index:900;
		.m(0);
		.size(1em);
		
		.date {
			.m(auto);
			.m(auto);
			.dib;
			.mt(-5px);
			
			.month {
			
				span {
					.size(3.5em);
				}
				
				a {
					.size(3em);
                    cursor:pointer;
				}
			}
			
			.year {
				.mt(-10px);
				
				span {
					.size(1em);
				}
				
				a {
					.size(1em);
                     cursor:pointer;
				}
			}			
		}
		
		.view {
			.absolute;
			top:0;
			right:0;
			
			a {
				.m(0 3px);	
			}	
		}
	}
	
	.amount {
		.fl;
		.w;
		
		ul {
			.fr;
			.w(auto);
			
			li {
				.di;
				.w;
				.pp(0 10px);
				.box-sizing;
				.relative;
				
				&:before {
					content:'';
					.w(1px);
					.h(10px);
					.absolute;
					left:-2px;
					top:5px;
					.bg(#656565);
				}
				
				&:first-child {
					&:before {
						content:none;
					}	
				}				
			}	
		}		
	}
	
	.week-prev, .week-next {
		position:fixed;
		top:0;			
		.w(40px);
		.h(100%);
		z-index:888;
        cursor:pointer;
		
		a.prev, a.next {
			.dn;
		}	

		&:hover {
			.db;
			
			a.prev, a.next {
				.absolute;
				top:55%;				
				.bg(rgba(0,0,0,0.2));
				.radius(100%);
				.w(100px);
				.h(100px);
				.right;
				.c(#FFF);
				.db;
				
				&:hover {
					.bg(rgba(0,0,0,0.5));
				}
				
				i {
					.size(4em);
					.relative;
					top:9px;					
				}
			}
		}
	}
	
	.week-prev {
		left:0;
		
		a.prev {
			left:-60px;
			.right;
			
			i {
				left:15px;
			}
		}	
	}
	
	.week-next {
		right:0;
		
		a.next {
			right:-60px;
			.left;
			
			i {
				right:35px;
			}
		}
	}
	
	.time-line {
		.absolute;
		top:30%;
		left:0;
		.w;
		.h(1px);
		.dib;
		.bg(rgba(234,0,0,0.5));
		z-index:888;
	}
	
	.grid {
		.pp(20px 0);
		.dib;
		.w;
		
		.event {
			.w(13.4%);
			.dib;
			.bg(#FFF);
			.pp(10px);
			.box-sizing;
			.radius(10px);
			.m(10px 0.3%);
			.relative;
			.center;
			.b(1px solid #F0F0F0);
			.bt(1px solid #CFCFCF);
			
			&:before {
				content:'';
				.absolute;
				bottom:0;
				right:0;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 0 10px 10px;
			}	
			
			a.link {
				.absolute;
				top:0;
				.dib;
				left:0;
				.w;
				.h(87%);
				.radius(10px 10px 0 0);
				z-index:100;
				
				&:hover {
					.bg(rgba(0,0,0,0.2));
				}
			}
			
			.box-event {
				display:table;
				.w;
				.mt(7px);
				.h(126px);
				
				.box {
					display:table-cell;
					vertical-align:middle;
				}
			}
			
			.count-event {
				.m(auto);
				.dib;
				.bg(#FFF);
				.w(100px);
				.h(100px);
				.radius(100%);
				.center;
				.relative;

				&:before {
					content:'';
					.absolute;
					bottom:0;
					right:6px;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 0 25px 25px;
					transform: rotate(4deg) ;
					-webkit-transform: rotate(4deg) ;
					-moz-transform: rotate(4deg) ;
					-o-transform: rotate(4deg) ;
					-ms-transform: rotate(4deg) ;
				}	
				
				p {
					.size(14px);
					.w;
					.fl;
					.mt(10px);
				}
					
				span {
					.dib;
					.w;
					.mt(-20px);
					.fl;
					.pp(0);
					.center;
					.c(#00e9ba);
					.size(4em);
				}
			}
			
			.count-event-small {
				.m(auto);
				.dib;
				.bg(#FFF);
				.w(53px);
				.h(53px);
				.radius(100%);
				.center;
				.relative;

				&:before {
					content:'';
					.absolute;
					bottom:0;
					right:1px;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 0 15px 15px;
					transform: rotate(4deg) ;
					-webkit-transform: rotate(4deg) ;
					-moz-transform: rotate(4deg) ;
					-o-transform: rotate(4deg) ;
					-ms-transform: rotate(4deg) ;
				}	
				
				p {
					.size(12px);
					.w;
					.fl;
					.mt(3px);
				}
					
				span {
					.dib;
					.w;
					.mt(-10px);
					.fl;
					.pp(0);
					.center;
					.c(#00e9ba);
					.size(2em);
				}
			}
						
			.info {
				.fl;
				.w;				
			}
			
			.notes {
				.fl;
				.w;
				
				i {
					.size(3em);
					.normal;
					font-style:normal!important;
					
					&:before {
						.mr(0em)!important;
					}
				}
				
				span {
					.fl;
					.w;
					.mt(-10px);
				}
			}	
			
			.action {
				.fl;
				.w;
				.mt(10px);
				
				a {
					.dib;
					.m(0 2px);
				}
			}	
		}	
	}
	
	.full, .details {
		.event {
			.absolute;
			top:0;
			left:0;
			opacity:0.8;
			.h(20px);
			.radius(5px);
			.m(0.3% 2% 0);
			.w(96%);
			.c(#FFF);
			z-index:1;
			.pp(0px 5px);
			.box-sizing;
			overflow: hidden;
			.bt(1px solid rgba(0,0,0,0.4));
			text-shadow:none;
			
			&:before {
				content:'';
				.absolute;
				bottom:3px;
				right:3px;
				cursor:se-resize;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 0 10px 10px;				
				border-color: transparent transparent rgba(0,0,0,0.5) transparent;
			}
			
			.time, .describe {
				.fl;
				.w;
				.mb(5px);
				.relative;
			}
			
			.time {
				.action {
					.absolute;
					top:0;
					left:0;
					
					a {
						.fl;
						.c(rgba(0,0,0,0.5));	

						&:hover {
							.c(#000);
						}							
					}	
				}			
			}
			
			.describe {
				.left;
			}
		}		
		
	}
	
	.full {
		.dib;
		.w;
		.pp(20px 0 0);
		.relative;
		.bb(2px solid #e6e6e6);
		
		table {
			.fl;
			.w;			
			border-collapse: collapse;
			
			tr {
				
				th {
					.bl(1px solid #e6e6e6);
					.h(30px);
					.bb(1px solid #e6e6e6);
					.pb(5px);
					.w(13.71428%);
					.normal;
					
					&:first-child {
						.bl(0);
						.w(4%);
					}	
					
					a {
						.fl;
						.w;
						.db;
					}
				}
				
				td {
					background:url(../images/table-bg-10.png) repeat;
					.m(0 10px);
					.bt(1px solid #e6e6e6);
					.relative;
					
					&:first-child {
						.bl(0);
						vertical-align:top;
						.bg(none)!important;
					}	
					
					div {
						.h(25px);
						.db;						
					}
				}
				
				td:nth-child(2n+1) {
					background:url(../images/table-bg-20.png) repeat;
				}				
			}
		}
	}
	
	.details {
		.dib;
		.w;
		.pp(20px 0 0);
		.relative;
				
		.box {
			.fl;
			.ml(1.5%);
			.w(31.3%);
			.relative;		
			
			&:first-child {
				.ml(0);
			}
			
			table {
				.fl;
				.w;			
				border-collapse: collapse;
				
				tr {
					
					th {
						.h(30px);
						.bb(1px solid #e6e6e6);
						
						.add {
							.normal;
							.mb(10px);
							.dib;
						}
					}
					
					td {
						background:url(../images/table-bg-10.png) repeat;
						.w(85%);
						.h(auto);
						.bt(1px solid #e6e6e6);
						.m(0 10px);
						.relative;
						
						div {							
							.db;
							.h(37px);
						}						
						
						&:first-child {
							.bg(none);
							.w(15%);
							vertical-align:top;
						}
					}
				}
			}
			
			.add {
				.size(1em);				
			}
			
			.add-big {
				.size(1em);
				.fl;
				.m(auto);
				.dib;
				.w;
				.center;
				
				i {
					.size(3em);
					
					&:before {
						.mr(0);
					}	
				}
				
				span {
					.fl;
					.w;
					.mt(-8px);
				}				
			}
			
			.notes {
				.fl;
				.b(1px solid #e6e6e6);
				.bg(#FFF);
				.left;
				.pp(10px);
				.box-sizing;
				.mt(20px);
				.relative;
				.radius(5px);
				.w;
				
				&:before {
					content:'';
					left:50%;
					top:-21px;
					.w(1px);
					.absolute;
					.h(20px);
					.bg(#e6e6e6);
				}
				
				a {
					.c(rgba(0,0,0,0.5));
					.absolute;	

					&:hover {
						.c(#000);
					}	
				}
				
				.delete {
					right:3px;
					top:3px;
				}	
				
				p {
					.fl;
					.w;
					.mt(5px);
				}
			}	
			
			.notes.empty {
				.center;
				.pt(5px);
			}
			
			.quick-contact {
				.fl;
				.w;
				.bg(#FFF);
				.pp(20px);
				.box-sizing;
				.mt(39px);
				.b(1px solid #e6e6e6);
				.radius(5px);
				
				ul {
					.fl;
					.w;
					
					li {
						.dib;
						.fl;
						.w;
						.bl(2px solid #656565);
						.mt(20px);
						.pl(15px);
						.box-sizing;
						.relative;
						
						&:first-child {
							.mt(0);
						}
						
						.describe {
							.fl;
							.w(60%);
							.left;
							
							span {
								.size(0.875em);
								.c(red);
							}	
						}	
						
						.img {
							.fl;
							.w(40%);
							
							div {
								.fr;
								.w;
								.radius(100%);
								.w(80px);
								.h(80px);
								.bg(#f5f6f7);
								.pp(4px);
								.box-sizing;
								.size(3.5em);
								.center;
								
								img {
									.w;
									.radius(100%);
								}
								
								i {
									&:before {
										.mr(0);
									}	
								}
							}
						}
					}
				}
				
			}
		}
	
	}
}

section.registration {
	.fl;
	.w;
	.relative;
	.center;

	.box-row {
		.w;
		.bg(#FFF);
		.radius(5px);
		.bt(1px solid #e6e6e6);
		.fl;

        .box {
			.fl;
			.w(33.3333%);
			.left;
			.pp(20px 30px 20px 30px);
			.box-sizing;
			.relative;

			&:before {
				content:'';
				.w(10px);
				top:10%;
				left:-5px;
				.h(90%);
				.absolute;
				background:url(../images/table-bg-20.png);
			}

			h2 {
				span {
					.w(30px);
					.dib;
					.h(30px);
					.bg(#656565);
					.c(#FFF);
					.center;
					.radius(100%);
					text-shadow:none;
					.lh(30px);
					.mr(10px);
				}
			}

			ul {
				.fl;
				.w;
				.mt(20px);

				li {
					.fl;
					.w;
					.dib;

					.mb(10px);

					label, fieldset {
						.fl;
						.w;
					}

					label {
						.mb(5px);
						.w;
					}

					fieldset {
						input {
							.w;
							.h(35px);
							.lh(35px);
							.bg(#f5f6f7);
							.radius(5px);
							.b(0);
							.box-sizing;
							.pp(0 20px);
							outline:none;
							.b(1px solid #e6e6e6);
						}
					}
				}
			}

			span.checkbox {
				.fl;
				.w;
				.lh(18px);
				.m(10px 0 0);

				input {
					.mt(2px);
				}
			}



            .change {
              text-decoration: underline;
            }
		}

        .buttons {
            .fl;
            .w;
            .mb(20px);

            button {
              .m(auto);
              .dib;
              .radius(5px);
              .pp(10px 15px);
              background: url(../images/title-bg.png) #00d6ab;
              .size(2em);
              .b(0);
              .c(#FFF);
              text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
            }
        }

        .box.none {
            &:before {
              content:none;
            }
        }
	}
}


section.login {
  .fl;
  .w;
  .relative;
  .center;

  .box-row {
    .w;
    .bg(#FFF);
    .radius(5px);
    .bt(1px solid #e6e6e6);
    .fl;

    .box {
      .fl;
      .w(33.3333%);
      .left;
      .pp(20px 30px 20px 30px);
      .box-sizing;
      .relative;

      &:before {
        content:'';
        .w(10px);
        top:10%;
        left:-5px;
        .h(90%);
        .absolute;
        background:url(../images/table-bg-20.png);
      }

      h2 {
        span {
          .w(30px);
          .dib;
          .h(30px);
          .bg(#656565);
          .c(#FFF);
          .center;
          .radius(100%);
          text-shadow:none;
          .lh(30px);
          .mr(10px);
        }
      }

      ul {
        .fl;
        .w;
        .mt(20px);

        li {
          .fl;
          .w;
          .dib;

          .mb(10px);

          label, fieldset {
            .fl;
            .w;
          }

          label {
            .mb(5px);
            .w;
          }

          fieldset {

            input {
              .w;
              .h(35px);
              .lh(35px);
              .bg(#f5f6f7);
              .radius(5px);
              .b(0);
              .box-sizing;
              .pp(0 20px);
              outline: none;
              .b(1px solid #e6e6e6);
            }

            button {
              .m(auto);
              .dib;
              .radius(5px);
              .pp(10px 15px);
              background: url(../images/title-bg.png) #00d6ab;

              .b(0);
              .c(#FFF);
              text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
             }
          }
        }
      }
    }

    .box.none {
      &:before {
        content:none;
      }
    }
  }
}


section.visit {
	.fl;
	.w;
	.relative;
	.center;
	
	.box-row {
		.w;
		.bg(#FFF);
		.radius(5px);
		.bt(1px solid #e6e6e6);
		.fl;
		.relative;	
		
		&:before {
			content:'';
			.w(10px);
			top:5%;
			left:49.6%;
			.h(90%);
			.absolute;
			background:url(../images/table-bg-20.png);
		}
		
		.box {
			.dib;
			.w(49%);			
			.pp(20px);
			.box-sizing;
			vertical-align:top;
			
			h2 {
				.w;
				.fl;
				.center;
				.mb(10px);
				.bb(1px solid #e6e6e6);
				.pb(10px);				
			}
			
			.visit-box {
				.fl;
				.w(97%);
				.pp(10px 0px 10px 20px);
				.box-sizing;
				.bt(1px solid #f5f6f7);
				.bb(1px solid #f5f6f7);
				.relative;
				.m(10px 0);
				.relative;
				
				&:before {
					content:'';
					.w(20px);
					.h(20px);
					.absolute;					
					.bg(#fff);
					.b(3px solid #e6e6e6);
					z-index:88;
					.radius(100%);
				}
				
				&:after {
					content:'';
					.w(50px);
					.h(1px);
					.absolute;				
					.bg(#e6e6e6);
					z-index:87;
				}
				
				.action {
					.absolute;
					top:0;
					right:0;
					.w(30px);
					.pt(10px);
					.h(100%);
					.bg(#f5f6f7);
					.center;
					.box-sizing;
					vertical-align:middle;
					
					div {
						.dib;
						.size(3em);
					}
					
					a {
						.size(1.5em);
						
						i:before {
							.mr(0);
						}	
					}					
				}
				
				.address {
					.fl;
					.w(60%);					
					
					span.date {
						.fl;
						.size(1.5em);
						.w;
						.c(#000);
					}
					
					a.address {
						.size(1.2em);
						font-weight:600;
						.dib;
						.w;
					}
					
					p {
						.w;
						.dib;
						.lh(24px);
						.mt(15px);
					}
				}
				
				.user {
					.fr;
					.w(30%);
					.center;
					.mr(30px);
					
					
					.img {
						.w(100px);
						.h(100px);
						.pp(5px);
						.m(auto);
						.dib;
						.bg(#f5f6f7);
						.box-sizing;
						.radius(100%);
						
						img {
							.w;
							.fl;
							.radius(100%);
						}
					}
					
					.name {
						.dib;
						.w(80%);
					}					
				}
			}
			
			.disable, .archiv {
				.b(0);

				.action {
					.dn;						
				}
								
				.user {				
					.mr(0px);
				}
			}
			
			.archiv {
				.bg(#CAFFCE);
				.c(#327222);
				
				a {
					.c(#327222);
				}
				
				.address {
					span.date {
						.c(#327222);
					}
				}
				
				.user {
					.img {
						.bg(#AEEB9F);
					}
				}	
			}
			
			.disable {
				.bg(#FFDADA);
				.c(#FF0707);
				
				a {
					.c(#FF0707);
				}
				
				.address {
					span.date {
						.c(#FF0707);
					}
				}
				
				.user {
					.img {
						.bg(#FFBBBB);
					}
				}	
			}
		}
		
		.active {
			.visit-box {
				.fl;

				&:before {					
					right:-50px;
					top:50%;
				}
				
				&:after {					
					right:-50px;
					top:55%;
				}
						
			}
		}
		
		.cancel {
			.visit-box {
				.fr;
				
				&:before {					
					left:-50px;
					top:30%;
				}
				
				&:after {					
					left:-50px;
					top:35%;
				}				
			}
		}
	}	
}

section.search {
	.fl;
	.w;
	.relative;
	.center;
		
	.week-prev, .week-next {
		position:fixed;
		top:0;			
		.w(40px);
		.h(100%);
		z-index:888;
		
		a.prev, a.next {
			.dn;
		}	

		&:hover {
			.db;
			
			a.prev, a.next {
				.absolute;
				top:55%;				
				.bg(rgba(0,0,0,0.2));
				.radius(100%);
				.w(100px);
				.h(100px);
				.right;
				.c(#FFF);
				.db;
				
				&:hover {
					.bg(rgba(0,0,0,0.5));
				}
				
				i {
					.size(4em);
					.relative;
					top:9px;					
				}
			}
		}
	}
	
	.week-prev {
		left:0;
		
		a.prev {
			left:-60px;
			.right;
			
			i {
				left:15px;
			}
		}	
	}
	
	.week-next {
		right:0;
		
		a.next {
			right:-60px;
			.left;
			
			i {
				right:35px;
			}
		}
	}
	
	.box-row {
		.w;
		.bg(#FFF);
		.radius(5px);
		.bt(1px solid #e6e6e6);
		.fl;
		
		.box {
			.fl;
			.w(33.3333%);	
			.pp(20px 30px 20px 30px);
			.box-sizing;
			.relative;			
			.h(300px);
			
			&:first-child {
				&:before {
					content:none;
				}
			}
			
			&:before {
				content:'';
				.w(10px);
				top:5%;
				left:-5px;
				.h(70%);
				.absolute;
				background:url(../images/table-bg-20.png);
			}
			
			h2 {
				.left;
				
				span {
					.w(30px);
					.dib;
					.h(30px);
					.bg(#656565);
					.c(#FFF);
					.center;
					.radius(100%);
					text-shadow:none;
					.lh(30px);
					.mr(10px);
				}
			}
			
			ul {
				.fl;
				.mt(20px);
				.w;
				
				li {
					.fl;
					.w;
					.dib;
					
					.mb(10px);
					
					label, fieldset {
						.fl;
						.w;					
					}
					
					label {
						.mb(5px);
						.w;		
						.left;
					}
					
					fieldset {
					
						input {
							.w;
							.h(35px);
							.lh(35px);
							.bg(#f5f6f7);
							.radius(5px);
							.b(0);
							.box-sizing;
							.pp(0 20px);
							outline:none;
							.b(1px solid #e6e6e6);
						}
					}
					
					.tag {
						.fl;
						.w;
						.left;
						.mt(20px);	

						a {
							.relative;
							
							.delete {
								.dn;
							}
							
							&:hover {
								.delete {
									.dib;
									.ml(1px);
									.relative;
								}
							}
						}
					}
				}
			}
						
			button {
				.m(auto);
				.mt(19px);
				.dib;
				.h(37px);
				.lh(37px);
				.radius(5px);
				.pp(0px 15px);
				background:url(../images/title-bg.png) #00d6ab;
				.size(1em);
				.b(0);
				.c(#FFF);
				text-shadow:1px 1px 0 rgba(0, 0, 0, 0.4);
			}	
		}
		
		.results {
			.fl;
			.w;
			.pp(20px);
			.box-sizing;
			
			.box {
				.fl;
				.w;
				.left;
				.h(auto);
				.box-sizing;
				.bt(1px solid #e6e6e6);
				.pp(10px 0 10px);
				
				&:before {
					content:none;
				}
				
				.person, .address, .calendar {
					display:table-cell;
					.w(24%);
					vertical-align:top;
					.relative;					
				}
				
				.person {				
					.relative;
					.w(25%);
                    .dib;

					.name {
						.dib;
						vertical-align:middle;						
						.pl(15px);
						
						h2 {
							.dib;							
							.w(auto);
							
							p {
								.size(0.500em);
							}
						}

						span {
							.fl;
							.mt(10px);
						}
					}
			
					.images {
						.dib;
						.absolute;
						top:0;
						right:10px;
						
						.user {
							.fl;
							.center;
							vertical-align:middle;
							
							.img {
								.w(70px);
								.h(70px);
								.pp(3px);
								.m(auto);
								.dib;
								.bg(#f5f6f7);
								.box-sizing;
								.radius(100%);
								
								img {
									.w;
									.fl;
									.radius(100%);
								}
							}			
						}	
					}
				}

                .info {
                    .dib;
                    .w(74.7%);

                    .address, .calendar {
                      .pl(25px);
                      .box-sizing;

                      &:before {
                        content: '';
                        .w(10px);
                        top: 10px;
                        left: 0px;
                        .h(96.5%);
                        .absolute;
                        background: url(../images/table-bg-20.png);
                      }

                      h2 {
                        .mb(10px);
                      }

                      p {
                        .lh(24px);
                      }
                    }

                    .address {

                      p {
                        .db;
                        .pl(20px);
                        .db;
                        .w;
                        .relative;
                        .mb(10px);
                        .box-sizing;

                        .color {
                          .fl;
                          .bg(@blue);
                          .b(1px solid #e6e6e6);
                          .w(10px);
                          .h(10px);
                          .pp(5px);
                          .box-sizing;
                          .absolute;
                          top: 4px;
                          left: 0px;
                        }
                      }
                    }

                    .calendar {
                      .w(50%);

                      .box-event {
                        .dib;
                        .w(auto);
                        .m(0);
                        .h(100px);
                        .pp(0 9px);
                        .box-sizing;
                        .relative;

                        p {
                          .db;
                          .center;
                          .w;
                          .mb(5px);
                        }

                        .box-count {
                          display: table-cell;
                          vertical-align: middle;
                          .bt(0);
                          .pp(0);
                        }

                        a {
                          .absolute;
                          top: 0;
                          left: 0;
                          .w;
                          .h;
                          z-index: 10;
                          .radius(5px);

                          &:hover {
                            .bg(rgba(0, 0, 0, 0.3));
                          }
                        }
                      }

                      .count-event {
                        .m(auto);
                        .dib;
                        .bg(#FFF);
                        .w(60px);
                        .h(60px);
                        .radius(100%);
                        .center;
                        .relative;
                        .b(3px solid @blue);

                        &:before {
                          content: '';
                          .absolute;
                          bottom: 0;
                          right: 3px;
                          width: 0px;
                          height: 0px;
                          border-style: solid;
                          border-width: 0 0 13px 13px;
                          transform: rotate(4deg);
                          -webkit-transform: rotate(4deg);
                          -moz-transform: rotate(4deg);
                          -o-transform: rotate(4deg);
                          -ms-transform: rotate(4deg);
                          border-color: transparent transparent @blue transparent;

                        }

                        p {
                          .size(14px);
                          .w;
                          .fl;
                          .mt(3px);
                        }

                        span {
                          .dib;
                          .w;
                          .mt(-22px);
                          .fl;
                          .pp(0);
                          .center;
                          .c(#00e9ba);
                          .size(2.500em);
                          .c(@blue);
                        }
                      }
                    }
                }
			}
			
			.second {
				.bg(#FCFCFC);
			}
			
		}
	}
}

//-- WIDGET --//


.widget-legend {
	.w(auto);
	.bg(#FFF);
	.pp(5px);
	.absolute;
	left:0;
	top:-11px;
	.box-sizing;
	z-index:900;
	.b(1px solid #f0f0f0);
	.bt(0);
	.radius(0 0px 5px 5px);
	.left;
		
	.place-list {
		.absolute;
		top:0px;
		left:0;
		.bg(#FFF);
		.pp(5px);
		.w(300px);
		z-index:991;
		.b(1px solid #f0f0f0);
		.dn;
		
		a.close {
			.absolute;
			top:0;
			right:0;
			.tdn;			
		}
		
		.place {
			.fl;
			.w;
			
			
			.color {
				.fl;
				.b(2px solid #f5f6f7);
				.w(10px);
				.h(10px);
				.mr(5px);
				.mt(3px);
			}
			
			p {
				.fl;
				.w(250px);
			}	
		}
	}
}


ul.dropdown-menu {
  li {
    div {
      .absolute;
      .bg(#FFF);
      .b(1px solid #000);
      z-index: 1;
    }
  }


}




.widget-min-calendar {
	.w(auto);
	.bg(#FFF);
	.pp(5px);
	.absolute;
	left:80px;
	top:-11px;
	.box-sizing;
	z-index:800;
	.b(1px solid #f0f0f0);
	.bt(0);
	.radius(0 0px 5px 5px);
	.left;
	
	.calendar {
		.absolute;
		top:0px;
		left:0;
		.bg(#FFF);
		.pp(5px);
		.w(225px);
		z-index:991;
		.b(1px solid #f0f0f0);
		.dn;
		
		a.close {
			.absolute;
			top:0;
			right:0;
		}
		
		
		select {
			.w(90%);
			.fl;			
		}	
		
		table {
			.w;
			
			tr {
			
				th, td {
					.center;
					.relative;
					.w(25px);
					
					a {
						.relative;
						.center;						
					}
				}
				
				.select {
						&:before {
							content:'';
							.w(25px);
							.h(25px);
							.radius(50px);
							.absolute;
							top:-3px;
							left:2px;	
							.b(1px solid #000);
						}							
					}	
			}
			
		}
	}
}

//-- COLOR --//

@blue: #51aafa;
@orange: #ff9000;
@turquoise: #00D6AB;


//-- COLOR PAGE --//

.turquoise {
	a {	
		&:hover {		
			.c(@turquoise);
		}
	}

	.title-page {
		background:url(../images/title-bg.png) @turquoise;
	}
}

.blue {
	a {	
		&:hover {		
			.c(@blue);
		}
	}

	.title-page {
		background:url(../images/title-bg.png) @blue;
	}
}

.orange {

	a {	
		&:hover {		
			.c(@orange);
		}
	}
	
	.title-page {
		background:url(../images/title-bg.png) @orange;
	}
}

//-- COLOR ELEMENT --//


.widget-legend {
		
	.place.blue {		
		.color {
			.bg(@blue);
		}		
	}

	.place.orange {		
		.color {

			.bg(@orange);
		}		
	}

	.place.turquoise {		
		.color {

			.bg(@turquoise);
		}		
	}		
}


section.calendar {
	.grid {
	
		.event.blue {	
			&:before {
				border-color: transparent transparent  @blue transparent;
			}	
			
			.count-event {
				.b(3px solid @blue);

				&:before {
					border-color: transparent transparent @blue transparent;
				}						
					
				span {
					.c(@blue);
				}
			}
			
			.notes {					
				i {
					.c(@blue);						
				}					
			}	
			
			.action {					
				a {
					&:hover {
						.c(@blue);
					}						
				}
			}	
		}	
		
		.event.orange {	
			&:before {
				border-color: transparent transparent  @orange transparent;
			}	
			
			.count-event, .count-event-small {
				.b(3px solid @orange);

				&:before {
					border-color: transparent transparent @orange transparent;
				}						
					
				span {
					.c(@orange);
				}
			}
			
			.notes {					
				i {
					.c(@orange);						
				}					
			}	
			
			.action {					
				a {
					&:hover {
						.c(@orange);
					}						
				}
			}	
		}

		.event.turquoise {	
			&:before {
				border-color: transparent transparent  @turquoise transparent;
			}	
			
			.count-event {
				.b(3px solid @turquoise);

				&:before {
					border-color: transparent transparent @turquoise transparent;
				}						
					
				span {
					.c(@turquoise);
				}
			}
			
			.notes {					
				i {
					.c(@turquoise);						
				}					
			}	
			
			.action {					
				a {
					&:hover {
						.c(@turquoise);
					}						
				}
			}	
		}
		
		.box-event .box {
			.count-event-small.blue {
				.b(3px solid @blue)!important;
				
				&:before {
					border-color: transparent transparent @blue transparent;
				}		
				
				span {
					.c(@blue);
				}
			}
		}
		
		.box-event .box {
			.count-event-small.orange {
				.b(3px solid @orange)!important;
				
				&:before {
					border-color: transparent transparent @orange transparent;
				}		
				
				span {
					.c(@orange);
				}
			}
		}
		
		.box-event .box {
			.count-event-small.turquoise {
				.b(3px solid @turquoise)!important;
				
				&:before {
					border-color: transparent transparent @turquoise transparent;
				}		
				
				span {
					.c(@turquoise);
				}
			}
		}
		
	}
	
	.full, .details {
		.event.blue {	
			.bg(@blue);
		}	
		
		.event.orange {	
			.bg(@orange);
		}

		.event.turquoise {	
			.bg(@turquoise);
		}
	}
}