body {
    margin: 15px;
}
a {
    cursor: pointer;
}
.layout-tabs {
    margin-bottom: 10px;
}
.on-drag-enter{
    background-color : #aaaaaa;
}

.on-drag-hover:before {
    content: 'Drop';
    display: block;
    color: white;
    font-size: x-large;
    font-weight: 800;
}