html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
fonts,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* BORDER */
/* BORDER */
/* BORDER */
/* BORDER */
/* PADDING */
/* PADDING */
/* PADDING */
/* PADDING */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.clear {
  clear: both;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dn {
  display: none;
}
/* fonts */
/* fonts */
/* fonts */
/* fonts */
.bold {
  font-weight: bold;
}
.lighter {
  font-weight: lighter;
}
.normal {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
/* OTHER */
/* OTHER */
/* OTHER */
/* OTHER */
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.list {
  list-style-type: none;
}
.box-sizing {
  box-sizing: border-box;
}
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* CONTENT */
test {
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-weight: normal;
}
button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: -1px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 18px;
}
p {
  line-height: 24px;
}
#page {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: auto;
}
.content {
  margin: auto;
}
header {
  float: left;
  width: 100%;
  background: #ffffff;
  height: 85px;
  text-align: center;
}
header .content {
  position: relative;
  display: inline-block;
}
header .logo {
  float: left;
  width: auto;
  margin-top: 20px;
  margin-right: 40px;
}
header nav {
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 10px;
  width: 80%;
}
header nav ul {
  width: auto;
  float: left;
}
header nav ul li {
  float: left;
  display: inline-block;
  padding: 0 15px;
  border-left: 1px solid #a0a0a0;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
header nav ul li:first-child {
  border-left: 0;
}
header nav ul li a {
  text-decoration: none;
  color: #5c5c5c;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #f5f5f5;
  position: relative;
  font-family: 'Dosis', sans-serif;
}
header nav ul li a:hover {
  color: #00d6ab;
}
header nav ul li i {
  display: none;
}
header nav ul ul.subpage {
  float: left;
  width: 100%;
  position: absolute;
  left: 0;
  background: #ffffff;
  opacity: 0;
  z-index: 2;
}
header nav ul ul.subpage li {
  display: inline-block;
  width: 100%;
  float: left;
  border-left: 0;
  padding: 0 10px;
  margin-bottom: 8px;
}
header nav.product {
  margin-top: 20px;
}
header nav.product .log_reg {
  float: right;
}
section row {
  float: left;
  width: 100%;
}
section#slider {
  float: left;
  width: 100%;
  background: #00d6ab;
  padding: 20px 0;
}
section#slider .content {
  background: url(../images/img-logo.png) left center no-repeat;
  height: 450px;
  background-size: auto 100%;
}
section#about-us {
  float: left;
  width: 100%;
  padding: 40px 0;
}
section#about-us h2 {
  font-weight: 900;
  text-transform: uppercase;
}
section#about-us h3 {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
}
section#about-us h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
section#about-us .wrapper-lt,
section#about-us .wrapper-rt {
  width: 48%;
}
section#about-us .wrapper-lt {
  float: left;
}
section#about-us .wrapper-rt {
  float: right;
}
section#offer {
  float: left;
  width: 100%;
  background: url(../images/bg-offer.jpg) no-repeat;
  box-shadow: inset 0 4px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  padding: 50px 0 0;
}
section#offer .content {
  position: relative;
}
section#offer .content:before {
  content: '';
  width: 350px;
  height: 479px;
  background: url(../images/img-man.png);
  position: absolute;
  top: 20%;
  right: 0;
  background-size: cover;
}
section#offer span {
  color: #f4a805;
  font-weight: 900;
}
section#offer h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}
section#offer h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
section#offer .row {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
section#offer .icons {
  margin: 50px 0 30px;
  text-align: center;
}
section#offer .wrapper {
  float: left;
  width: 60%;
}
section#offer .box {
  display: inline-block;
  width: 136px;
  position: relative;
  margin: 0 20px;
}
section#offer .box:before {
  content: '';
  width: 120px;
  height: 103px;
  background: url(../images/img-arrow.png);
  position: absolute;
  top: -50px;
  left: -83px;
  z-index: 1;
}
section#offer .box .icon {
  float: left;
  width: 136px;
  height: 136px;
  background: #f4a805;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  border: 4px solid #ffffff;
}
section#offer .box .icon div {
  display: inline-block;
  margin-top: 20%;
  vertical-align: middle;
  background: url(../images/img-sprite-offer.png);
}
section#offer .box .icon .people {
  background-position: -2px 0px;
  width: 96px;
  height: 62px;
}
section#offer .box .icon .happy {
  background-position: -2px -64px;
  width: 86px;
  height: 86px;
}
section#offer .box .icon .doctor {
  background-position: -2px -152px;
  width: 72px;
  height: 87px;
}
section#offer .box .icon .list {
  background-position: -2px -241px;
  width: 71px;
  height: 64px;
}
section#offer .box .icon .calendar {
  background-position: -2px -307px;
  width: 66px;
  height: 66px;
}
section#offer .box .icon .loup {
  background-position: -2px -375px;
  width: 66px;
  height: 66px;
}
section#offer .box p {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-weight: 900;
  text-transform: uppercase;
}
section#offer .box:first-child:before {
  content: none;
}
section#benefits {
  float: left;
  width: 100%;
  background: url(../images/bg-benefits.jpg);
  padding: 40px 0;
  color: #ffffff;
}
section#benefits .row {
  float: left;
  width: 100%;
}
section#benefits span {
  font-weight: 900;
}
section#benefits h2 {
  margin-bottom: 30px;
}
section#benefits p {
  margin-bottom: 20px;
}
section#benefits .wrapper-lt,
section#benefits .wrapper-rt {
  width: 48%;
}
section#benefits .wrapper-lt {
  float: left;
}
section#benefits .wrapper-rt {
  float: right;
}
section#benefits .wrapper-rt .box {
  display: table;
  height: 168px;
  margin-bottom: 20px;
}
section#benefits .wrapper-rt .ab {
  width: 168px !important;
  height: 168px !important;
}
section#benefits .wrapper-rt .cir {
  width: 148px !important;
  height: 148px !important;
  top: 10px!important;
  left: 10px!important;
  background: #0067ba !important;
}
section#benefits .wrapper-rt .perc {
  color: #FFF!important;
  display: block!important;
  line-height: 148px!important;
  text-align: center!important;
  width: 168px!important;
  font-size: 52px !important;
  font-weight: 900!important;
}
section#benefits .wrapper-rt .describe {
  display: table-cell;
  width: 70%;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  vertical-align: middle;
}
section#payment {
  float: left;
  width: 100%;
  padding: 30px 0 50px;
  background: url(../images/bg-payment.jpg);
  box-shadow: inset 0 4px 2px rgba(0, 0, 0, 0.15);
}
section#payment .title {
  color: rgba(0, 0, 0, 0.7);
  width: 80%;
  margin: auto;
  text-align: center;
  text-shadow: 1px 1px 0 #FFF;
}
section#payment .title h2 {
  text-transform: uppercase;
}
section#payment .title h2 span {
  font-weight: 900;
}
section#payment .title p {
  margin-top: 25px;
  line-height: 30px;
}
section#payment .boxes {
  text-align: center;
  margin-top: 70px;
  float: left;
  width: 100%;
}
section#payment .box {
  width: 22%;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 45px 10px 10px 10px;
  box-sizing: border-box;
  border: 1px solid #dedede;
  position: relative;
  margin: 0 15px;
}
section#payment .box .number {
  position: absolute;
  top: -20px;
  left: 40%;
  width: 48px;
  height: 48px;
  background: #5b5b5b;
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  border: 6px solid #ffffff;
  box-shadow: inset 0px 2px 0 rgba(0, 0, 0, 0.2);
}
section#payment .box .name,
section#payment .box .price,
section#payment .box .time {
  float: left;
  width: 100%;
  text-align: center;
}
section#payment .box .name {
  font-size: 28px;
  font-weight: 900;
}
section#payment .box .price {
  font-size: 48px;
  font-weight: 900;
  color: #282828;
}
section#payment .box .time {
  color: #b8b8b8;
  font-size: 18px;
}
section#payment .box .describe {
  float: left;
  background: #5b5b5b;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.45);
  padding: 15px 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
section#payment .box .describe ul {
  float: left;
  width: 100%;
}
section#payment .box .describe ul li {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  color: #ffffff;
  padding: 7px 0 7px 30px;
  position: relative;
  text-align: left;
}
section#payment .box .describe ul li:before {
  content: '';
  width: 21px;
  height: 18px;
  background: url(../images/img-sprite-payment.png);
  position: absolute;
  top: 6px;
  left: 0px;
}
section#payment .box .describe a {
  margin: auto;
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 30px;
  text-shadow: -1px 0 0px rgba(0, 0, 0, 0.3);
}
section#payment .box .describe span {
  float: right;
  width: 8px;
  height: 15px;
  margin-left: 5px;
  background: url(../images/img-sprite-payment.png) -84px 0;
}
section#payment .red .name {
  color: #f44336;
}
section#payment .red .describe ul li:before {
  background-position: 0 0;
}
section#payment .red a {
  background: #f44336;
}
section#payment .red a:hover {
  background: #e13d31;
}
section#payment .violet .name {
  color: #a32e94;
}
section#payment .violet .describe ul li:before {
  background-position: -21px 0;
}
section#payment .violet a {
  background: #a32e94;
}
section#payment .violet a:hover {
  background: #972a89;
}
section#payment .blue .name {
  color: #2e73a3;
}
section#payment .blue .describe ul li:before {
  background-position: -41px 0;
}
section#payment .blue a {
  background: #2e73a3;
}
section#payment .blue a:hover {
  background: #2a6a97;
}
section#payment .green .name {
  color: #2ea37a;
}
section#payment .green .describe ul li:before {
  background-position: -63px 0;
}
section#payment .green a {
  background: #2ea37a;
}
section#payment .green a:hover {
  background: #2b9771;
}
section#news {
  float: left;
  width: 100%;
  background: url(../images/bg-news.jpg) no-repeat;
  padding: 30px 0;
}
section#news .content {
  position: relative;
}
section#news h2 {
  color: #ffffff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
section#news h2 span {
  font-weight: 900;
}
section#news .row {
  margin: 20px 0;
  width: 100%;
  display: inline-block;
  position: relative;
}
section#news .author {
  background: #ffffff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 5px;
  box-sizing: border-box;
  width: 125px;
  height: 125px;
  margin-top: 8%;
  position: absolute;
  top: 20%;
}
section#news .author p {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
section#news .author img {
  display: inline-block;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  width: 100%;
}
section#news .describe {
  background: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  width: 74%;
  padding: 20px;
  box-sizing: border-box;
  line-height: 24px;
  position: relative;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}
section#news .describe .date {
  font-size: 24px;
  color: #007f52;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 900;
}
section#news .describe .subject {
  float: left;
  width: 100%;
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
section#news .describe p {
  margin-bottom: 20px;
}
section#news .lt .author {
  left: 0;
}
section#news .lt .describe {
  float: right;
}
section#news .lt .describe:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -17%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 29px 170px 23px 0;
  border-color: transparent #FFF transparent transparent;
  -ms-transform: rotate(-12deg);
      transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
}
section#news .rt .author {
  right: 0;
}
section#news .rt .describe {
  float: left;
}
section#news .rt .describe:before {
  content: '';
  position: absolute;
  top: 45%;
  right: -11%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 46px 170px 29px;
  border-color: transparent #FFF transparent transparent;
  -ms-transform: rotate(-72deg);
      transform: rotate(-72deg);
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
}
section#news .more {
  text-align: center;
}
section#news .more a {
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 15px;
  box-sizing: border-box;
  font-weight: 900;
  text-shadow: 1px 0 1px #000;
  border: 2px solid #ffffff;
}
section#news .social {
  width: auto;
  position: absolute;
  bottom: 25px;
  right: 0;
}
section#news .social p {
  float: left;
  width: 120px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 0 1px #000;
  text-align: right;
  line-height: 19px;
}
section#news .social .icon {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}
section#news .social .icon a {
  width: 30px;
  float: left;
  margin: 0 3px;
  height: 30px;
  background: url(../images/img-social.png);
}
section#news .social .icon .facebook {
  background-position: 0 0;
}
section#news .social .icon .twitter {
  background-position: 30px 0;
}
section#contact {
  float: left;
  width: 100%;
  padding: 30px 0;
}
section#contact h2 {
  font-size: 60px;
  color: #7a7a7a;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
  display: inline-block;
}
section#contact h2 span {
  color: #242424;
  font-size: 36px;
  float: left;
  width: 100%;
}
section#contact .form {
  float: left;
  width: 100%;
}
section#contact .form .row {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
section#contact .form .row input,
section#contact .form .row textarea {
  border: 1px solid #a5aeaf;
  padding: 0 15px;
  box-sizing: border-box;
  color: #8b8b8b;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
}
section#contact .form .row input {
  width: 32.5%;
  height: 50px;
  margin-left: 1%;
}
section#contact .form .row input:first-child {
  margin-left: 0;
}
section#contact .form .row textarea {
  width: 100%;
  height: 230px;
  resize: none;
  padding: 15px;
}
section#contact .form .row button {
  float: left;
  padding: 15px 30px;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  background: #2ea37a;
  font-weight: 900;
  border: 0;
}
footer {
  background: #343434;
  float: left;
  width: 100%;
  padding: 30px 0;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}
footer .logo {
  float: left;
  margin-right: 40px;
}
footer .wrapper {
  float: left;
  width: auto;
  margin: 0 40px;
  color: #ffffff;
}
footer .wrapper a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
}
footer .wrapper a:hover {
  color: #888888;
}
footer .wrapper a i {
  display: none;
}
footer .wrapper ul {
  float: left;
  width: 100%;
}
footer .wrapper ul li {
  display: block;
  width: 100%;
  padding: 3px 0;
  position: relative;
}
footer .wrapper ul ul.subpage {
  float: left;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  background: #343434;
  opacity: 0;
  z-index: 2;
}
footer .wrapper ul ul.subpage li {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 0;
  border-left: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}
footer .social {
  width: auto;
  float: right;
}
footer .social p {
  float: left;
  width: 120px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  line-height: 19px;
}
footer .social .icon {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}
footer .social .icon a {
  width: 30px;
  float: left;
  margin: 0 3px;
  height: 30px;
  background: url(../images/img-social.png);
}
footer .social .icon .facebook {
  background-position: 0 0;
}
footer .social .icon .twitter {
  background-position: 30px 0;
}
@media (min-width: 992px) {
  .content {
    width: 1260px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content {
    width: 748px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .content {
    width-min: 300px;
    width-max: 747px;
  }
}
