<section id="main-content" ng-app="chronos">
<div class="title-page">
    <h1 translate>menu.calendar</h1>
</div>
<!-- Page Title -->
<div class="content">
    <section class="calendar">
        <calendar-menu></calendar-menu>
        <div class="week-prev">
            <a class="prev" ng-click="week(-1)">
                <i class="icon-left-open"></i>
            </a>
        </div>
        <div class="week-next">
            <a class="next" ng-click="week(1)">
                <i class="icon-right-open"></i>
            </a>
        </div>
        <!-- Pagination Calendar Next, Prev -->


        <div class="week"> <!-- FULL VIEW -->
           <calendar-table></calendar-table>
        </div>
    </section>
    <!-- Section Page (calendar, members, ...) -->
</div>
</section> <!--Main section -->