<section id="main-content" ng-app="chronos">
    <div class="title-page">
        <h1 translate>menu.calendar</h1>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="calendar">
            <calendar-menu></calendar-menu>
            <!-- Amount Day Calendar-->
            <div class="week-prev">
                <a class="prev" ng-click="month(-1)">
                    <i class="icon-left-open"></i>
                </a>
            </div>
            <div class="week-next">
                <a class="next" ng-click="month(1)">
                    <i class="icon-right-open"></i>
                </a>
            </div>
            <!-- Pagination Calendar Next, Prev -->
            <div class="grid">
                <div ng-repeat="day in days" class="event">
                    <a class="link"
                       ui-sref="calendar-day.daily({ doctorId: doctorId, currentDate: day.toString('yyyy-MM-dd') })"></a>
                    <div class="date">
                        {{day | dateFormat}} ({{day | dateFormat: "ddd" | normalizeText}})
                    </div>
                    <div class="box-event">
                        <div class="box">
                            <div
								ng-repeat="cabinet in events[day.getDate()+'-'+day.getMonth()] as cabinets"
								ng-class="{
									 'count-event-small': cabinets.length > 1,
									 'count-event': cabinets.length <= 1
								}"
								class="{{cabinet.color}}"
								>
								<span>
									{{cabinet.value}}
								</span>
                            </div>
                            <div class="action">
                                <a href="#"
									ui-sref="calendar-day.new-visit({ doctorId: doctorId, currentDate: day.toString('yyyy-MM-dd') })">
									<i class="icon-plus-circled"></i>
									{{'visit.add-visit' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Page (calendar, members, ...) -->
    </div>
</section> <!--Main section -->