<section id="bg-window" class="add-visit">
    <div class="window">
        <a href="#" class="close-window">
            <i class="icon-cancel-circled close-window"></i>
        </a>

        <div class="border">
            <h2><i class="icon-pencil"></i>Add new visit:</h2>

            <form action="#" method="post">
                <ul>
                    <li>
                        <div class="half">
                            <label class="full">Date of the visit:</label>
                            <fieldset class="full">
                                <input type="text">
                                <a href="#" class="choose-date">
                                    <i class="icon-calendar"></i>
                                </a>
                            </fieldset>
                        </div>
                        <div class="half">
                            <label class="full">Free term:</label>
                            <fieldset class="full">
                                <select name="term_visit" id="term_visit">
                                    <option>20.12.2013 - 14:00
                                    <option>25.12.2013 - 14:00
                                    <option>28.12.2013 - 14:00
                                    <option>29.12.2013 - 14:00
                                </select>
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <div class="half">
                            <label class="full">Name: (find on the list: <a href="#">Add person <i
                                    class="icon-plus-circled"></i></a>)</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                        <div class="half">
                            <label class="full">Surname:</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <div class="half">
                            <label class="full">Street:</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                        <div class="half">
                            <label class="full">Post code:</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <div class="half">
                            <label class="full">Pesel:</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                        <div class="half">
                            <label class="full">Number ID:</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <div class="half">
                            <label class="full">City:</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                        <div class="half">
                            <label class="full">Phone:</label>
                            <fieldset class="full">
                                <input type="text">
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <label class="full"><b>Short note:</b></label>
                        <fieldset class="full">
                            <input type="text">
                        </fieldset>
                    </li>
                    <li>
                        <label class="full"><b>Full describe:</b></label>
                        <fieldset class="full">
                            <textarea></textarea>
                        </fieldset>
                    </li>
                    <li>
                        <label class="full">
                            <a href="#">Add files <i class="icon-plus-circled"></i></a>
                        </label>
                        <fieldset class="full">
                            You don't add files
                        </fieldset>
                    </li>
                    <li>
                        <button class="btn blue rt">
                            Add visit
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>