<div class="box" keep-visible>
    <h2 translate>visit.patients-quick-contact</h2>

    <div class="quick-contact">
        <ul>
            <li ng-repeat="visit in eventsMap.events(currentDate.clone().set({hour:0, minute:0, second:0})) | orderBy:'start'">
                <div class="describe">
                    <strong>{{visit.patient | userInfo}}</strong><br/>
                    <span>{{visit.start.toString('HH:mm')}} - {{visit.end.toString('HH:mm')}}</span><br/>
                    {{'user-profile.phone' | translate}}: {{visit.patient.phone}}<br/>
                    {{'generic.email' | translate}}: {{visit.patient.email}} <br/>
                </div>
            </li>
        </ul>
    </div>
</div>
