<section id="main-content" ng-app="chronos" ng-controller="CalendarCtrl">
    <div class="title-page">
        <h1>Calendar</h1>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="calendar" ng-init="init(31)">
            <calendar-menu></calendar-menu>
            <!-- Amount Day Calendar-->
            <div class="week-prev">
                <a class="prev" ng-click="month(-1)">
                    <i class="icon-left-open"></i>
                </a>
            </div>
            <div class="week-next">
                <a class="next" ng-click="month(1)">
                    <i class="icon-right-open"></i>
                </a>
            </div>
            <!-- Pagination Calendar Next, Prev -->
            <div class="grid">
                <div ng-repeat="day in days" class="event turquoise">
                    <a class="link"
                       ui-sref="calendar-day.daily({ doctorId: doctorId, currentDate: day.toString('yyyy-MM-dd') })"></a>

                    <div class="date">
                        {{day | dateFormat}} ({{day | dateFormat: "dddd" | normalizeText}})
                    </div>
                    <div class="box-event">
                        <div class="box">
                            <div
                                    ng-repeat="cabinet in dayInfo(day, 4) as cabinets"
                                    ng-class="{
                                         'count-event-small': cabinets.length > 1,
                                         'count-event': cabinets.length <= 1
                                    }"
                                    class="{{cabinet.color}}"
                                    >
									<span>
									{{cabinet.value}}
									</span>
                            </div>
                            <div class="action">
                                <a href="#"><i class="icon-plus-circled"></i>Add visit</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Page (calendar, members, ...) -->
    </div>
</section> <!--Main section -->