<section id="main-content" ng-app="chronos" ng-controller="CalendarCtrl">
    <div class="title-page">
        <h1>Calendar</h1>
        <span>Day details</span>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="calendar" ng-init="init(31)">
            <calendar-menu></calendar-menu>
            <!-- Amount Day Calendar-->
            <div class="week-prev">
                <a class="prev" ng-click="previousMonth()">
                    <i class="icon-left-open"></i>
                </a>
            </div>
            <div class="week-next">
                <a class="next" ng-click="previousMonth()">
                    <i class="icon-right-open"></i>
                </a>
            </div>
            <!-- Pagination Calendar Next, Prev -->
            <div class="grid">
                <div ng-repeat="day in days" class="event turquoise">
                    <a class="link"></a>

                    <div class="date">
                        {{day | date: "dd-MM-yyyy (EEEE)"}}
                    </div>
                    <!--<div class="box-event" ng-repeat="stat in locationStats(day, 4)">-->
                        <!--<div class="box">-->
                            <!--<div class="count-event" >-->
                                <!--<p>{{stat.name}}</p>-->
									<!--<span>-->
									<!--{{stat.value}}-->
									<!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="info">
                        <i class="icon-clock"></i> First visit:<br/> 9PM to 10:30PM
                    </div>
                    <div class="action">
                        <a href="#"><i class="icon-plus-circled"></i>Add visit</a>
                        <a href="#"><i class="icon-plus-circled"></i>Add note</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Page (calendar, members, ...) -->
    </div>
</section> <!--Main section -->