<div class="top-info">
    <div class="widget-legend">
        <a href="#" class="open">
            <i class="icon-doc-text"></i>
            Legend
        </a>

        <div class="place-list">
            <a href="#" class="close">
                <i class="icon-cancel-circled"></i>
            </a>

            <div class="place blue">
                <div class="color"></div>
                <p>Uniwersytecki Szpital Kliniczny we Wrocławiu</p>
            </div>
            <div class="place orange">
                <div class="color"></div>
                <p>4 Szpital Wojskowy z Polikliniką we Wrocławiu</p>
            </div>
            <div class="place turquoise">
                <div class="color"></div>
                <p>Wojewódzki Szpital Specjalistyczny we Wrocławiu</p>
            </div>
        </div>
    </div>
    <!-- Widget Legend -->
    <div class="widget-min-calendar">
        <a class="open" ng-click="openDatePicker($event)">
            <i class="icon-calendar"></i>
            miniCalendar
        </a>
        <datepicker
                class="well well-sm"
                ng-model="currentDate"
                min-date="Date.today()"
                datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)"
                ng-show="opened"
                ng-change="onDatePickerDateChange()"
                close-text="Close"
                />
    </div>
    <!-- Widget MiniCalendar -->

    <div class="date">
        <div class="month">
            <a ng-click="month(-1)"><i class="icon-left-open"></i></a>
            <span>{{beginDate | date: "MMMM"}}</span>
            <a ng-click="month(1)"><i class="icon-right-open"></i></a>
        </div>
        <div class="year">
            <a ng-click="year(-1)"><i class="icon-left-open"></i></a>
            <span>{{beginDate | date: "yyyy"}}</span>
            <a ng-click="year(1)"><i class="icon-right-open"></i></a>
        </div>
    </div>
    <!-- Date Calendar -->

</div>
<!-- Top Info -->
<div class="amount">
    <ul>
        <li>
            <a href="#" ui-sref="calendar-day.daily({ doctorId: doctorId })">
                Daily
            </a>
        </li>
        <li>
            <a href="#" ui-sref="calendar-week({ doctorId: doctorId })">
                Weekly
            </a>
        </li>
        <li>
            <a href="#" ui-sref="calendar-month({ doctorId: doctorId })">
                Monthly
            </a>
        </li>
    </ul>
</div>
<!-- Amount Day Calendar-->