<section id="main-content" ng-controller="TimelineCtrl" ng-init="init()">
    <div class="title-page">
        <h1>Visit</h1>
    </div>
    <div class="content">
        <section class="visit">
            <div class="top-info">
                Aby zrezygnować z wizyty możesz użyć przycisku kosza lub złapać i przeciągnąć na pole "Canceled Visit"
            </div>
            <div class="box-row">
                <table infinite-scroll='next()'
                       infinite-scroll-disabled='loading'
                       infinite-scroll-distance='2'>
                    <tr>
                        <td>Current/Planned visits</td>
                        <td></td>
                        <td>Cancelled visits</td>
                    </tr>
                    <tr ng-repeat="event in events">
                        <td>
                            <calendar-timeline-event ng-if="event.cancelled===null" event="event"/>
                        </td>
                        <td>
                        </td>
                        <td>
                            <calendar-timeline-event ng-if="event.cancelled!==null" event="event"/>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</section>