<section id="main-content" ng-app="chronos" ng-controller="CalendarCtrl">
<div class="title-page">
    <h1>Calendar</h1>
    <span>Day details</span>
</div>
<!-- Page Title -->
<div class="content">
    <section class="calendar">
        <div class="top-info" ng-init="init(7)">
            <div class="widget-legend">
                <a href="#" class="open">
                    <i class="icon-doc-text"></i>
                    Legend
                </a>

                <div class="place-list">
                    <a href="#" class="close">
                        <i class="icon-cancel-circled"></i>
                    </a>

                    <div class="place blue">
                        <div class="color"></div>
                        <p>Uniwersytecki Szpital Kliniczny we Wrocławiu</p>
                    </div>
                    <div class="place orange">
                        <div class="color"></div>
                        <p>4 Szpital Wojskowy z Polikliniką we Wrocławiu</p>
                    </div>
                    <div class="place turquoise">
                        <div class="color"></div>
                        <p>Wojewódzki Szpital Specjalistyczny we Wrocławiu</p>
                    </div>
                </div>
            </div>
            <!-- Widget Legend -->
            <div class="widget-min-calendar">
                <a href="#" class="open">
                    <i class="icon-calendar"></i>
                    miniCalendar
                </a>

                <div class="calendar">
                    <a href="#" class="close">
                        <i class="icon-cancel-circled"></i>
                    </a>
                    <select>
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                        <option>May</option>
                        <option>Jun</option>
                        <option>Jul</option>
                        <option>Aug</option>
                        <option>Sep</option>
                        <option>Oct</option>
                        <option>Nov</option>
                        <option>Dec</option>
                    </select>
                    <table>
                        <tr>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                        <tr>
                            <td class="select"><a href="#">1</a></td>
                            <td><a href="#">2</a></td>
                            <td><a href="#">3</a></td>
                            <td><a href="#">4</a></td>
                            <td><a href="#">5</a></td>
                            <td><a href="#">6</a></td>
                            <td><a href="#">7</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">8</a></td>
                            <td><a href="#">9</a></td>
                            <td><a href="#">10</a></td>
                            <td><a href="#">11</a></td>
                            <td><a href="#">12</a></td>
                            <td><a href="#">13</a></td>
                            <td><a href="#">14</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">15</a></td>
                            <td><a href="#">16</a></td>
                            <td><a href="#">17</a></td>
                            <td><a href="#">18</a></td>
                            <td><a href="#">19</a></td>
                            <td><a href="#">20</a></td>
                            <td><a href="#">21</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">22</a></td>
                            <td><a href="#">23</a></td>
                            <td><a href="#">24</a></td>
                            <td><a href="#">25</a></td>
                            <td><a href="#">26</a></td>
                            <td class="select"><a href="#">27</a></td>
                            <td><a href="#">28</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">29</a></td>
                            <td><a href="#">30</a></td>
                            <td><a href="#">31</a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Widget MiniCalendar -->

            <div class="date">
                <div class="month">
                    <a ng-click="previousMonth()"><i class="icon-left-open"></i></a>
                    <span>{{beginDate | date: "MMMM"}}</span>
                    <a ng-click="nextMonth()"><i class="icon-right-open"></i></a>
                </div>
                <div class="year">
                    <a ng-click="previousYear()"><i class="icon-left-open"></i></a>
                    <span>{{beginDate | date: "yyyy"}}</span>
                    <a ng-click="nextYear()"><i class="icon-right-open"></i></a>
                </div>
            </div>
            <!-- Date Calendar -->

        </div>
        <!-- Top Info -->
        <div class="amount">
            <ul>
                <li>
                    <a href="#" ui-sref="calendar-day">
                        Day
                    </a>
                </li>
                <li>
                    <a href="#" ui-sref="calendar-week">
                        7 Day
                    </a>
                </li>
                <li>
                    <a href="#" ui-sref="calendar-month">
                        Month
                    </a>
                </li>
            </ul>
        </div>
        <!-- Amount Day Calendar-->
        <div class="week-prev">
            <a class="prev" ng-click="previousWeek()">
                <i class="icon-left-open"></i>
            </a>
        </div>
        <div class="week-next">
            <a class="next" ng-click="nextWeek()">
                <i class="icon-right-open"></i>
            </a>
        </div>
        <!-- Pagination Calendar Next, Prev -->


        <div class="full"> <!-- FULL VIEW -->
            <div class="time-line"></div>
            <table>
                <tr>
                    <th></th>
                    <th ng-repeat="day in days">{{day | date: "dd-MM-yyyy (EEEE)"}}
                        <div>
                            <i class="icon-plus-circled"></i>
                            <i class="icon-comment"></i>
                        </div>
                    </th>
                </tr>
                <tr ng-repeat="hour in _.range(0,24)">
                    <td>{{hour}}:00</td>
                    <td ng-repeat="day in days">
                        <div class="event blue" style="height:100px">
                            <div class="time">
                                <div class="action">
                                    <a href="#" class="delete">
                                        <i class="icon-trash"></i>
                                    </a>
                                </div>
                                {{day | date: "EEEE (dd)"}} {{hour}}:00-{{hour+1}}:00
                            </div>
                            <div class="describe">
                                <strong>Marta Marciszek</strong><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nulla dignissim,
                                dictum metus
                                ac, elementum dui.
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <!-- Section Page (calendar, members, ...) -->
</div>
</section> <!--Main section -->