<li ng-controller="TimelineEventCtrl"
    ng-init="readState(event)"
    ng-class="{
        disable: isDisabled,
        active: isActive
    }"
        >
    <div class="box">
        <div class="user">
            <strong>{{event.start | date: "HH:mm"}} - {{event.end | date: "HH:mm"}}</strong><br/>
            <a>
                {{event.doctor | userInfo:'withDegree'}}
            </a>

            <!--<div class="img">-->
            <!--<img src="images/temp/user-1.jpg" alt="User profile">-->
            <!--</div>-->
        </div>
        <div class="address">
            <a>{{event.location.name}}</a>

            <p>
                {{event.location.address | addressInfo}}
            </p>
        </div>
        <div class="reason">
            <a ui-sref="user-visit({ eventId: event.id })"><strong>{{event.title}}</strong></a><br/>
            {{event.description}}
        </div>
        <div class="date-address">
            <span><i class="icon-phone"></i>{{event.doctor.phone}}</span>
            <span><a href="mailto:mail@gmail.com"><i class="icon-mail"></i>{{event.doctor.email}}</a></span>
        </div>
        <div class="action">
            <a class="edit" ui-sref="user-visit({ eventId: event.id })"><i class="icon-cog"></i></a>
            <a class="copy" ui-sref="calendar-day.new-visit({ doctorId: event.doctor.id })"><i
                    class="icon-arrows-ccw"></i></a>
            <a class="delete" ng-click="cancel(event)" ng-show="actions().canCancel(event)">
                <i class="icon-trash"></i>
            </a>
            <a class="relancer" ui-sref="user-visit({ eventId: event.id })"><i class="icon-cog"></i></a>
            <a class="relancer" ui-sref="calendar-day.new-visit({ doctorId: event.doctor.id })"><i
                    class="icon-arrows-ccw"></i></a>
        </div>
    </div>
    <div class="circle"></div>
    <div class="date">
        <div class="status">
            {{state.value}}
        </div>
        <div class="day">{{event.start | date: "dd"}}</div>
        <div class="month">
            <span>{{event.start | date: "EEEE"}}</span>
            {{event.start | date: "MM-yyyy"}} <br/>
        </div>
    </div>
</li>