<div class="time-line"></div>
<table>
    <tr>
        <th></th>
        <th ng-repeat="day in days">{{day | date: "dd-MM-yyyy (EEEE)"}}
            <div>
                <i class="icon-plus-circled"></i>
                <i class="icon-comment"></i>
            </div>
        </th>
    </tr>
    <tr ng-repeat="hour in _.range(0,24)">
        <td>{{hour}}:00</td>
        <td ng-repeat="day in days" id="{{day.toString('yyyy-MM-dd')}} {{hour}}:00">
            <div class="event {{event.color}}" style="height:100px"
                ng-repeat="event in getEvents(day,hour, 0)"
                ui-resizable
                ui-on-resize="dndChangeTime($event, $ui, event)"
                ui-draggable="true"
                drag="event"
                drag-channel="dndDayChannel"
                >
                <div class="time">
                    <div class="action">
                        <a class="delete" ng-click="deleteEvent(event)">
                        <i class="icon-trash"></i>
                        </a>
                    </div>
                    {{event.start | date: "HH:mm"}} - {{event.end | date: "HH:mm"}}
                </div>
                <div class="describe" ng-click="editEvent(event)">
                    <strong>{{event.title}}</strong><br/>
                    {{event.description}}
                </div>
            </div>
            <div ng-repeat="quarter in [0,15,30,45]"
                drop-channel="dndDayChannel"
                ui-on-drop="dndDrop($event, $data, day, hour, quarter)"
                ng-click="addEvent(day, hour)"
                >&nbsp;
            </div>
        </td>
    </tr>
</table>