<section id="main-content" class="calendar">
    <div class="content" ng-app="chronos" ng-controller="CalendarCtrl">
        <div class="main" ng-init="init(7)">
            <div class="row-bg-white">
                <div class="row-content">
                    <div class="calendar-hour">
                        <!-- CALENDAR SETTINGS - next/previous year, change month etc. -->
                        <div class="year">
                            <a ng-click="previousYear()"><i class="icon-left-open"></i></a>
                            {{getYear()}}
                            <a ng-click="nextYear()"><i class="icon-right-open"></i></a>
                        </div>

                        <div class="view">
                            Change view:
                            <a ui-sref="calendar-events">
                                <i class="icon-doc-text"></i>Short
                            </a><span>/</span>
                            <a ui-sref="calendar">
                                <i class="icon-book-open"></i>Full
                            </a>
                        </div>

                        <div class="month">
                            <ul>
                                <li ng-repeat="month in months"><a
                                        ng-click="setMonth(months.indexOf(month))">{{month}}</a></li>
                            </ul>
                        </div>
                        <div class="pagination">
                            <a class="prev-week" ng-click="previousWeek()">
                                <i class="icon-left-open"></i>Preview week
                            </a>
                            <a class="next-week" ng-click="nextWeek()">
                                Next week<i class="icon-right-open"></i>
                            </a>
                        </div>
                        <!-- CALENDAR HEADER - days, whole day events, notes etc. -->
                        <table>
                            <tr>
                                <td>Note</td>
                                <td ng-repeat="day in days">
                                    <div class="note-box">
                                        <a class="read-note-link">
                                            <i class="icon-comment"></i>(2)
                                        </a>
                                        <a class="add-new-note" ng-click="addEvent(day)">
                                            <i class="icon-plus-circled"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Hour</th>
                                <th ng-repeat="day in days">
                                    {{day | date: "EEE / yyyy-MM-dd"}}
                                </th>
                            </tr>
                        </table>
                        <!-- CALENDAR CONTEXT - events -->
                        <table>
                            <tr>
                                <td>
                                    <div class="box" ng-repeat="hour in _.range(0,24)">{{hour}}</div>
                                </td>
                                <td class="select" ng-repeat="day in days">
                                    <div class="box" ng-repeat="hour in _.range(0,24)">
                                        <!-- placeholder where events can be dropped or added -->
                                        <div
                                                drop-channel="dndDayChannel"
                                                ui-on-drop="dndDrop($event, $data, day, hour, 0)"
                                                ng-click="addEvent(day, hour)"
                                                >&nbsp;
                                        </div>
                                        <!-- currently defined events -->
                                        <div ng-repeat="event in getEvents(day,hour, 0)"
                                             class="event h-{{event.duration}} wrapper {{event.color}} time"
                                             ui-resizable
                                             ui-on-resize="dndChangeTime($event, $ui, event)"
                                             ui-draggable="true"
                                             drag="event"
                                             drag-channel="dndDayChannel"
                                             drop-channel="dndDayChannel"
                                             ui-on-drop="dndDrop($event, $data, day, hour, 0)"
                                                >
                                            {{event.title}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a ui-sref="calendar" class="back-to-top">Top</a>
</section>