<div class="box" keep-visible>
    <h2>Patients quick contact</h2>

    <div class="quick-contact">
        <ul>
            <li ng-repeat="visit in eventsMap.events(currentDate) | orderBy:'start'">
                <div class="describe">
                    <strong>{{visit.patient | userInfo}}</strong><br/>
                    <span>visit hour: {{visit.start.toString('HH:mm')}} - {{visit.end.toString('HH:mm')}}</span><br/>
                    phone: {{visit.patient.phone}}<br/>
                    email: {{visit.patient.email}} <br/>
                </div>
            </li>
        </ul>
    </div>
</div>
