<div class="top-info">
    <div class="widget-legend">
        <popup-info>
            <a class="open">
                <i class="icon-doc-text"></i>
                {{'calendar.legend' | translate}}
            </a>

            <div class="place-list">
                <div ng-repeat="location in doctor.locations" class="place {{location.color}}">
                    <div class="color"></div>
                    <p>{{location.name}} - {{location.address | addressInfo}}</p>
                </div>
            </div>
        </popup-info>
    </div>
    <!-- Widget Legend -->
    <div class="widget-min-calendar">
        <a class="open" ng-click="showDatePicker($event)">
            <i class="icon-calendar"></i>
            {{'calendar.mini-calendar' | translate}}
        </a>
        <datepicker
                ng-model="currentDate"
                ng-show="datePickerOpened"
                ng-change="onDatePickerDateChange()"
                />
    </div>
    <!-- Widget MiniCalendar -->

    <div class="date">
        <div class="month">
            <a ng-click="month(-1)"><i class="icon-left-open"></i></a>
            <span>{{beginDate | date: "MMMM"}}</span>
            <a ng-click="month(1)"><i class="icon-right-open"></i></a>
        </div>
        <div class="year">
            <a ng-click="year(-1)"><i class="icon-left-open"></i></a>
            <span>{{beginDate | date: "yyyy"}}</span>
            <a ng-click="year(1)"><i class="icon-right-open"></i></a>
        </div>
    </div>
    <!-- Date Calendar -->

</div>
<!-- Top Info -->
<div class="amount">
    <ul>
        <li>
            <a href="#" ui-sref="calendar-day.daily({ doctorId: doctorId })" translate>
                menu.calendar-daily
            </a>
        </li>
        <li>
            <a href="#" ui-sref="calendar-week({ doctorId: doctorId })" translate>
                menu.calendar-weekly
            </a>
        </li>
        <li>
            <a href="#" ui-sref="calendar-month({ doctorId: doctorId })" translate>
                menu.calendar-monthly
            </a>
        </li>
    </ul>
</div>
<!-- Amount Day Calendar-->