<div class="top-info">
    <div class="widget-legend">
        <a href="#" class="open">
            <i class="icon-doc-text"></i>
            Legend
        </a>

        <div class="place-list">
            <a href="#" class="close">
                <i class="icon-cancel-circled"></i>
            </a>

            <div class="place blue">
                <div class="color"></div>
                <p>Uniwersytecki Szpital Kliniczny we Wrocławiu</p>
            </div>
            <div class="place orange">
                <div class="color"></div>
                <p>4 Szpital Wojskowy z Polikliniką we Wrocławiu</p>
            </div>
            <div class="place turquoise">
                <div class="color"></div>
                <p>Wojewódzki Szpital Specjalistyczny we Wrocławiu</p>
            </div>
        </div>
    </div>
    <!-- Widget Legend -->
    <div class="widget-min-calendar">
        <a href="#" class="open">
            <i class="icon-calendar"></i>
            miniCalendar
        </a>

        <div class="calendar">
            <a href="#" class="close">
                <i class="icon-cancel-circled"></i>
            </a>
            <select>
                <option>Jan</option>
                <option>Feb</option>
                <option>Mar</option>
                <option>Apr</option>
                <option>May</option>
                <option>Jun</option>
                <option>Jul</option>
                <option>Aug</option>
                <option>Sep</option>
                <option>Oct</option>
                <option>Nov</option>
                <option>Dec</option>
            </select>
            <table>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                <tr>
                    <td class="select"><a href="#">1</a></td>
                    <td><a href="#">2</a></td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">7</a></td>
                </tr>
                <tr>
                    <td><a href="#">8</a></td>
                    <td><a href="#">9</a></td>
                    <td><a href="#">10</a></td>
                    <td><a href="#">11</a></td>
                    <td><a href="#">12</a></td>
                    <td><a href="#">13</a></td>
                    <td><a href="#">14</a></td>
                </tr>
                <tr>
                    <td><a href="#">15</a></td>
                    <td><a href="#">16</a></td>
                    <td><a href="#">17</a></td>
                    <td><a href="#">18</a></td>
                    <td><a href="#">19</a></td>
                    <td><a href="#">20</a></td>
                    <td><a href="#">21</a></td>
                </tr>
                <tr>
                    <td><a href="#">22</a></td>
                    <td><a href="#">23</a></td>
                    <td><a href="#">24</a></td>
                    <td><a href="#">25</a></td>
                    <td><a href="#">26</a></td>
                    <td class="select"><a href="#">27</a></td>
                    <td><a href="#">28</a></td>
                </tr>
                <tr>
                    <td><a href="#">29</a></td>
                    <td><a href="#">30</a></td>
                    <td><a href="#">31</a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Widget MiniCalendar -->

    <div class="date">
        <div class="month">
            <a ng-click="month(-1)"><i class="icon-left-open"></i></a>
            <span>{{beginDate | date: "MMMM"}}</span>
            <a ng-click="month(1)"><i class="icon-right-open"></i></a>
        </div>
        <div class="year">
            <a ng-click="year(-1)"><i class="icon-left-open"></i></a>
            <span>{{beginDate | date: "yyyy"}}</span>
            <a ng-click="year(1)"><i class="icon-right-open"></i></a>
        </div>
    </div>
    <!-- Date Calendar -->

</div>
<!-- Top Info -->
<div class="amount">
    <ul>
        <li>
            <a href="#" ui-sref="calendar-day.visits({ doctorId: doctorId })">
                Day
            </a>
        </li>
        <li>
            <a href="#" ui-sref="calendar-week({ doctorId: doctorId })">
                7 Day
            </a>
        </li>
        <li>
            <a href="#" ui-sref="calendar-month({ doctorId: doctorId })">
                Month
            </a>
        </li>
    </ul>
</div>
<!-- Amount Day Calendar-->