<section id="main-content">
<div class="title-page">
    <h1>Calendar</h1>
    <span>Day details</span>
</div>
<!-- Page Title -->
<div class="content">
<section class="calendar">
<div class="top-info">
    <div class="widget-legend">
        <a href="#" class="open">
            <i class="icon-doc-text"></i>
            Legend
        </a>

        <div class="place-list">
            <a href="#" class="close">
                <i class="icon-cancel-circled"></i>
            </a>

            <div class="place blue">
                <div class="color"></div>
                <p>Uniwersytecki Szpital Kliniczny we Wrocławiu</p>
            </div>
            <div class="place orange">
                <div class="color"></div>
                <p>4 Szpital Wojskowy z Polikliniką we Wrocławiu</p>
            </div>
            <div class="place turquoise">
                <div class="color"></div>
                <p>Wojewódzki Szpital Specjalistyczny we Wrocławiu</p>
            </div>
        </div>
    </div>
    <!-- Widget Legend -->
    <div class="widget-min-calendar">
        <a href="#" class="open">
            <i class="icon-calendar"></i>
            miniCalendar
        </a>

        <div class="calendar">
            <a href="#" class="close">
                <i class="icon-cancel-circled"></i>
            </a>
            <select>
                <option>Jan</option>
                <option>Feb</option>
                <option>Mar</option>
                <option>Apr</option>
                <option>May</option>
                <option>Jun</option>
                <option>Jul</option>
                <option>Aug</option>
                <option>Sep</option>
                <option>Oct</option>
                <option>Nov</option>
                <option>Dec</option>
            </select>
            <table>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                <tr>
                    <td class="select"><a href="#">1</a></td>
                    <td><a href="#">2</a></td>
                    <td><a href="#">3</a></td>
                    <td><a href="#">4</a></td>
                    <td><a href="#">5</a></td>
                    <td><a href="#">6</a></td>
                    <td><a href="#">7</a></td>
                </tr>
                <tr>
                    <td><a href="#">8</a></td>
                    <td><a href="#">9</a></td>
                    <td><a href="#">10</a></td>
                    <td><a href="#">11</a></td>
                    <td><a href="#">12</a></td>
                    <td><a href="#">13</a></td>
                    <td><a href="#">14</a></td>
                </tr>
                <tr>
                    <td><a href="#">15</a></td>
                    <td><a href="#">16</a></td>
                    <td><a href="#">17</a></td>
                    <td><a href="#">18</a></td>
                    <td><a href="#">19</a></td>
                    <td><a href="#">20</a></td>
                    <td><a href="#">21</a></td>
                </tr>
                <tr>
                    <td><a href="#">22</a></td>
                    <td><a href="#">23</a></td>
                    <td><a href="#">24</a></td>
                    <td><a href="#">25</a></td>
                    <td><a href="#">26</a></td>
                    <td class="select"><a href="#">27</a></td>
                    <td><a href="#">28</a></td>
                </tr>
                <tr>
                    <td><a href="#">29</a></td>
                    <td><a href="#">30</a></td>
                    <td><a href="#">31</a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                    <td><a href="#"></a></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Widget MiniCalendar -->

    <div class="date">
        <div class="month">
            <a href="#"><i class="icon-left-open"></i></a>
            <span>October</span>
            <a href="#"><i class="icon-right-open"></i></a>
        </div>
        <div class="year">
            <a href="#"><i class="icon-left-open"></i></a>
            <span>2014</span>
            <a href="#"><i class="icon-right-open"></i></a>
        </div>
    </div>
    <!-- Date Calendar -->

    <div class="view">
        View:
        <a href="#"><i class="icon-layout"></i>Grid</a>
        <a href="#"><i class="icon-calendar"></i></i>Full</a>
    </div>
    <!-- View Calendar -->
</div>
<!-- Top Info -->

<div class="week-prev">
    <a href="#" class="prev">
        <i class="icon-left-open"></i>
    </a>
</div>
<div class="week-next">
    <a href="#" class="next">
        <i class="icon-right-open"></i>
    </a>
</div>
<!-- Pagination Calendar Next, Prev -->


<div class="details"> <!-- DETAILS VIEW -->
    <div class="box">
        <div class="time-line"></div>
        <table>
            <tr>
                <th></th>
                <th>
                    <h2>07/11/2014 (monday)</h2>
                    <a href="#" class="add">
                        <i class="icon-plus-circled"></i>
                        Add new visit
                    </a>
                </th>
            </tr>
            <tr>
                <td>9:00</td>
                <td>
                    <div class="event blue" style="height:170px">
                        <div class="time">
                            <div class="action">
                                <a href="#" class="delete">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                            9:00-10:45
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>10:00</td>
                <td></td>
            </tr>
            <tr>
                <td>11:00</td>
                <td></td>
            </tr>
            <tr>
                <td>12:00</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="box">

        <h2>Your Notes on this day</h2>
        <a href="#" class="add">
            <i class="icon-plus-circled"></i>
            Add note
        </a>

        <div class="notes">
            <a href="#" class="delete">
                <i class="icon-trash"></i>
            </a>

            <h3>Some Title</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel volutpat felis. Sed consectetur massa
                at tellus blandit pretium. In nisl lorem, pulvinar ut lacus sed, posuere semper leo. Vestibulum
                elementum nisi ut eros hendrerit, nec commodo nisi accumsan. Duis vestibulum justo non leo varius, id
                posuere neque posuere. Curabitur ac finibus nisl. Sed et mi vel dui tincidunt commodo.
            </p>
        </div>
        <div class="notes">
            <a href="#" class="delete">
                <i class="icon-trash"></i>
            </a>

            <h3>Some Title</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel volutpat felis. Sed consectetur massa
                at tellus blandit pretium. In nisl lorem, pulvinar ut lacus sed, posuere semper leo. Vestibulum
                elementum nisi ut eros hendrerit, nec commodo nisi accumsan. Duis vestibulum justo non leo varius, id
                posuere neque posuere. Curabitur ac finibus nisl. Sed et mi vel dui tincidunt commodo.
            </p>
        </div>
        <div class="notes empty">
            <h3>You don't have any note</h3>
        </div>

        <a href="#" class="add-big">
            <i class="icon-plus-circled"></i>
            <span>Add note</span>
        </a>

    </div>
    <div class="box">
        <h2>Patients quick contact</h2>

        <div class="quick-contact">
            <ul>
                <li>
                    <div class="describe">
                        <strong>Marta Marciszek</strong><br/>
                        <span>visit hour: 9:00 - 14:00</span><br/>
                        phone: 71 342 323 323<br/>
                        email: lorem@gmail.com
                    </div>
                    <div class="img">
                        <div>
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="describe">
                        <strong>Obama Black Nyyga</strong><br/>
                        <span>visit hour: 9:00 - 14:00</span><br/>
                        phone: 71 342 323 323<br/>
                        email: lorem@gmail.com
                    </div>
                    <div class="img">
                        <div>
                            <img src="images/temp/user-1.jpg" alt="User profile">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="describe">
                        <strong>Obama Black Nyyga</strong><br/>
                        <span>visit hour: 9:00 - 14:00</span><br/>
                        phone: 71 342 323 323<br/>
                        email: lorem@gmail.com
                    </div>
                    <div class="img">
                        <div>
                            <img src="images/temp/user-1.jpg" alt="User profile">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="describe">
                        <strong>Obama Black Nyyga</strong><br/>
                        <span>visit hour: 9:00 - 14:00</span><br/>
                        phone: 71 342 323 323<br/>
                        email: lorem@gmail.com
                    </div>
                    <div class="img">
                        <div>
                            <img src="images/temp/user-1.jpg" alt="User profile">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
<!-- Section Page (calendar, members, ...) -->