<section id="main-content" ng-controller="TimelineCtrl" ng-init="init()">
    <div class="title-page">
        <h1>Visit</h1>
    </div>
    <div class="content">
        <section class="visit2">
            <div class="top-info">
                Aby zrezygnować z wizyty możesz użyć przycisku kosza lub złapać i przeciągnąć na pole "Canceled Visit"
            </div>
            <div class="box-row">
                <ul infinite-scroll='next()'
                       infinite-scroll-disabled='loading'
                       infinite-scroll-distance='2'>
                    <calendar-timeline-event ng-repeat="event in events" event="event"/>
                </ul>
            </div>
        </section>
    </div>
</section>