<section id="main-content" ng-app="chronos" ng-controller="CalendarCtrl">
<div class="title-page">
    <h1>Calendar</h1>
    <span>Day details</span>
</div>
<!-- Page Title -->
<div class="content">
    <section class="calendar" ng-init="init(7)">
        <calendar-menu></calendar-menu>
        <div class="week-prev">
            <a class="prev" ng-click="previousWeek()">
                <i class="icon-left-open"></i>
            </a>
        </div>
        <div class="week-next">
            <a class="next" ng-click="nextWeek()">
                <i class="icon-right-open"></i>
            </a>
        </div>
        <!-- Pagination Calendar Next, Prev -->


        <div class="full"> <!-- FULL VIEW -->
            <div class="time-line"></div>
            <table>
                <tr>
                    <th></th>
                    <th ng-repeat="day in days">{{day | date: "dd-MM-yyyy (EEEE)"}}
                        <div>
                            <i class="icon-plus-circled"></i>
                            <i class="icon-comment"></i>
                        </div>
                    </th>
                </tr>
                <tr ng-repeat="hour in _.range(0,24)">
                    <td>{{hour}}:00</td>
                    <td ng-repeat="day in days">
                        <div class="event blue" style="height:100px">
                            <div class="time">
                                <div class="action">
                                    <a href="#" class="delete">
                                        <i class="icon-trash"></i>
                                    </a>
                                </div>
                                {{day | date: "EEEE (dd)"}} {{hour}}:00-{{hour+1}}:00
                            </div>
                            <div class="describe">
                                <strong>Marta Marciszek</strong><br/>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nulla dignissim,
                                dictum metus
                                ac, elementum dui.
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <!-- Section Page (calendar, members, ...) -->
</div>
</section> <!--Main section -->