<section id="main-content" ng-app="chronos" ng-controller="CalendarCtrl">
<div class="title-page">
    <h1>Calendar</h1>
    <span>Day details</span>
</div>
<!-- Page Title -->
<div class="content">
    <section class="calendar" ng-init="init(7)">
        <calendar-menu></calendar-menu>
        <div class="week-prev">
            <a class="prev" ng-click="previousWeek()">
                <i class="icon-left-open"></i>
            </a>
        </div>
        <div class="week-next">
            <a class="next" ng-click="nextWeek()">
                <i class="icon-right-open"></i>
            </a>
        </div>
        <!-- Pagination Calendar Next, Prev -->


        <div class="full"> <!-- FULL VIEW -->
           <calendar-table></calendar-table>
        </div>
    </section>
    <!-- Section Page (calendar, members, ...) -->
</div>
</section> <!--Main section -->