<section id="main-content" class="calendar">
    <div class="content">
        <div class="main">
            <div class="row-bg-white">
                <div class="row-content-left" ng-app="chronos" ng-controller="CalendarCtrl">
                    <div class="event-day" ng-init="init(1)">
                        <h2>
                            {{beginDate | date: "EEEE"}}
                            <span>{{beginDate | date: "yyyy-MM-dd"}}</span>
                        </h2>

                        <div class="row">
                            <i class="icon-bell"></i> Today you have: <b>22 visit</b><br/>
                            <a href="#" class="add-new-visit">
                                <i class="icon-plus-circled"></i> Add new visit
                            </a>
                        </div>

                        <!-- NOTES -->
                        <div class="row">
                            <i class="icon-comment"></i> Your important short note <b>(2)</b>:
                            <a href="#" class="add-new-note">
                                <i class="icon-plus-circled" title="Add note"></i> Add new note
                            </a>

                            <div class="note">
                                <a href="#" class="close-note">
                                    <i class="icon-cancel-circled" title="Close note"></i>
                                </a>

                                <p>
                                    "1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis imperdiet
                                    sapien. Sed vel
                                    aliquet nulla. Vivamus vel quam faucibus, posuere turpis eget, malesuada risus. Ut
                                    posuere egestas
                                    massa. "
                                    <a href="#" class="read-note-link">Read more</a>
                                </p>
                            </div>
                            <div class="note">
                                <a href="#" class="close-note">
                                    <i class="icon-cancel-circled"></i>
                                </a>

                                <p>
                                    "2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis imperdiet
                                    sapien. Sed vel
                                    aliquet nulla. Vivamus vel quam faucibus, posuere turpis eget, malesuada risus. Ut
                                    posuere egestas
                                    massa. "
                                    <a href="#" class="read-note-link">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- EVENTS -->
                    <div class="event">
                        <h2>
                            Events
                        </h2>

                        <div class="row" ng-repeat="event in getDayEvents(beginDate)">
                            <a href="#"></a>

                            <div class="hour">
                                <i class="icon-clock"></i>
                                {{event.start | date: "hh:mm"}}
                            </div>
                            <div class="short-info">
                                <i class="icon-comment"></i>
                                <a href="#" class="icon-trash-link"><i class="icon-trash"></i></a>
                                <span class="name">{{event.title}}</span>
									<span class="info">
										{{event.description}}
									</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CALENDAR -->
            <div class="row-content-right">
                <div class="calendar-day">
                    <div class="year">
                        <a href="#"><i class="icon-left-open"></i></a>
                        2013
                        <a href="#"><i class="icon-right-open"></i></a>
                    </div>
                    <div class="view">
                        Change view:
                        <a href="#">
                            <i class="icon-doc-text"></i>Short
                        </a><span>/</span>
                        <a href="#">
                            <i class="icon-book-open"></i>Full
                        </a>
                    </div>
                    <div class="month">
                        <ul>
                            <li><a href="#">Jan</a></li>
                            <li><a href="#">Feb</a></li>
                            <li><a href="#">Mar</a></li>
                            <li><a href="#">Apr</a></li>
                            <li><a href="#">May</a></li>
                            <li><a href="#">Jun</a></li>
                            <li><a href="#">Jul</a></li>
                            <li><a href="#">Aug</a></li>
                            <li><a href="#">Sep</a></li>
                            <li><a href="#">Oct</a></li>
                            <li><a href="#">Nov</a></li>
                            <li><a href="#">Dec</a></li>
                        </ul>
                    </div>
                    <table>
                        <tr>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                        <tr>
                            <td><a href="#" class="select">1</a></td>
                            <td><a href="#">2</a></td>
                            <td><a href="#">3</a></td>
                            <td><a href="#">4</a></td>
                            <td><a href="#">5</a></td>
                            <td><a href="#">6</a></td>
                            <td><a href="#">7</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">8</a></td>
                            <td><a href="#">9</a></td>
                            <td><a href="#">10</a></td>
                            <td><a href="#">11</a></td>
                            <td><a href="#">12</a></td>
                            <td><a href="#">13</a></td>
                            <td><a href="#">14</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">15</a></td>
                            <td><a href="#">16</a></td>
                            <td><a href="#">17</a></td>
                            <td><a href="#">18</a></td>
                            <td><a href="#">19</a></td>
                            <td><a href="#">20</a></td>
                            <td><a href="#">21</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">22</a></td>
                            <td><a href="#">23</a></td>
                            <td><a href="#">24</a></td>
                            <td><a href="#">25</a></td>
                            <td><a href="#">26</a></td>
                            <td><a href="#" class="select">27</a></td>
                            <td><a href="#">28</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">29</a></td>
                            <td><a href="#">30</a></td>
                            <td><a href="#">31</a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <a href="#" class="back-to-top">Top</a>
</section> <!-- Main Content -->