<section id="main-content" ng-controller="TimelineCtrl">
    <div class="title-page">
        <h1 translate>visit.patient-visits</h1>
    </div>
    <div class="content">
        <section class="visit2">
            <div class="top-info" translate>
                visit.patient-visits-info
            </div>
            <div ng-show="events.length==0" translate>
                visit.no-visits
            </div>
            <div class="box-row">
                <ul infinite-scroll='next()'
                    infinite-scroll-disabled='loading'
                    infinite-scroll-distance='0'
                    infinite-scroll-immediate-check='true'>
                    <calendar-timeline-event ng-repeat="event in events" event="event"/>
                </ul>
            </div>
        </section>
    </div>
</section>