<section id="main-content" ng-controller="SearchDoctorCtrl">
    <div class="title-page">
        <h1 translate>visit.search-doctor</h1>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="search">
            <div class="week-prev">
                <a class="prev" ng-click="moveDays(-daysCount)">>
                    <i class="icon-left-open"></i>
                </a>
            </div>
            <div class="week-next">
                <a class="next" ng-click="moveDays(daysCount)">
                    <i class="icon-right-open"></i>
                </a>
            </div>
            <!-- Pagination Calendar Next, Prev -->

            <div class="top-info" translate>
                visit.search-info
            </div>
            <div class="box-row">
                <div class="box">
                    <h2><span>1</span>{{'visit.doctor' | translate}}</h2>
                    <ul>
                        <li>
                            <label>{{'visit.full-name' | translate}} / {{'generic.email' | translate}}:</label>
                            <fieldset>
                                <input type="text"
                                       ng-model="criteria.name"
                                       placeholder="{{'visit.full-name' | translate}} / {{'generic.email' | translate}}">
                            </fieldset>
                        </li>
                        <li>
                            <label>{{'visit.location' | translate}}:</label>
                            <fieldset>
                                <input type="text"
                                       ng-model="criteria.localization"
                                       placeholder="{{'visit.location' | translate}}">
                            </fieldset>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <h2><span>2</span>{{'visit.visit-date' | translate}}</h2>
                    <ul>
                        <li>
                            <label>{{'visit.begin-date' | translate}}:</label>
                            <fieldset>
                                <input type="text" class="form-control"
                                       datepicker-popup="dd-MM-yyyy"
                                       ng-model="start"
                                       is-open="opened"
                                       ng-disabled="true"
                                       min-date="Date.today()"
                                       datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)"
                                       ng-required="true"
                                       close-text="{{'generic.close' | translate}}"
                                       user-date
                                        />
                                <button ng-click="openDatePicker($event)">
                                    {{'generic.open' | translate}}<i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </fieldset>
                        </li>
                        <li>
                            <label></label>
                            <fieldset>
                                <button ng-click="search()" translate>generic.search</button>
                            </fieldset>
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <h2><span>3</span>{{'visit.specialization' | translate}}</h2>
                    <ul>
                        <li>
                            <label>{{'visit.chose-specialization' | translate}}:</label>
                            <fieldset>
                                <input type="text"
                                       ng-model="newSpecialization"
                                       placeholder="{{'visit.chose-specialization' | translate}}"
                                       typeahead="specialization for specialization in specializations"
                                       typeahead-editable="false"
                                        >
                            </fieldset>
                            <button ng-click="addSpecialization(newSpecialization)">Add</button>
                        </li>
                        <li>
                            <div class="tag">
                                <a ng-repeat="specialization in criteria.specializations"
                                   ng-click="deleteSpacialization(specialization)"
                                        >
                                    {{specialization}}
                                    <div class="delete"><i class="icon-minus-circled"></i></div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Form -->
            <div class="top-info" translate>
                visit.search-result
            </div>
            <div class="box-row"
                 infinite-scroll='nextDoctors()'
                 infinite-scroll-disabled='loading'
                 infinite-scroll-distance='2'
                    >
                <div class="results">
                    <div ng-repeat="doctor in doctors" class="box blue"> <!-- Color -->
                        <div class="person">
                            <div class="name">
                                <h2>
                                    <a ui-sref="cabinet({ doctorId: doctor.id })">
                                        {{doctor | userInfo:'withDegree'}}
                                    </a>
                                </h2>
                            </div>
                        </div>
                        <div ng-repeat="location in doctor.locations" class="info">
                            <div class="address">
                                <p>
                                    <span class="color {{location.color}}"></span>
                                    <a ui-sref="cabinet({ doctorId: doctor.id })">
                                        {{location.name}}<br/>
                                        {{location.address | addressInfo}}
                                    </a>
                                </p>

                                <div ng-repeat="specialization in location.specializations">
                                    {{specialization}}
                                </div>
                            </div>
                            <div class="calendar">
                                <div class="box-event" ng-repeat="(key,value) in location.calendar">
                                    <div class="box-count">
                                        <a href="#"
                                           ui-sref="calendar-day.new-visit({ doctorId: doctor.id, currentDate: key.toString('yyyy-MM-dd') })"></a>

                                        <p>
                                            {{toDate(key) | date: "dd.MM"}}
                                            ({{toDate(key) | dateFormat: "ddd" | normalizeText}})
                                        </p>

                                        <div class="count-event" ng-class="{red: free(value)==20}">
                                            <p>Free</p>
                                            <small>
                                                {{free(value)}} %
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Person box -->
                </div>
            </div>
            <!-- Result -->
        </section>
        <!-- Section Page (calendar, members, ...) -->
    </div>
</section> <!--Main section -->