<div class="border">
    <h2><i class="icon-pencil"></i>Visit:</h2>

    <form>
        <ul>
            <li>
                <label class="full"><b>Title:</b></label>
                <fieldset class="full">
                    <input type="text" ng-model="editedEvent.title" ng-required="true" ng-minlength="3"
                           ng-maxlength="255">
                </fieldset>
            </li>
            <li>
                <!-- TODO time in single row -->
                <div class="half">
                    <label class="full">Date of the visit:</label>
                    <fieldset class="full">
                        <input type="text" ng-model="editedEvent.start">
                        <a href="#" class="choose-date">
                            <i class="icon-calendar"></i>
                        </a>
                    </fieldset>
                </div>
                <div class="half">
                    <label class="full">Durations:</label>
                    <fieldset class="full">
                        <select name="term_visit" id="term_visit" ng-model="editedEvent.duration">
                            <option ng-repeat="duration in durations">{{duration}}
                        </select>
                    </fieldset>
                </div>
            </li>
            <li>
                <div class="half">
                    <label class="full">Owner:</label>
                    <fieldset class="full">
                        <input type="text" ng-model="editedEvent.owner">
                    </fieldset>
                </div>
                <div class="half">
                    <label class="full">Participants: </label>
                    <!--TODO multi field, add remove-->
                    <fieldset class="full" ng-repeat="user in editedEvent.users">
                        <input type="text" ng-model="user">
                    </fieldset>
                    <fieldset class="full">
                        <input type="text">
                    </fieldset>
                    <a href="#"><i class="icon-plus-circled"></i></a>
                </div>
            </li>
            <li>
                <!--TODO map + location as single field-->
                <div class="half">
                    <label class="full">Street:</label>
                    <fieldset class="full">
                        <input type="text" ng-model="editedEvent.location.street">
                    </fieldset>
                </div>
            </li>
            <li>
                <div class="half">
                    <label class="full">City:</label>
                    <fieldset class="full">
                        <input type="text" ng-model="editedEvent.location.city">
                    </fieldset>
                </div>
            </li>
            <li>
                <label class="full"><b>Description:</b></label>
                <fieldset class="full">
                    <textarea ng-model="editedEvent.description"></textarea>
                </fieldset>
            </li>
            <li>
                <button class="btn blue rt" ng-click="cancel()">Cancel</button>
                <button class="btn blue rt" ng-click="delete()" ng-show="isButtonDeleteVisible">Delete</button>
                <button class="btn blue rt" ng-click="save()" ng-show="isButtonSaveVisible">Save</button>
            </li>
            <!--TODO add colors, -->
        </ul>
    </form>
</div>
