<div class="content">
    <div class="title-page">
        <h1>Wizyta</h1>
    </div>
    <section class="calendar">
        <div class="details" ng-controller="DisplayEventCtrl">
            <div class="box">

                <h2>
                    <i class="icon-calendar"></i>
                    {{event.start | dateFormat}} ({{event.start | dateFormat: "dddd" | normalizeText}})
                    <br/>
                    {{event.start | date: "HH:mm"}} - {{event.end | date: "HH:mm"}}
                </h2>

                <div class="notes">
                    <form>
                        <ul>
                            <li ng-show="event.cancelled != undefined">
                                <div class="half" translate>
                                    visit.visit-cancelled
                                </div>
                            </li>
                            <li>
                                <label class="full"><b>{{'visit.doctor' | translate}}:</b></label>

                            </li>
                            <li>
                                <label class="full">{{'visit.full-name' | translate}}:</b></label>
                                <fieldset class="full">
                                    {{event.doctor | userInfo:'withDegree'}}
                                </fieldset>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full">{{'visit.address' | translate}}: </label>
                                    <fieldset class="full">
                                        {{event.location.name}} <br/>
                                        {{event.location.address | addressInfo}}
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full">{{'user-profile.phone' | translate}}</label>
                                    <fieldset class="full">
                                        {{event.doctor.phone}}
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full">{{'generic.email' | translate}}:</label>
                                    <fieldset class="full">
                                        <a href="mailto:{{event.doctor.email}}">{{event.doctor.email}}</a>
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full"><b>{{'visit.examination' | translate}}:</b></label>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full">{{'visit.title' | translate}}:</label>
                                    <fieldset class="full">
                                        {{event.title}}
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full top">{{'generic.description' | translate}}:</label>
                                    <fieldset class="full">
                                        {{event.description}}
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full"><b>{{'visit.patient' | translate}}:</b></label>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full">{{'visit.full-name' | translate}}:</label>
                                    <fieldset class="full">
                                        {{event.patient | userInfo}}
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full">{{'user-profile.phone' | translate}}:</label>
                                    <fieldset class="full">
                                        {{event.patient.phone}}
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <div class="half">
                                    <label class="full">{{'generic.email' | translate}}:</label>
                                    <fieldset class="full">
                                        <a href="mailto:{{event.patient.email}}">{{event.patient.email}}</a>
                                    </fieldset>
                                </div>
                            </li>
                            <li>
                                <label class="full"></label>
                                <fieldset class="full">
                                    <button class="btn blue rt"
                                            ng-show="options.actions().canCancel(event)"
                                            ng-click="options.cancel(event)"
                                            translate>
                                        visit.cancel-visit
                                    </button>
                                </fieldset>
                            </li>
                            <!--TODO add colors, -->
                        </ul>
                    </form>
                </div>
            </div>
            <div class="box maps-address">
                <h2><i class="icon-map"></i> {{'visit.location' | translate}}</h2>

                <div class="maps">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d2504.937763087601!2d17.034928747731566!3d51.10960844526916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d51.110687399999996!2d17.0359627!4m5!1s0x470fe9c2d4b58abf%3A0xb70956aec205e0f5!2zV3JvY8WCYXc!3m2!1d51.1078852!2d17.038537599999998!5e0!3m2!1spl!2spl!4v1413958784345"
                                width="100%" height="350" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
                <div class="address">
                    <h2>{{event.location.name}}</h2>
                    {{event.location.address.street}}, {{event.location.address.city}},
                    {{event.location.address.country}}
                    <div class="row hour">
                        <h2>{{'visit.open-hours' | translate}}:</h2>

                        <p>

                        <div ng-repeat="working in event.location.working_hours">
                            <span>{{'days.' + working.day | toLowerCase | translate}}:</span>
                            {{working.start}} - {{working.end}}<br/>
                        </div>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>