<div class="box">

    <h2>Info doctor</h2>

    <div class="data-doctor">
        <div class="name">
		<span>
			prof. dr. hab
		</span>
            Mieczysław Bączek
        </div>
        <div class="row">
            <a href="#"> Prywatny Gabinet Stomatologiczny</a>

            <p>ul. Woronicza 15/3, 44-323 Wraszawa</p>
        </div>
        <div class="row phone">
            <span><i class="icon-phone"></i> 503 112 331</span>
            <span><a href="mailto:mail@gmail.com"><i class="icon-mail"></i> barak@gmail.com</a></span>
        </div>
        <div class="row hour">
            <p class="title">Godziny otwarcia gabinetu:</p>

            <p>
                <span>Poniedziałek:</span> 10:00 - 20:00<br/>
                <span>Wtorek:</span> 10:00 - 20:00<br/>
                <span>Środa:</span> 10:00 - 20:00<br/>
                <span>Czwartek:</span> 10:00 - 20:00<br/>
                <span>Piątek:</span> 10:00 - 20:00<br/>
                <span>Sobota:</span> 10:00 - 20:00<br/>
                <span>Niedziela:</span> 10:00 - 20:00<br/>
            </p>
        </div>
        <div class="row">
            <p class="title">Informacje dodatkowe:</p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum nisi a tellus auctor, a
                sodales urna viverra. Vivamus facilisis varius tincidunt. Maecenas euismod quis odio a tempor. Nunc nec
                ultrices urna. Sed in nunc ac augue consectetur vehicula id et ligula. In hac habitasse platea dictumst.
                Donec suscipit erat quis leo cursus sagittis. Quisque tempus id lectus ac tristique. Fusce vitae pretium
                metus.

            <p>
        </div>
    </div>


</div>
<div class="box">
    <h2>Location map</h2>

    <div class="maps">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d2504.937763087601!2d17.034928747731566!3d51.10960844526916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d51.110687399999996!2d17.0359627!4m5!1s0x470fe9c2d4b58abf%3A0xb70956aec205e0f5!2zV3JvY8WCYXc!3m2!1d51.1078852!2d17.038537599999998!5e0!3m2!1spl!2spl!4v1413958784345"
                    width="100%" height="350" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>