<section id="main-content">
    <div class="title-page">
        <h1>Login</h1>
    </div>
    <div class="content" ng-controller="LoginCtrl">
        <section class="registration">
            <div class="box-row">
                <form name="loginForm" ng-submit="login(credentials)" novalidate>
                    <div class="box none">
                        <h2><span>1</span>Login</h2>
                        <ul>
                            <li>
                                <fieldset>
                                    <input type="text" placeholder="Login" ng-model="credentials.username">
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2><span>2</span>Password</h2>
                        <ul>
                            <li>
                                <fieldset>
                                    <input type="password" placeholder="Password" ng-model="credentials.password">
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2><span>3</span>Login</h2>
                        <ul>
                            <li>
                                <label>You don't have an account on our website?<br/>
                                    <a href="#" ui-sref="registration">Register now</a>
                                </label>
                            </li>
                            <li>
                                <button>
                                    <i class="icon-login"></i>Login
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
                <ui-notify event="auth-login-failed" type="warning" message="{{'login.wrongCredentials' | translate}}"/>
            </div>
        </section>
    </div>
</section>