<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" debug="true" scanPeriod="10 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level ${HOSTNAME} %logger{36} - [%X{sourceThread}][%X{akkaSource}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mongodb.casbah" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

</configuration>