<section id="main-content">
    <div class="title-page">
        <h1 translate>registration.registration</h1>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="registration">
            <div class="top-info">
                <p>
                    {{'registration.info-before-1' | translate}}
                    <a href="#main#benefits" translate>registration.info-before-2</a>
                    {{'registration.info-before-3' | translate}}
                    <a href="#" ui-sref="regulations" translate>registration.info-before-4</a>.
                </p>

                <p translate>
                    registration.info-after-registration
                </p>
            </div>
            <div class="box-row">
                <form name="userForm" ng-submit="save(user)" ng-controller="RegistrationCtrl" novalidate>
                    <div class="box none">
                        <h2><span>1</span>{{'registration.account' | translate}}</h2>
                        <ul>
                            <li>
                                <fieldset>
                                    <input name="email"
                                           type="email"
                                           placeholder="{{'generic.email' | translate}}"
                                           ng-model="user.email"
                                           ng-minlength="5"
                                           required>
                                </fieldset>
                                <small class="error" ng-show="userForm.email.$error.minlength" translate>
                                    registration.validation.length-email
                                </small>
                                <small class="error" ng-show="userForm.email.$error.email" translate>
                                    registration.validation.wrong-email
                                </small>
                            </li>
                            <li>
                                <fieldset>
                                    <input name="email2"
                                           type="email"
                                           placeholder="{{'registration.repeat-email' | translate}}"
                                           ng-model="userConf.email"
                                           ng-minlength="5"
                                           field-match="user.email"
                                           required>
                                    <small class="error" ng-show="userForm.email2.$error.minlength" translate>
                                        registration.validation.length-email
                                    </small>
                                    <small class="error" ng-show="userForm.email2.$error.email" translate>
                                        registration.validation.wrong-email
                                    </small>
                                    <small class="error" ng-show="userForm.email2.$error.fieldMatch" translate>
                                        registration.validation.no-match-email
                                    </small>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box" align-in-row>
                        <h2><span>2</span>{{'login.password' | translate}}</h2>
                        <ul>
                            <li>
                                <fieldset>
                                    <input name="password"
                                           type="password"
                                           placeholder="{{'login.password' | translate}}"
                                           ng-model="user.password"
                                           ng-minlength="5"
                                           required>
                                    <small class="error" ng-show="userForm.password.$error.minlength" translate>
                                        registration.validation.length-password
                                    </small>
                                </fieldset>
                            </li>
                            <li>
                                <fieldset>
                                    <input name="password2"
                                           type="password"
                                           placeholder="{{'registration.repeat-password' | translate}}"
                                           ng-model="userConf.password"
                                           field-match="user.password"
                                           ng-minlength="5"
                                           required>
                                    <small class="error" ng-show="userForm.password2.$error.minlength" translate>
                                        registration.validation.length-password
                                    </small>
                                    <small class="error" ng-show="userForm.password2.$error.fieldMatch" translate>
                                        registration.validation.no-match-password
                                    </small>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box" align-in-row>
                        <h2><span>3</span>{{'registration.registration' | translate}}</h2>
                        <ul>
                            <li>
                                <no-captcha
                                        g-recaptcha-response="user.captcha.response">
                                </no-captcha>
                                <input ng-model="user.captcha.response" style="display:none;" required>
                            </li>
                            <li>
								<span class="checkbox">
									<input type="checkbox"
                                           ng-model="isAccepted"
                                           required>
									<a href="#" ui-sref="regulations" translate>registration.accept-rules</a>
								</span>
                            </li>
                        </ul>
                    </div>
                    <button class="btn click" ng-disabled="userForm.$invalid" translate>
                        registration.register
                    </button>
                </form>
            </div>
        </section>
    </div>
</section>
