<section id="main-content" class="calendar">
<div class="main">
<div class="content">
<div id="title">
    <h3>Calendar</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis sagittis nibh. Fusce eu malesuada mi, sit
        amet ultrices dui. Integer vitae risus pulvinar, pulvinar dui sit amet, lacinia lectus. Sed auctor tortor quam,
        non euismod lorem imperdiet at.
    </p>
</div>


<div class="calendar-table">
<table>
<tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thusday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
</tr>

<tr>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											3 event
										</span>

            <h2>1</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										
										<span class="event">
											1 event
										</span>

            <h2>2</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>3</h2>

        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1 event
										</span>

            <h2>4</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>5</h2>

        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>6</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>7</h2>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											3 event
										</span>

            <h2>8</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1 event
										</span>

            <h2>9</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>10</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1 event
										</span>

            <h2>11</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>12</h2>

        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>13</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>14</h2>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											3 event
										</span>

            <h2>15</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1 event
										</span>

            <h2>16</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>17</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1 event
										</span>

            <h2>18</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>19</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>20</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>21</h2>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											3 event
										</span>

            <h2>22</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1 event
										</span>

            <h2>23</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>24</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1 event
										</span>

            <h2>25</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>

            <h2>26</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>27</h2>
        </div>
    </td>
    <td>
        <div>
            <a href="#"></a>
										<span class="event">
											1
										</span>

            <h2>28</h2>
        </div>
    </td>
</tr>
</table>
</div>
</div>
</div>

<div class="sidebar">

    <div class="sidebar-data">
        <a href="#" class="close start">
            <span class="icon-right-open"></span>
        </a>

        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#messages" class="icon-folder-open"></a></li>
                <li class='tab'><a href="#widgets" class="icon-th"></a></li>
            </ul>
            <div id="messages" class="tabs">
                <div class="content">
                    <h3>Post Catalog</h3>

                    <ul class="catalog">
                        <li><a href="#">Received (5)</a></li>
                        <li><a href="#">Sent (30)</a></li>
                        <li><a href="#">Trash (223)</a> <a href="#" class="delete">Delete all</a></li>
                        <li><a href="#">Important (3)</a></li>
                    </ul>
                    <div class="add">
                        <a href="#">Add new catalog</a>
                    </div>
                </div>
            </div>
            <!-- messages -->
            <div id="widgets">
                <div class="content">
                    widgets
                </div>
            </div>
            <!-- widgets -->
        </div>


    </div>


</div>
</section>
