<section id="main-content" class="messages">
    <div class="main">
        <div class="content">
            <div id="title">
                <h3>Messages</h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis sagittis nibh. Fusce eu
                    malesuada mi, sit amet ultrices dui. Integer vitae risus pulvinar, pulvinar dui sit amet, lacinia
                    lectus. Sed auctor tortor quam, non euismod lorem imperdiet at.
                </p>
            </div>

            <div class="widgets">
                <div class="widget-quick-search">
                    <div class="wrapper-form">
                        <form>
                            <label>
                                Search messages:
                            </label>
                            <fieldset>
                                <input type="text"></input>
                                <button class="icon-search"></button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="list">
                <table>
                    <tr>
                        <th class="action"></th>
                        <th class="title">Tilte</th>
                        <th class="author">Author</th>
                        <th class="catalog">Catalog</th>
                        <th class="date">Date</th>
                    </tr>
                    <tr>
                        <td class="action center">
                            <input type="checkbox"/>
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="center">Kwiatkowski</td>
                        <td class="center">Odebrane</td>
                        <td class="center">20.10.2014</td>
                    </tr>
                    <tr class="info">
                        <td colspan="5">
                            20.12.2012 napisał: <a href="#">Marcin Kwiatkowski</a>
                            <span>Messages:</span>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis sagittis nibh. Fusce
                                eu malesuada mi, sit amet ultrices dui. Integer vitae risus pulvinar, pulvinar dui sit
                                amet, lacinia lectus. Sed auctor tortor quam, non euismod lorem imperdiet at.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="action center">
                            <input type="checkbox"/>
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="center">Kwiatkowski</td>
                        <td class="center">Odebrane</td>
                        <td class="center">20.10.2014</td>
                    </tr>
                    <tr class="info">
                        <td colspan="5">
                            20.12.2012 napisał: <a href="#">Marcin Kwiatkowski</a>
                            <span>Messages:</span>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis sagittis nibh. Fusce
                                eu malesuada mi, sit amet ultrices dui. Integer vitae risus pulvinar, pulvinar dui sit
                                amet, lacinia lectus. Sed auctor tortor quam, non euismod lorem imperdiet at.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="sidebar">

        <div class="sidebar-data">
            <a href="#" class="close start">
                <span class="icon-right-open"></span>
            </a>

            <div id="tab-container" class="tab-container">
                <ul class='etabs'>
                    <li class='tab'><a href="#messages" class="icon-folder-open"></a></li>
                    <li class='tab'><a href="#widgets" class="icon-th"></a></li>
                </ul>
                <div id="messages" class="tabs">
                    <div class="content">
                        <h3>Post Catalog</h3>

                        <ul class="catalog">
                            <li><a href="#">Received (5)</a></li>
                            <li><a href="#">Sent (30)</a></li>
                            <li><a href="#">Trash (223)</a> <a href="#" class="delete">Delete all</a></li>
                            <li><a href="#">Important (3)</a></li>
                        </ul>
                        <div class="add">
                            <a href="#">Add new catalog</a>
                        </div>
                    </div>
                </div>
                <!-- messages -->
                <div id="widgets">
                    <div class="content">
                        widgets
                    </div>
                </div>
                <!-- widgets -->
            </div>


        </div>


    </div>
</section>