<section id="main-content" class="user">
<div class="main">
<div class="content">
<div id="title">
    <h3>User list</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis sagittis nibh. Fusce eu malesuada mi, sit
        amet ultrices dui. Integer vitae risus pulvinar, pulvinar dui sit amet, lacinia lectus. Sed auctor tortor quam,
        non euismod lorem imperdiet at.
    </p>
</div>

<div class="widgets">
    <div class="widget-change-view">
        View:
        <a href="#" class="icon-th" title="Kafelki" alt="Kafelki"></a>
        <a href="#" class="icon-th-list" title="Lista" alt="Lista"></a>
    </div>

    <div class="widget-quick-search">
        <div class="wrapper-form">
            <form>
                <label>
                    Search people:
                </label>
                <fieldset>
                    <input type="text" placeholder="Name"/>
                    <button class="icon-search"></button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="list-user">
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-01.jpg" alt="User">
        </a>

        <div class="name">
            Magdalena
            Kłycińska
            Kłycińska
            Kłycińska
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-02.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-03.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-04.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-05.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-02.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-03.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-05.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-01.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-04.jpg" alt="User">
        </a>

        <div class="name">
            Michał
            Rusałek
        </div>
    </div>

    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-03.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-05.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-01.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-04.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-05.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-02.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-03.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-05.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-01.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-04.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-05.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-02.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-03.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-05.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-01.jpg" alt="User">
        </a>
    </div>
    <div class="user-view">
        <a href="#">
            <img src="img/temp/sample-user-04.jpg" alt="User">
        </a>
    </div>
</div>
</div>
</div>

<div class="sidebar">
    <div class="sidebar-data">
        <a href="#" class="close start">
            <span class="icon-right-open"></span>
        </a>

        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#user-info" class="icon-user"></a></li>
                <li class='tab'><a href="#widgets" class="icon-th"></a></li>
            </ul>
            <div id="user-info" class="tabs">
                <div class="content">
                    <div class="action">
                        <h3>Action profile</h3>
                        <ul>
                            <li><a href="#" class="btn btn-red" id="edit">Edit user</a></li>
                            <li><a href="#" class="btn btn-red" id="delete">Delete user</a></li>
                            <li><a href="#" class="btn btn-red" id="deactive">Deactivate User</a></li>
                            <li><a href="#" class="btn btn-blue hidden" id="save">SAVE</a></li>
                        </ul>
                    </div>

                    <div class="personal-data">
                        <h3>Personal data</h3>
                        <ul>
                            <li><span>Name:</span> <input type="text" disabled value="Robb"></li>
                            <li><span>Surname:</span> <input type="text" disabled value="Blanche"></li>
                            <li><span>Street:</span> <input type="text" disabled value="Woronicza 1"></li>
                            <li><span>Post Code:</span> <input type="text" disabled value="50-123"></li>
                            <li><span>City:</span> <input type="text" disabled value="Warszawa"></li>
                            <li><span>Phone:</span> <input type="text" disabled value="5032 234 131"></li>
                            <li><span>E-mail</span> <input type="text" disabled value="loremipsum@gmail.com"></li>
                        </ul>
                        <div class="images">
                            <img src="img/temp/sample-user-03.jpg" alt="User">
                        </div>
                    </div>
                    <div class="maps">
                        <h3>Maps</h3>

                        <div class="map">
                            <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://maps.google.pl/maps?ie=UTF8&amp;q=Woronicza+17,+Ba%C5%82uty+91-030+%C5%81%C3%B3d%C5%BA,+Wojew%C3%B3dztwo+%C5%82%C3%B3dzkie&amp;fb=1&amp;gl=pl&amp;hq=&amp;hl=pl&amp;geocode=FUNCFgMdGSsoAQ&amp;split=0&amp;hnear=Woronicza+17,+91-030+%C5%81%C3%B3d%C5%BA,+Wojew%C3%B3dztwo+%C5%82%C3%B3dzkie&amp;ll=51.790403,19.409689&amp;spn=0.004101,0.010568&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                        </div>
                    </div>
                    <div class="message">
                        <h3>Quick message</h3>
                        <ul>
                            <li>
                                <fieldset>
                                    <input type="text" placeholder="Title"/>
                                </fieldset>
                            </li>
                            <li>
                                <fieldset>
                                    <textarea placeholder="Message"></textarea>
                                </fieldset>
                            </li>
                            <li>
                                <button>Send</button>
                                <button>Reset</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
</section>