<section id="main-content">
    <div class="title-page">
        <h1 translate>login.lost-password-info</h1>
    </div>
    <!-- Page Title -->
    <div class="content">
        <section class="registration">
            <div class="top-info">
                <p translate>
                    login.lost-password-desc
                </p>
            </div>
            <div class="box-row">
                <form name="lostPasswordForm" ng-submit="regain(user)" ng-controller="LostPasswordCtrl" novalidate>
                    <div class="box none">
                        <h2><span>1</span>{{'registration.account' | translate}}</h2>
                        <ul>
                            <li>
                                <fieldset>
                                    <input name="email"
                                           type="email"
                                           placeholder="{{'generic.email' | translate}}"
                                           ng-model="user.email"
                                           ng-minlength="5"
                                           required>
                                </fieldset>
                                <small class="error" ng-show="lostPasswordForm.email.$error.minlength" translate>
                                    registration.validation.length-email
                                </small>
                                <small class="error" ng-show="lostPasswordForm.email.$error.email" translate>
                                    registration.validation.wrong-email
                                </small>
                            </li>
                            <li>
                                <fieldset>
                                    <input name="email2"
                                           type="email"
                                           placeholder="{{'registration.repeat-email' | translate}}"
                                           ng-model="userConf.email"
                                           ng-minlength="5"
                                           field-match="user.email"
                                           required>
                                    <small class="error" ng-show="lostPasswordForm.email2.$error.minlength" translate>
                                        registration.validation.length-email
                                    </small>
                                    <small class="error" ng-show="lostPasswordForm.email2.$error.email" translate>
                                        registration.validation.wrong-email
                                    </small>
                                    <small class="error" ng-show="lostPasswordForm.email2.$error.fieldMatch" translate>
                                        registration.validation.no-match-email
                                    </small>
                                </fieldset>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <h2><span>2</span>{{'login.regain-password' | translate}}</h2>
                        <ul>
                            <li>
                                <no-captcha
                                        g-recaptcha-response="user.captcha.response">
                                </no-captcha>
                                <input ng-model="user.captcha.response" style="display:none;" required>
                            </li>
                            <li>
                                <button class="btn click" ng-disabled="lostPasswordForm.$invalid" translate>
                                    login.regain-password
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
