<section id="main-content">
    <div class="title-page">
        <h1 translate>cabinet.doctors-cabinet</h1>
    </div>
    <!-- Page Title -->
    <div class="content" ng-controller="CabinetInfoCtrl">
        <section class="cabinet">
            <div class="top-info" translate>
                cabinet.info
            </div>
            <a ui-sref="calendar-day.new-visit({ doctorId: doctorId })" translate>visit.add-visit</a>
            <div class="box-row doctor-info">
                <div class="box">
                    <div class="info-doctor">
                        <div class="name-company">
							<span>
								{{doctor | userInfo:'withDegree'}}
							</span>
                        </div>

                        <div class="description">
                            <strong>{{'generic.description' | translate}}:</strong><br/>
                            <p>
                                {{doctor.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

			<div class="box-row" ng-repeat="location in doctor.locations">
				<div class="box cabinet-name">
					<div class="row">
                        <div class="color {{location.color}}">
                            <span></span>
                        </div>
                        <div class="name-company">
							<span>
								{{location.name}}
							</span>
                        </div>
                        <div class="specialization">
							<div class="title">
								<span>{{"cabinet.cabinet-specialization" | translate}}</span>
							</div>
                            <div ng-repeat="specialization in location.specializations" class="option">
                                {{specialization | label:'specializations' | translate}}
                            </div>
                        </div>
                    </div>				 
				</div>
                <div class="box">                   
                    <div class="row data">
                        <div class="box-left">
                            <div class="address">
								<div class="box">
									<div class="title">
										<span>{{"cabinet.cabinet-address" | translate}}</span>
									</div>
									<span>
										{{location.address.street}}<br/>
										{{location.address.city}}<br/>
										{{location.address.country}}
										<br/><br/>
										{{'user-profile.phone' | translate}}: {{doctor.phone}}<br/>										
										{{'generic.email' | translate}}: <a href="mailto:{{doctor.email}}">{{doctor.email}}</a><br/>																			
									</span>
								</div>
								<div class="box">
									<div class="title">
										<span>{{'visit.location' | translate}}</span>
									</div>
									<div class="maps">
                                        <google-map address="location.address" title="event.location.name"/>
									</div>
								</div>
								<div class="open-hour">
									<div class="title">
										<span>{{'visit.open-hours' | translate}}:</span>
									</div>
									<ul>
										<li ng-repeat="working in location.working_hours">
											<span class="day">{{'days.' + working.day | toLowerCase | translate}}</span>
											<span class="hour">{{working.start | toLocalHours}} - {{working.end | toLocalHours}}</span>
										</li>
									</ul>
								</div>
                            </div> 
                        </div>
                        <div class="box-right">
                            <div class="treatments">
                                <div class="title">
                                    <span>{{'cabinet.examination-types' | translate}}:</span>
                                    <ul>
                                        <li ng-repeat="template in location.templates">
                                            <div class="intervention">
                                                {{template.name | label:'templates' | translate}}
                                            </div>
                                            <div class="time">
												<span ng-repeat="duration in template.durations">
													{{duration}}
												</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Page (calendar, members, ...) -->
    </div>
</section> <!--Main section -->