<section id="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="title-page">
        <h1>Cabinet</h1>
    </div>
    <!-- Page Title -->
    <div class="content" ng-controller="EditCabinetCtrl">
        <section class="cabinet">
            <div class="top-info">
                Gabinet lekarza
            </div>
            <form name="cabinet" novalidate>
                <div class="box-row">
                    <div class="box">
                        <div class="info-doctor">
                            <div class="title">
                                <span>Presonal info</span>
                            </div>

                            <div class="name">
                                {{doctor | userInfo:'withDegree'}}
                                <br/>
                            </div>

                            <div class="short-info">
                                <strong>Short info: </strong><br/>

                                <p>
                                    <textarea ng-model="doctor.description"></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box" ng-repeat="location in doctor.locations">
                        <div class="row">
                            <div class="delete">
                                <a tooltip-animation="false"
                                   tooltip="Skasuj gabinet"
                                   tooltip-popup-delay='1000'
                                   ng-click="deleteValue(doctor.locations, location)">
                                    <i class="icon-trash"></i>
                                </a>
                            </div>
                            <div class="color {{location.color}}">
                                <span></span>
                            </div>
                            <div class="name-company">
                                <ng-form id="cabientName-{{$index}}" name="cabientName">
                                    <span>
                                        <input id="name"
                                               name="name"
                                               placeholder="Nazwa gabinetu"
                                               ng-model="location.name"
                                               ng-minlength="2"
                                               required>
                                    </span>
                                    <small class="error" ng-show="cabientName.name.$error.minlength">
                                        Cabinet name must have at least 2 characters
                                    </small>
                                </ng-form>
                            </div>
                            <div class="tag">
                                <div ng-repeat="specialization in location.specializations">
                                    {{specialization}}
                                    <div class="delete"
                                         tooltip-animation="false"
                                         tooltip="Skasuj specializacje"
                                         tooltip-popup-delay='1000'
                                         ng-click="deleteValue(location.specializations, specialization)">
                                        <a href="#">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <input type="text"
                                           ng-model="newSpecialization"
                                           placeholder="Nowa specializacja"
                                           typeahead="specialization for specialization in specializations"
                                           typeahead-editable="true"
                                            >
                                </div>
                                <div class="add">
                                    <a ng-click="addValue(location.specializations, newSpecialization, specializations)">
                                        <i class="icon-plus-circled"></i>Dodaj specializacje
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="box-left">
                                <div class="address">
                                    <ng-form id="cabientAddress-{{$index}}" name="cabientAddress">

                                        <div>Ulica:</div>
                                        <input name="street"
                                               ng-model="location.address.street"
                                               ng-minlength="2"
                                               required>
                                        <small class="error" ng-show="cabientAddress.street.$error.minlength">
                                            Must have at least 2 characters
                                        </small>

                                        <div>Miasto:</div>
                                        <input name="city"
                                               ng-model="location.address.city"
                                               ng-minlength="2"
                                               required>
                                        <small class="error" ng-show="cabientAddress.city.$error.minlength">
                                            Must have at least 2 characters
                                        </small>

                                        <div>Panstwo:</div>
                                        <input name="country"
                                               ng-model="location.address.country"
                                               ng-minlength="2"
                                               required>
                                        </span>
                                        <small class="error" ng-show="cabientAddress.country.$error.minlength">
                                            Must have at least 2 characters
                                        </small>

                                    </ng-form>
                                </div>

                                <div class="open-hour">
                                    <div class="title">
                                        <span>Godziny otwarcia gabinetu</span>
                                    </div>
                                    <ul>
                                        <li ng-repeat="working in location.working_hours">
                                            <div class="delete">
                                                <a tooltip-animation="false"
                                                   tooltip="Skasuj godzine"
                                                   tooltip-popup-delay='1000'
                                                   ng-click="deleteValue(location.working_hours, working)">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </div>
                                        <span class="day">
                                             <select name="lang" ng-model="working.day" required>
                                                 <option ng-repeat="day in days"
                                                         ng-selected="{{day==working.day}}"
                                                         value="{{day}}">
                                                     {{day}}
                                                 </option>
                                             </select>
                                        </span>
                                        <span class="hour">
                                            <timepicker ng-model="working.startDate"
                                                        show-meridian="false"
                                                        hour-step="1"
                                                        minute-step="15"
                                                    />
                                            -
                                            <timepicker ng-model="working.endDate"
                                                        show-meridian="false"
                                                        hour-step="1"
                                                        minute-step="15"
                                                    />
                                        </span>
                                        </li>
                                    </ul>
                                    <div class="add">
                                        <a ng-click="addValue(location.working_hours)">
                                            <i class="icon-plus-circled"></i>Dodaj godziny
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <div class="box-right">
                                <div class="treatments">
                                    <div class="title">
                                        <span>Wykonywane zabiegi</span>
                                        <ul>
                                            <li ng-repeat="template in location.templates">
                                                <div class="intervention">
                                                    <div class="delete">
                                                        <a tooltip-animation="false"
                                                           tooltip="Skasuj zabieg"
                                                           tooltip-popup-delay='1000'
                                                           ng-click="deleteValue(location.templates, template)">
                                                            <i class="icon-trash"></i>
                                                        </a>
                                                    </div>
                                                    <input type="text"
                                                           ng-model="template.name"
                                                           placeholder="Nazwa zabiegu"
                                                           typeahead="templates for templates in templates"
                                                           typeahead-editable="true"
                                                            >
                                                </div>

                                                <div class="time">
													<span ng-repeat="duration in template.durations">
														{{duration}}
                                                           <div class="delete">
                                                               <a tooltip-animation="false"
                                                                  tooltip="Skasuj godzine"
                                                                  tooltip-popup-delay='1000'
                                                                  ng-click="deleteValue(template.durations, duration)"
                                                                       >
                                                                   <i class="icon-trash"></i>
                                                               </a>
                                                           </div>
													</span>
                                                    <input type="number" ng-model="newDuration">

                                                    <div class="add">
                                                        <a ng-click="addValue(template.durations, newDuration)">
                                                            <i class="icon-plus-circled"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="add">
                                            <a href="#" ng-click="addTemplate(location.templates)">
                                                <i class="icon-plus-circled"></i>Dodaj zabieg
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <a ng-click="addLocation(doctor.locations)">
                            <i class="icon-plus-circled"></i>Dodaj gabinet
                        </a>
                    </div>
                    <div class="add">
                        <a ng-disabled="cabinet.$invalid"
                           ng-click="save(doctor)">
                            <i class="icon-plus-circled"></i>Save
                        </a>
                    </div>
                </div>
            </form>
        </section>
        <!-- Section Page (calendar, members, ...) -->
    </div>
</section> <!--Main section -->