<footer>
    <div class="content">
        <a href="/" class="logo">
            <img src="images/logo-footer.png" alt="Hevicado">
            <br/>

            <div><span app-version></span></div>
        </a>

        <div class="wrapper">
            <ul>
                <li><a href="#main#about-us" translate>menu.about-us</a></li>
                <li><a href="#main#news" translate>menu.news</a></li>
            </ul>
        </div>
        <div class="wrapper">
            <ul>
                <li><a href="#main#benefits" translate>menu.benefits</a></li>
                <li><a href="#main#offer" translate>menu.offer</a></li>
            </ul>
        </div>
        <div class="wrapper">
            <ul>
                <li><a href="#main#payment" translate>menu.prices</a></li>
                <li><a href="#main#contact" translate>menu.contact</a></li>
            </ul>
        </div>
        <div class="wrapper">
            <ul>
                <li><a href="#" ui-sref="regulations" translate>menu.regulations</a></li>
            </ul>
        </div>
        <div class="social">
            <p translate>
                menu.social-info
            </p>

            <div class="icon">
                <a href="#" class="facebook"></a>
                <a href="https://twitter.com/Hevicado" class="twitter"></a>
            </div>
        </div>

    </div>
</footer>