<!-- TOP MENU -->
<header>
    <div class="content" ng-controller="UserInfoCtrl">
        <div class="logo">
            <p>{{info.last_name}}
            </p> <span>{{info.first_name}}</span>
        </div>
        <!-- Logo -->
        <nav>
            <ul>
                <li>
                    <a ui-sref="user-visits">
                        <i class="icon-newspaper"></i>
                        {{'menu.visits' | translate}}
                    </a>
                </li>
                <li>
                    <permission roles="doctor">
                        <a ui-sref="calendar-week">
                            <i class="icon-calendar"></i>
                            {{'menu.calendar' | translate}}
                        </a>
                        <ul class="subpage">
                            <li><a href="#" ui-sref="calendar-day.daily({ doctorId: info.id })" translate>menu.calendar-daily</a>
                            </li>
                            <li><a href="#" ui-sref="calendar-week({ doctorId: info.id })" translate>menu.calendar-weekly</a>
                            </li>
                            <li><a href="#" ui-sref="calendar-month({ doctorId: info.id })" translate>menu.calendar-monthly</a>
                            </li>
                        </ul>
                    </permission>
                </li>
                <li>
                    <permission roles="doctor">
                        <a ui-sref="edit-cabinet">
                            <i class="icon-monitor"></i>
                            {{'menu.cabinet' | translate}}
                        </a>
                    </permission>
                </li>
                <li>
                    <a>
                        <i class="icon-tools"></i>
                        {{'menu.account' | translate}}
                    </a>
                    <ul class="subpage">
                        <li><a href="#" ui-sref="user-profile" translate>menu.account-preferences</a></li>
                        <li><a href="#" ui-sref="pricing" translate>menu.account-payments</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" ui-sref="search-doctor">
                        <i class="icon-search"></i>
                        {{'generic.search' | translate}}
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Nav -->

        <div class="profile">
            <div class="pic-user">
                <img src="../../../../images/temp/user-1.jpg" alt="User profile">
            </div>
            <div class="action">
                <a ng-controller="LoginCtrl" ng-click="logout()"><i class="icon-logout"></i></a>
            </div>
        </div>
        <!-- Profile User -->
    </div>
</header>
<!-- Header -->