<!-- TOP MENU -->
<header>
    <div class="content" ng-controller="UserInfoCtrl">
        <h2 class="logo">
            <a href="/">
                <img src="images/logo.png" alt="Hevicado">
				<div class="beta">Beta</div>
            </a>
			
			<div class="rwd">
				{{'generic.responsive-warning' | translate}}
			</div>
        </h2>
		
		<div class="open-menu small-opened">
			<img src="images/open-menu.png" alt="Open">
		</div>
        <!-- Logo -->

        <nav class="product product-small">
            <permission roles="guest">
			<ul>
				<li><a href="#main#about-us" id="-about-us" translate>menu.about-us</a></li>
				<li><a href="#main#benefits" id="-benefits" translate>menu.benefits</a></li>
				<li><a href="#main#offer" id="-offer" translate>menu.offer</a></li>
				<li><a href="#main#payment" id="-payment" translate>menu.prices</a></li>
				<li><a href="#main#news" id="-news" translate>menu.news</a></li>
				<li><a href="#main#contact" id="-contact" translate>menu.contact</a></li>
			</ul>
        </nav>
        </permission>
        <permission roles="guest">
            <nav class="log_reg">
                <ul class="log_reg">
                    <li><a href="#" ui-sref="login" translate>login.login</a></li>
                    <li><a href="#" ui-sref="registration" translate>registration.registration</a></li>
                </ul>
            </nav>
        </permission>


        <nav class="product">
            <permission roles="user,doctor">
                <ul>
                    <li>
                        <a ui-sref="user-visits">
                            <i class="icon-newspaper"></i>
                            {{'menu.visits' | translate}}
                        </a>
                    </li>
                    <li>
                        <permission roles="doctor">
                            <a ui-sref="calendar-week">
                                <i class="icon-calendar"></i>
                                {{'menu.calendar' | translate}}
                            </a>
                            <ul class="subpage">
                                <li><a href="#" ui-sref="calendar-day.daily({ doctorId: info.id })" translate>menu.calendar-daily</a>
                                </li>
                                <li><a href="#" ui-sref="calendar-week({ doctorId: info.id })" translate>menu.calendar-weekly</a>
                                </li>
                                <li><a href="#" ui-sref="calendar-month({ doctorId: info.id })" translate>menu.calendar-monthly</a>
                                </li>
                            </ul>
                        </permission>
                    </li>
                    <li>
                        <permission roles="doctor">
                            <a ui-sref="edit-cabinet">
                                <i class="icon-monitor"></i>
                                {{'menu.cabinet' | translate}}
                            </a>
                            <ul class="subpage">
                                <li>
                                    <a ui-sref="cabinet({ doctorId: info.id })">
                                        {{'menu.cabinet-preview' | translate}}
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="edit-cabinet">
                                        {{'generic.change' | translate}}
                                    </a>
                                </li>
                            </ul>
                        </permission>
                    </li>
                    <li>
                        <a>
                            <i class="icon-tools"></i>
                            {{'menu.account' | translate}}
                        </a>
                        <ul class="subpage">
                            <li><a href="#" ui-sref="user-profile" translate>menu.account-preferences</a></li>
                            <li><a href="#main#payment" translate>menu.account-payments</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" ui-sref="search-doctor">
                            <i class="icon-search"></i>
                            {{'generic.search' | translate}}
                        </a>
                    </li>
                </ul>
            </permission>
        </nav>

        <!-- Nav -->

        <div class="profile">
            <permission roles="user,doctor">
                <p>{{info.last_name}}
                    {{info.first_name}}</p>

                <div class="action">
                    <a ng-controller="LoginCtrl" ng-click="logout()"><i class="icon-logout"></i>{{'generic.logout' |
                        translate}}</a>
                </div>
            </permission>
        </div>
        <!-- Profile User -->
		
		
    </div>
</header>
<!-- Header -->