<!-- TOP MENU -->
<header>
    <div class="content">
        <div class="logo" ng-controller="UserInfoCtrl">
            <p>{{info.last_name}}
            </p> <span>{{info.first_name}}</span>
        </div>
        <!-- Logo -->
        <nav>
            <ul>
                <li>
                    <a ui-sref="user-visits">
                        <i class="icon-newspaper"></i>
                        Visit
                    </a>
                </li>
                <li>
                    <a ui-sref="calendar-week">
                        <i class="icon-calendar"></i>
                        Calendar
                    </a>
                    <ul class="subpage">
                        <li><a href="#" ui-sref="calendar-day.visits">Daily</a></li>
                        <li><a href="#" ui-sref="calendar-week">Weekly</a></li>
                        <li><a href="#" ui-sref="calendar-month">Monthly</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="cabinet">
                        <i class="icon-monitor"></i>
                        Cabinet
                    </a>
                </li>
                <li>
                    <a>
                        <i class="icon-tools"></i>
                        My account
                    </a>
                    <ul class="subpage">
                        <li><a href="#" ui-sref="user-profile">Preferences</a></li>
                        <li><a>Payments</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" ui-sref="search-doctor">
                        <i class="icon-search"></i>
                        Search
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Nav -->

        <div class="profile">
            <div class="pic-user">
                <img src="images/temp/user-1.jpg" alt="User profile">
            </div>
            <div class="action">
                <a ng-controller="LoginCtrl" ng-click="logout()"><i class="icon-logout"></i></a>
            </div>
        </div>
        <!-- Profile User -->
    </div>
</header>
<!-- Header -->