<section id="main-content" class="calendar">
<div class="content">
<div class="main">
<div class="row-bg-white">
<div class="row-content">
<div class="calendar-hour">
<div class="year">
    <a href="#"><i class="icon-left-open"></i></a>
    2013
    <a href="#"><i class="icon-right-open"></i></a>
</div>
<div class="view">
    Change view:
    <a href="#">
        <i class="icon-doc-text"></i>Short
    </a><span>/</span>
    <a href="#">
        <i class="icon-book-open"></i>Full
    </a>
</div>
<div class="month">
    <ul>
        <li><a href="#">Jan</a></li>
        <li><a href="#">Feb</a></li>
        <li><a href="#">Mar</a></li>
        <li><a href="#">Apr</a></li>
        <li><a href="#">May</a></li>
        <li><a href="#">Jun</a></li>
        <li><a href="#">Jul</a></li>
        <li><a href="#">Aug</a></li>
        <li><a href="#">Sep</a></li>
        <li><a href="#">Oct</a></li>
        <li><a href="#">Nov</a></li>
        <li><a href="#">Dec</a></li>
    </ul>
</div>
<div class="pagination">
    <a href="#" class="prev-week">
        <i class="icon-left-open"></i>Preview week
    </a>
    <a href="#" class="next-week">
        Next week<i class="icon-right-open"></i>
    </a>
</div>
<table>
    <tr>
        <td>Note</td>
        <td>
            <div class="note-box">
                <a href="#" class="read-note-link">
                    <i class="icon-comment"></i>(2)
                </a>
                <a href="#" class="add-new-note">
                    <i class="icon-plus-circled"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="note-box">
                <a href="#" class="add-new-note">
                    <i class="icon-plus-circled"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="note-box">
                <a href="#" class="add-new-note">
                    <i class="icon-plus-circled"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="note-box">
                <a href="#" class="add-new-note">
                    <i class="icon-plus-circled"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="note-box">
                <a href="#" class="add-new-note">
                    <i class="icon-plus-circled"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="note-box">
                <a href="#" class="read-note-link">
                    <i class="icon-comment"></i>(5)
                </a>
                <a href="#" class="add-new-note">
                    <i class="icon-plus-circled"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="note-box">
                <a href="#" class="add-new-note">
                    <i class="icon-plus-circled"></i>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <th>Hour</th>
        <th class="select">Mon / 22.05.2014</th>
        <th>Tue / 23.05.2014</th>
        <th>Wed / 24.05.2014</th>
        <th>Thu / 25.05.2014</th>
        <th>Fri / 26.05.2014</th>
        <th>Sat / 27.05.2014</th>
        <th>Sun / 28.05.2014</th>
    </tr>
</table>
<table>
    <tr>
        <td>
            <div class="box">8:00</div>
            <div class="box">9:00</div>
            <div class="box">10:00</div>
            <div class="box">11:00</div>
            <div class="box">12:00</div>
            <div class="box">13:00</div>
            <div class="box">14:00</div>
            <div class="box">15:00</div>
            <div class="box">16:00</div>
            <div class="box">17:00</div>
            <div class="box">18:00</div>
            <div class="box">19:00</div>
            <div class="box">20:00</div>
        </td>
        <td class="select">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </td>
        <td>
            <div class="box hour"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </td>
        <td>
            <div class="box hour"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </td>
        <td>
            <div class="box hour"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </td>
        <td>
            <div class="box hour"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </td>
        <td>
            <div class="box hour"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </td>
        <td>
            <div class="box hour"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </td>
    </tr>
</table>
</div>
</div>
</div>
</div>
</div>
<a href="#" class="back-to-top">Top</a>
</section> <!-- Main Content -->